<%= form_for @cliente, remote: true, :html=> { :class=>'form-horizontal form-label-left', :role=>"form"  } do |f| %>
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="col-xs-9">
<div class="tab-content">
<div class="tab-pane active" id="generales">
  <div class="item form-group">
    <h2 class="control-label col-md-3 col-sm-3 col-xs-12">Datos generales del Cliente:</h2>
  </div>

  <div class="item form-group<%= @cliente.errors[:nombre].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :nombre, "Nombre(s)*: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :nombre, {id: "nombre", class: "form-control col-md-7 col-xs-12 text_field first_input", :placeholder=>"Nombre o nombres del cliente..."} do%>
      <%end%>
      <%if @cliente.errors[:nombre].any? %>
        <p class="bg-danger"><%= @cliente.errors[:nombre].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:ape_pat].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :ape_pat, "Apellido paterno*: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-male"></i></span>
      <%= f.text_field :ape_pat, {id: "ape_pat", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Apellido paterno del cliente..."} do%>
      <%end%>
      <%if @cliente.errors[:ape_pat].any? %>
        <p class="bg-danger"><%= @cliente.errors[:ape_pat].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:ape_mat].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :ape_mat, "Apellido materno*: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-female"></i></span>
      <%= f.text_field :ape_mat, {id: "ape_mat", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Apellido materno del cliente..."} do%>
      <%end%>
      <%if @cliente.errors[:ape_mat].any? %>
        <p class="bg-danger"><%= @cliente.errors[:ape_mat].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:fecha_nac].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :fecha_nac, "Fecha de nacimiento: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <%= f.date_picker :fecha_nac, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"fecha de nacimiento..."} do%>
      <%end%>
      <%if @cliente.errors[:fecha_nac].any? %>
        <p class="bg-danger"><%= @cliente.errors[:fecha_nac].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group">
    <h2 class="control-label col-md-3 col-sm-3 col-xs-12">Dirección del Cliente:</h2>
  </div>

  <div class="item form-group<%= @cliente.errors[:direccionCalle].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :direccionCalle, "Calle: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-road"></i></span>
      <%= f.text_field :direccionCalle, {id: "direccionCalle", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Calle..."} do%>
      <%end%>
      <%if @cliente.errors[:direccionCalle].any? %>
        <p class="bg-danger"><%= @cliente.errors[:direccionCalle].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:direccionNumeroExt].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :direccionNumeroExt, "Número exterior: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-home"></i></span>
      <%= f.text_field :direccionNumeroExt, {id: "direccionNumeroExt", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Número exterior..."} do%>
      <%end%>
      <%if @cliente.errors[:direccionNumeroExt].any? %>
        <p class="bg-danger"><%= @cliente.errors[:direccionNumeroExt].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:direccionNumeroInt].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :direccionNumeroInt, "Número interior: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-home"></i></span>
      <%= f.text_field :direccionNumeroInt, {id: "direccionNumeroInt", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Número interior..."} do%>
      <%end%>
      <%if @cliente.errors[:direccionNumeroInt].any? %>
        <p class="bg-danger"><%= @cliente.errors[:direccionNumeroInt].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:direccionColonia].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :direccionColonia, "Colonia: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-tree"></i></span>
      <%= f.text_field :direccionColonia, {id: "direccionColonia", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Colonia del cliente..."} do%>
      <%end%>
      <%if @cliente.errors[:direccionColonia].any? %>
        <p class="bg-danger"><%= @cliente.errors[:direccionColonia].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:direccionMunicipio].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :direccionMunicipio, "Municipio: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-building"></i></span>
      <%= f.text_field :direccionMunicipio, {id: "direccionMunicipio", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Municipio de la dirección del cliente..."} do%>
      <%end%>
      <%if @cliente.errors[:direccionMunicipio].any? %>
        <p class="bg-danger"><%= @cliente.errors[:direccionMunicipio].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:direccionDelegacion].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :direccionDelegacion, "Delegación: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-building"></i></span>
      <%= f.text_field :direccionDelegacion, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Delegación del cliente si existe..."} do%>
      <%end%>
      <%if @cliente.errors[:direccionDelegacion].any? %>
        <p class="bg-danger"><%= @cliente.errors[:direccionDelegacion].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:direccionEstado].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :direccionEstado, "Estado: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
      <%= f.text_field :direccionEstado, {id: "direccionEstado", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Estado de residencia..."} do%>
      <%end%>
      <%if @cliente.errors[:direccionEstado].any? %>
        <p class="bg-danger"><%= @cliente.errors[:direccionEstado].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:direccionCp].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :direccionCp, "Código postal: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-navicon"></i></span>
      <%= f.text_field :direccionCp, {id: "direccionCp", class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "C.P...."} do%>
      <%end%>
      <%if @cliente.errors[:direccionCp].any? %>
        <p class="bg-danger"><%= @cliente.errors[:direccionCp].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group">
    <h2 class="control-label col-md-3 col-sm-3 col-xs-12">Datos de contacto:</h2>
  </div>

  <div class="item form-group<%= @cliente.errors[:telefono1].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :telefono1, "Teléfono 1: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      <%= f.text_field :telefono1, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Teléfono del cliente"} do%>
      <%end%>
      <%if @cliente.errors[:telefono1].any? %>
        <p class="bg-danger"><%= @cliente.errors[:telefono1].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:telefono2].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :telefono2, "Teléfono 2: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      <%= f.text_field :telefono2, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Teléfono del cliente"} do%>
      <%end%>
      <%if @cliente.errors[:telefono2].any? %>
        <p class="bg-danger"><%= @cliente.errors[:telefono2].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @cliente.errors[:email].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :email, "Email: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-9 col-sm-9 col-xs-12 input-group">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <%= f.email_field :email, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "email del cliente"} do%>
      <%end%>
      <%if @cliente.errors[:email].any? %>
        <p class="bg-danger"><%= @cliente.errors[:email].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>



</div>

<div class="tab-pane" id="facturación">

    <div class="item form-group">
      <h2 class="control-label col-md-3 col-sm-3 col-xs-12">Datos Fiscales:</h2>
    </div>


    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Nombre Fiscal:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input name="nombreFiscal_f" id="nombreFiscal_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Nombre, denominación o razón social." required>
      </div>
    </div>

    <div class="item form-group " id="errorRFC">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">R.F.C.:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input name="rfc_f"  type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Clave del Registro Federal del Contribuyente" id="rfc_input" required>
      </div>
    </div>

    <div class="item form-group">
      <h2 class="control-label col-md-3 col-sm-3 col-xs-12">Dirección Fiscal:</h2>
      <div align="right">
      <button class="btn btn-success" id="btn_usarDireccion" type="button">
         <i class="fa fa-hand-o-down"></i> Usar misma dirección
       </button>
       </div>
    </div>

    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Calle:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-road"></i></span>
        <input name="calle_f" id="calle_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Calle del cliente...">
      </div>
    </div>
    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Número exterior:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
        <input name="numExterior_f" id="numExterior_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Número exterior...">
      </div>
    </div>
    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Número interior:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
        <input name="numInterior_f" id="numInterior_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Número interior si existe...">
      </div>
    </div>
    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Colonia:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-tree"></i></span>
        <input name="colonia_f" id="colonia_f"  type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Colonia del cliente...">
      </div>
    </div>
    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Localidad:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-building"></i></span>
        <input name="localidad_f" id="localidad_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Localidad del cliente...">
      </div>
    </div>
    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">C.P.:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-navicon"></i></span>
        <input name="codigo_postal_f" id="codigo_postal_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Código postal">
      </div>
    </div>
    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Municipio:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-building"></i></span>
        <input name="municipio_f" id="municipio_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Municipio de la dirección fiscal del cliente.">
      </div>
    </div>
    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Estado:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
        <input name="estado_f" id="estado_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Estado de la dirección fiscal del cliente.">
      </div>
    </div>

    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">País:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-navicon"></i></span>
        <input name="pais_f" id="pais_f" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="País del cliente...">
      </div>
    </div>
    <div class="item form-group ">
      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Referencia:</label>
      <div class="col-md-9 col-sm-9 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-navicon"></i></span>

        <textarea name="referencia_f" id="referencia_f"  class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Una referencia, ejemplo: A un lado del negocio..."></textarea>
      </div>
    </div>
</div>
</div>
  <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">

    <%= f.submit @cliente.new_record? ? "Crear cliente" : "Actualizar cliente", :class => "btn btn-success", id:"RFC_Opcional"%>
  </div>


</div>
  <div class="col-xs-3" align="center">

    <ul class="nav nav-tabs tabs-right">
      <li class="active"><a href="#generales" data-toggle="tab">Datos básicos</a></li>

      <li><a href="#facturación" data-toggle="tab">Datos de facturación</a></li>



  </div>

</div>
<% end %>

<%= javascript_include_tag "validador_RFC" %>

<%= javascript_include_tag "clientes" %>
