<tr id="categoria_merma_<%= categoria_merma.id%>" class="rowsearch">
  <td style="text-align: center;"><%= categoria_merma.categoria %></td>
  <td style="text-align: center;"><%= categoria_merma.descripcion %></td>
  </td>
  
  <td style="text-align: center;">
    <% if can? :create, categoria_merma %>
      <%= link_to 'Editar', edit_categoria_merma_path(categoria_merma), html_options = {class: "btn btn-info btn-xs", remote: true} %><i class="fa fa-pencil"></i>
    <% end %>
  </td>

  <td style="text-align: center;">
    <% if can? :destroy, categoria_merma %>
      <%= link_to 'Borrar', categoria_merma, remote: true, method: :delete, data: { confirm: "¿Borrar categoria: #{categoria_merma.categoria}?"}, class: "btn btn-danger btn-xs" %><i class="fa fa-trash-o">
    <% end %>
  </td>

</tr>