<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Bancos</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div>
      <p id="notice"><%= notice %></p>

      <table class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th class="column-title">Tipo de cuenta</th>
            <th class="column-title">Nombre de cuenta</th>
            <th class="column-title">Número de cuenta</th>
            <th class="column-title">Saldo Inicial</th>
            <th class="column-title">Fecha</th>
            <th class="column-title">Descripcion</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @bancos.each do |banco| %>
            <tr>
              <td><%= banco.tipoCuenta %></td>
              <td><%= banco.nombreCuenta %></td>
              <td><%= banco.numeroCuenta %></td>
              <td><%= banco.saldoInicial %></td>
              <td><%= banco.fecha %></td>
              <td><%= banco.descripcion %></td>
              <td><%= link_to 'Mostrar', banco, class: "btn btn-primary btn-xs" %><i class="fa fa-folder"></i></td>
              <td><%= link_to 'Editar', edit_banco_path(banco), class: "btn btn-info btn-xs" %><i class="fa fa-pencil"></i></td>
              <td><%= link_to 'Borrar', banco, method: :delete, data: { confirm: '¿Está seguro de borrar este banco?' }, class: "btn btn-danger btn-xs" %><i class="fa fa-trash-o"></i></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Nuevo Banco', new_banco_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
