<tr id="clave_prod_serv_<%= clave_prod_serv.id%>" class="rowsearch">
  <td style="text-align: center;"><%= clave_prod_serv.clave %></td>
  <td style="text-align: center;"><%= clave_prod_serv.nombre %></td>
  </td>

  <td style="text-align: center;">
    <% if can? :create, clave_prod_serv %>
      <%= link_to 'Editar', edit_clave_prod_serv_path(clave_prod_serv), html_options = {class: "btn btn-info btn-xs", remote: true} %><i class="fa fa-pencil"></i>
    <% end %>
  </td>

  <td style="text-align: center;">
    <% if can? :destroy, clave_prod_serv %>
        <%= link_to 'Borrar', clave_prod_serv, remote: true, method: :delete, data: { confirm: "¿Está seguro que desea borrar: #{clave_prod_serv.nombre}?"}, class: "btn btn-danger btn-xs" %><i class="fa fa-trash-o">
    <% end %>
  </td>

</tr>
