<%= form_for @config_comprobante, remote: true do |f| %>

  <% if @config_comprobante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@config_comprobante.errors.count, "error") %> prohibited this config_comprobante from being saved:</h2>

      <ul>
      <% @config_comprobante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-4 col-sm-4 col-xs-12" >
  <div class="row" style="padding-bottom:10px;">
        <%= f.label :lbl_tipo_fuente, "Tipo de letra: ", class:"control-label col-md-5 col-sm-5 col-xs-12"%>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <%= select_tag :tipo_fuente, '<optgroup label="sans-serif"><option value="Arial, Helvetica, sans-serif">Arial</option></optgroup><optgroup label="serif"> <option value= "Times New Roman, Times, serif">Times New Roman</option></optgroup><optgroup label="monospace"> <option value="Courier New, Courier, monospace">Courier New</option></optgroup>'.html_safe,  class: 'form-control' %>
        </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
        <%= f.label :lbl_tam_fuente, "Tamaño de letra: ", class:"control-label col-md-5 col-sm-5 col-xs-12"%>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <%= select_tag :tam_fuente, "<option>Grande</option><option>Normal</option><option>Pequeña</option>".html_safe,  class: 'form-control' %>
        </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
        <%= f.label :lbl_color_fondo, "Color de fondo: ", class:"control-label col-md-5 col-sm-5 col-xs-12"%>
    <div class="col-md-7 col-sm-7 col-xs-12">
        <%= color_field_tag 'color_fondo', @color_fondo, style:"height:33px;", class:"control-label col-md-12 col-sm-12 col-xs-12", id:"color_fondo"%>
    </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
        <%= f.label :lbl_color_banda, "Color de línea: ", class:"control-label col-md-5 col-sm-5 col-xs-12"%>
    <div class="col-md-7 col-sm-7 col-xs-12">
        <%= color_field_tag 'color_banda', @color_banda, style:"height:33px;", class:"control-label col-md-12 col-sm-12 col-xs-12",id:"color_banda"%>
    </div>
  </div>
  <div class="row" style="padding-bottom:10px;">
        <%= f.label :lbl_color_titulos, "Color de títulos: ", class:"control-label col-md-5 col-sm-5 col-xs-12"%>
    <div class="col-md-7 col-sm-7 col-xs-12">
        <%= color_field_tag 'color_titulos', @color_titulos, style:"height:33px;", class:"control-label col-md-12 col-sm-12 col-xs-12", id:"color_titulos"%>
    </div>
  </div>
  <div class="actions" align="center">
    <input class="btn btn-default" value="Cancelar" type="reset">

    <%= f.submit "Guardar Cambios", :class=>"btn btn-success active" %>
  </div>
</div>
<div>
<!--Se previsualiza una representación impresa-->

  <div class="col-md-8 col-sm-8 col-xs-12 panel panel-default" id="cat_font" style='overflow-x:scroll;overflow-y:scroll; height:400px; font-family: <%= @tipo_fuente %>;'>

  <table  min-width="100%" width="100%" id="tablaRaiz">
  <tr>
  <td ><img src="http://kodikas.com.mx/wp-content/uploads/2016/06/logo-versio%CC%81n-2.png" height="120" width="120"></td>
  <td align="right">
    <table id="negocio">
      <tr><th   style="font-size:18px; text-align:center;">KODIKAS Software & Hardware </th> </tr>
      <tr ><td> <b>R.F.C.</b> XAXX010101000</td></tr>
      <tr ><td> <b>REGIMEN: </b> 601 - General de ley personas morales </td></tr>
      <tr><td > <b>DIRECCIÓN: </b>  Av. Córdoba  No. 2, entre Avenida Citlaltepetl y Blvd Fortín de las flores, Fracc. Fortín de las flores, C.P. 94474, Fortín de las fores, Ver.</td></tr>
      <tr><td > <b>TELÉFONO:</b>  (229)272709 <b>EMAIL: </b>jvazquez@kodikas.com.mx</td></tr>
      <tr><td > <b>PÁGINA WEB: </b>kodikas.com.mx</td></tr>
    </table>
  </td>
  <td>
    <table width="230px"  class="serieFolio" style="border: solid 1px <%= @color_fondo %>;">
      <tr><th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>; font-size:18px;" class="fondos_titulos">Factura global 3.3</th></tr>
      <tr><th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Serie: MTZFG</th></tr>
      <tr><th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Folio: 1</th></tr>
      <tr><th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Fecha y hora: 2018-07-05T06:06:16</th></tr>
    </table>
  </td>
  </tr>
  <tr >
    <table with="100%" style="border: solid 1px <%= @color_fondo %>;" border="1" >
      <thead><tr><th colspan="4" style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Lugar de expedición:</th></tr></thead>
      <tbody class="emisor">
        <tr> <th align="right">Dirección: </th>
          <td colspan="3">Av. Córdoba  No. 2, entre Avenida Citlaltepetl y Blvd Fortín de las flores, Fracc. Fortín de las flores, C.P. 94474, Fortín de las fores, Ver.</td>
        </tr>
        <tr><th align="right">Teléfono:</th><td>(229)272709</td><th align="right">Email:</th> <td>jvazquez@kodikas.com.mx</td></tr>
      </tbody>
    </table>
  </tr>
  <tr>
    <table style="border: solid 1px <%= @color_fondo %>;" width="100%" border="1">
      <thead><tr><th colspan="4" style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Receptor</th></tr></thead>
      <tbody>
        <tr><th align="right">R.F.C.: </th><td>XAXX010101000</td> <th align="right">Nombre:  </th><td>Juan Pérez Martínez</td></tr>
        <tr> <th align="right">Dirección: </th>
          <td colspan="3">Av. Córdoba  No. 2, entre Avenida Citlaltepetl y Blvd Fortín de las flores, Fracc. Fortín de las flores, C.P. 94474, Fortín de las fores, Ver.</td>
        </tr>
        <tr><th align="right">Uso CFDI:  </th><td colspan="3">P01 - Por definir</td></tr>
         <tr><th align="right">Teléfono:</th><td>(229)272709</td><th align="right">Email:</th> <td>jvazquez@kodikas.com.mx</td></tr>
      </tbody>
      </tbody>
  </table></tr>
  <tr>
    <table style="border: solid 1px <%= @color_fondo %>;" width="100%">
      <thead><tr>
      <th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Cantidad</th>
      <th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Clave Prod</th>
      <th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Unidad</th>
      <th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Descripción</th>
      <th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Precio</th>
      <th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Desc.</th>
      <th style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="fondos_titulos">Importe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border-bottom: 1px solid <%= @color_fondo %>;" align="center" class="conceptos">3.00</td>
        <td style="border-bottom: 1px solid <%= @color_fondo %>;" align="center" class="conceptos">50161813</td>
        <td style="border-bottom: 1px solid <%= @color_fondo %>;" align="center" class="conceptos">Pieza</td>
        <td style="border-bottom: 1px solid <%= @color_fondo %>;" align="center" class="conceptos">Chocolate para fresas</td>
        <td style="border-bottom: 1px solid <%= @color_fondo %>;" align="right" class="conceptos">$ 7.67</td>
        <td style="border-bottom: 1px solid <%= @color_fondo %>;" align="right" class="conceptos">$ 0.00</td>
        <td style="border-bottom: 1px solid <%= @color_fondo %>;" align="right" class="conceptos">$ 23.01</td>
      </tr>
    </tbody>
      <tr>
        <td colspan="5" align="left"><b>FORMA DE PAGO: </b></td>
        <th align="right">SubTotal:</th>
        <td align="right">$ 23.01</td>
      </tr>
      <tr>
        <td colspan="5" align="left"><b>MÉTODO DE PAGO: </b></td>
        <th align="right">Descuento:</th>
        <td align="right">$ 0.00</td>
      </tr>
      <tr>
        <td colspan="5" align="right">TRASLADOS: </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <th align="right">IEPS 30.4 % </th>
        <td align="right">$ 6.99</td>
      </tr>
      <tr id="total">
        <td colspan="5" align="center" style="font-size:12px;"></td>
        <th align="right" style="font-size:18px;"><b>Total:</b></th>
        <td align="right"><b>$ 30.00</b></td>
      </tr>
    </table>
  </tr>
  <!-- Banda de color -->
  <hr style="border:4px solid <%= @color_banda %>; " id="banda">
  <p class="condicionesDePago">Sera marcada como pagada en cuanto el receptor haya cubierto el pago.</p>
  <br>
  <div style="border-top: solid 1px <%= @color_fondo %>;" class="firma">(FIRMA DE CONFORMIDAD)</div>

  <table style="border: solid 1px <%= @color_fondo %>;" id="sellosDig" width="100%">
  <td>
    <table width="100%" id="tablaInternaSellos">
      <tr>
      <td rowspan="6"><img src="" height="120" width="120"></td>
      <th class="certificados_folio">Folio fiscal: </th>
      <td style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" align="left" class="fondos_titulos">A6D0C9AC-8A19-4E72-84AC-0709C3BB4FFF</td>
      </tr>
      <tr>
      <th class="certificados_folio">Fecha y hora de certificación:  </th>
      <td align="left"><small>2018-07-05T06:06:29</small></td>
      </tr>
      <tr>
      <th class="certificados_folio">No. de serie del Certificado de Sello Digital: </th>
      <td align="left"><small>30001000000300023708</small></td>
      </tr>
      <tr>
      <th class="certificados_folio">No. de serie del Certificado de Sello Digital del SAT: </th>
      <td align="left"><small>20001000000300022323</small></td>
      </tr>
    </table>
  </td>
    <tr colspan="3" ><th class="sellos_cadena">Sello Digital del CFDI:</th></tr>
    <tr colspan="3"><td class="paddingTablas" id="text-transform"><small>fULf/YJ/e70gvlcMcQbXvasYG5b59njzgLx/fVXpyX4IgyBADwexqvqiqBlC6GXWqylcZcp17jwA5FT5eznVKNO2Fe+XvRW/BLpU1EooTWyHkNdOiOVkzwvZKxWmmBKbPSnU4zkNs9AqJu4G
1ApAnBIqYRE20RtvP/jHtWPqJ0Uo1AWnyvbpsAhXI5maYfhIkG6igsGIaXtA7U+MTqpy2clvFzxB/MYwaP9rBBLwpn/8n5Pml8hMHCRThzktFGmHleAiNIL/465jnOcC0el5mFLYeBSiN6W2Vy
plr9Crri3thGmr6XbxO/ehnVi+tVnH/gCkkNv1uADWXK4ClsZrQQ==</small></td></tr>
    <tr colspan="3"><th class="sellos_cadena">Sello Digital del SAT:</th></tr>
    <tr colspan="3"><td class="paddingTablas" id="text-transform"><small>nO7Krpvb2dHtfFaKRcFZhBgTapXJkW5xHhBPkygHRLvueWhCdOo5A790Vq+kab9bX2DtkqkI+RVGn1unhoDpGuNMMpcQe4zGHYjVj+CUCIqw4NFobiBAp3wYe9BFMKi9zb8uRCGGykUl
2tpE+flVgpCbXe0ynA9B0VBhQbikAbPdrqzG7KEm0dUjBu5Rr52N7m8vrjZOHrNcqnkWHoYr6u+DxYwPI4SnHPxoPuF2VVmWNdAlWDoc58eo0/sgZMgcspO9jT+zbKuOPP+AJGHM9Jene
Pm0GIAF5oZnjFUMuggwaQlNbrnxCNSteiSWIFFsISJD6gatlEt3sftv0Mrb0A==</small></td></tr>
    <tr colspan="3"><th class="sellos_cadena">Cadena original del complemento de certificación digital del SAT:</th></tr>
    <tr colspan="3"><td class="paddingTablas" id="text-transform"><small>||1.1|E48F7C30-AC0A-4D8E-9073-E105DF254B45|2018-06-19T20:29:31|IAD121214B34|fULf/YJ/e70gvlcMcQbXvasYG5b59njzgLx/fVXpyX4IgyBADwexqvqiqBlC6GXWqylcZcp17jwA5
FT5eznVKNO2Fe+XvRW/BLpU1EooTWyHkNdOiOVkzwvZKxWmmBKbPSnU4zkNs9AqJu4G1ApAnBIqYRE20RtvP/jHtWPqJ0Uo1AWnyvbpsAhXI5maYfhIkG6igsGIaXtA7U+MTqpy2clvFzx
B/MYwaP9rBBLwpn/8n5Pml8hMHCRThzktFGmHleAiNIL/465jnOcC0el5mFLYeBSiN6W2Vyplr9Crri3thGmr6XbxO/ehnVi+tVnH/gCkkNv1uADWXK4ClsZrQQ==|2000100000030002232
3||</small></td></tr>
  </table>
  </table>
  <div style="color: <%= @color_titulos %>; background-color: <%= @color_fondo %>;" class="leyenda fondos_titulos"><center>ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI.</center></div>

  </div>
</div>
<% end %>

<style media="screen">
  /*Correctos*/
  .h1 {
      font-size: 12px;
      color:white;
      }
  .hr{
    border:4px solid #EC971F;
  }
  .fondos_titulos{
    background-color: #204D74;
    color:white;
    text-align: center;
  }
  td {
    border:none;
    font-weight: normal;

  }
  table {
      color:#000 ;
      font-size: 12px;
      border-collapse:collapse;
      /*border:1px solid #204D74;*/
      margin-top: 15px;
  }
  .sellos_cadena{
    text-align: center;
  }
  .certificados_folio {
    text-align: right;
  }

th{
  text-transform: uppercase;
  border:none;
  font-weight: bold;
}

.leyenda{
  line-height: 25px;
  color:white;
  font-size: 12px;
  /*background-color: #204D74;*/
}
.firma{
  width: 30%;
  /*border-top:1px solid #204D74;*/
  font-size: 12px;
  text-align: center;
  color: #000;
  font-weight: normal;

}
.condicionesDePago{
  font-size: 10px;
  color: #000;
  font-weight: normal;
}
.conceptos{
   /*border-bottom: solid 1px #204D74 ;*/
}
.serieFolio{
  margin-top: 0px;
  /*background-color: #204D74;*/
  color:white;
}
.emisor{
  border:none;
}
.concep :nth-child(even){
  /*background-color: #A3CC5B;*/
  /*color: black;*/
  text-align: center;

}
.concep :nth-child(odd){
  /*background-color:white;*/
  color: black;
  text-align: center;
}
.paddingTablas{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
#negocio{
    border:none;
    margin-top: 0px;
    word-break: break-all;
    text-align: center;
}
#tablaRaiz{
  border:none;
}
#total{
  font-size: 18 !important;
}
#sellosDig{
  font-size: 10;
  word-break: break-all;

}
#text-transform{
  text-transform: none !important;
}
#tablaInternaSellos{
  font-size: 10;
  border:none !important;
  width: 100%;
  margin: 0px !important;
}

</style>

<script type="text/javascript">


  $(document).ready(function(){
    //Cambia el color de fondo de los comprobantes
    $("#color_fondo").change(function(){
      $(".fondos_titulos").css('background', $(this).val());
      $(".firma").css('border-top', '1px solid ' + $(this).val());
      $("table").css('border', '1px solid ' + $(this).val());
      $(".conceptos").css('border-bottom', '1px solid ' + $(this).val());
      $("#negocio").css('border', 'none');
      $("#tablaRaiz").css('border', 'none');
    });
    //Cambia el color de los títulos
    $("#color_banda").change(function(){
      $("#banda").css('border', '3px solid ' + $(this).val());
    });
    //Color de Títulos
    $("#color_titulos").change(function(){
      $(".fondos_titulos").css('color', $(this).val());
    });
    $('select#tipo_fuente').on('change',function(){
        var valor = $(this).val();

        document.getElementById("cat_font").style.fontFamily = valor;
        /*
        if (valor == "Arial"){
          document.getElementById("cat_font").style.fontFamily = "Arial, Helvetica, sans-serif";
        }
        if (valor == "Times New Roman"){
          document.getElementById("cat_font").style.fontFamily = "Times New Roman, Times, serif";
        }
        if (valor == "Courier New"){
          document.getElementById("cat_font").style.fontFamily = "Courier New, Courier, monospace";
        }*/
        //Ocultar cuando no este seleccionado ninguno
    });

   });

</script>
