<%= form_tag({ controller: "plantillas_emails", action: "update", id: @plantillas_email.id }, {:class=> "form-horizontal", :method => :put, remote: true}) do %>
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">

      <%= label_tag :asunto_email, "Asunto: ", class:"control-label col-md-2 col-sm-2 col-xs-12", style:"text-align:right;"%>
      <div class="input-group col-md-10 col-sm-10 col-xs-12" style="font-size: 12px; font-weight: bold;">
        <!--span class="input-group-addon"><i class="fa fa-pencil"> </i></span-->
        <!-- f.text_field :asunto_email, class:'form-control text_field'-->
           <%= text_area_tag :asunto_email, @asunto,{class:'form-control text_field',id:"summernote_asunto" }%>
        <!--f.text_area :asunto_email, class:'form-control text_field', id:"summernote_asunto"%-->
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <%= label_tag :msg_email, "Su mensaje: ", class:"control-label col-md-2 col-sm-2 col-xs-12",  style:"text-align:right;"%>
      <div class="input-group col-md-10 col-sm-10 col-xs-12" style="font-size: 12px;">
         <!--textarea id="summernote" name="summernote"></textarea-->
        <%= text_area_tag :summernote, @mensaje , {class:'form-control text_field', id: "summernote"}%>
      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12" style="color:black;  font-weight: normal; text-align: justify; font-size: 12px;">
    <p>
        El texto que aparece dentro de dobles corchetes no debe de ser modificado porque será reemplazado automáticamente por el sistema con los datos reales de las operaciones.
    </p>
    <p> Por esa razón <b>{{Nombre del cliente}}</b> será reemplazado por <b>"Juan Pérez Martínez"</b>, suponiendo que ese es el nombre de la persona a quien fue expedida la factura.</p>
  </div>

  </div>
  <div class="actions" align="center">
    <%= submit_tag "Cancelar", :class => "btn btn-default"%>
    <%= submit_tag "Usar la plantilla por defecto", :class => "btn btn-default"%>
    <%= submit_tag "Guardar Cambios", :class=>"btn btn-success active", :id => "btn_guardar_plantilla"%>
  </div>
 <% end %>
<!-- En la carpeta de javascripts solo debe de existir un archivo .js o .coffee-->
<%= javascript_include_tag "plantillas_emails" %> <!-- config => initializer => assets-->