<%= form_for @plantillas_email do |f| %>

  <% if @plantillas_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plantillas_email.errors.count, "error") %> prohibited this config_comprobante from being saved:</h2>
      <ul>
      <% @plantillas_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">

    <div class="col-md-9 col-sm-9 col-xs-12">
      <%= f.label :asunto_email, "Asunto: ", class:"control-label col-md-2 col-sm-2 col-xs-12", style:"text-align:right;"%>
      <div class="input-group col-md-10 col-sm-10 col-xs-12">
        <span class="input-group-addon"><i class="fa fa-pencil"> </i></span>
        <!--email_field_tag 'email', 'email@example.com', class: 'special_input', disabled: true-->
        <%= f.text_field :asunto_email, class:'form-control text_field'%>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.label :msg_email, "Su mensaje: ", class:"control-label col-md-2 col-sm-2 col-xs-12",  style:"text-align:right;"%>
      <div class="input-group col-md-10 col-sm-10 col-xs-12">
         <!--textarea id="summernote" name="summernote"></textarea-->
        <%= f.text_area :msg_email, class:'form-control text_field', id: "summernote"%>
      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12" style="color:black;  font-weight: normal; text-align: justify; font-size: 12px;">
    <p>
        El texto que aparece dentro de dobles corchetes no debe de ser modificado porque será reemplazado automáticamente por el sistema con los datos reales de las operaciones.
    </p>
    <p> Por esa razón <b>{{Nombre del cliente}}</b> será reemplazado por <b>"Fulano Martínez"</b>, suponiendo que ese es el nombre de la persona a quien fue expedida la factura.</p>
  </div>

  </div>
  <div class="actions" align="center">
    <input class="btn btn-default" value="Cancelar" type="reset">
    <%= f.submit "Guardar Cambios", :class=>"btn btn-success active" %>
  </div>
<% end %>

<% if @plantillas_email.comprobante == "fv" || @plantillas_email.comprobante == "ac_fv" %>
  <script type="text/javascript">
      $('#summernote').summernote({
        tabsize: 2,
        height: 170,
        minHeight: 170,
        maxHeight: 170,
        lang: 'es-ES', // default: 'en-US'
        //Se aprovecha la funcionalidad de las sugerencias de summernote para brindarle al usuario la opcion de agregar texto variable.
        hint: {
          mentions: ['Nombre del cliente','Fecha de la venta','Número de venta','Folio de la venta','Fecha de la factura','Número de factura','Folio de la factura','Total','Nombre del negocio','Nombre de la sucursal','Email de contacto','Teléfono de contacto'],
          match: /\B@(\w*)$/,
          search: function (keyword, callback) {
            callback($.grep(this.mentions, function (item) {
              return item.indexOf(keyword) == 0;
            }));
          },
          content: function (item) {
            return '{{' + item + '}}';
          }
        },

        toolbar: [
        // [groupName, [list of button]]
        ['fontname',['fontname']],
        ['fontsize', ['fontsize']],
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough', 'superscript', 'subscript']],
        ['color', ['color']],
        //['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['insert',['link','table','hr']],
        ['misc',['undo','redo']]

      ]
    });
  </script>
<% elsif @plantillas_email.comprobante == "nc" || @plantillas_email.comprobante == "ac_nc" %>
  <script type="text/javascript">
      $('#summernote').summernote({
        tabsize: 2,
        height: 170,
        minHeight: 170,
        maxHeight: 170,
        lang: 'es-ES', // default: 'en-US'
        //Se aprovecha la funcionalidad de las sugerencias de summernote para brindarle al usuario la opcion de agregar texto variable.
        hint: {
          //Para las notas de crédito no hacen falta los datos de la venta, pero si resulta util los datos de la factura asociada.
          mentions: ['Nombre del cliente','Fecha de la nota de crédito','Número de la nota de crédito','Folio de la nota de crédito', 'Total de la nota de crédito' ,'Fecha de la factura','Número de factura','Folio de la factura','Total de la factura','Nombre del negocio','Nombre de la sucursal','Email de contacto','Teléfono de contacto'],
          match: /\B@(\w*)$/,
          search: function (keyword, callback) {
            callback($.grep(this.mentions, function (item) {
              return item.indexOf(keyword) == 0;
            }));
          },
          content: function (item) {
            return '{{' + item + '}}';
          }
        },

        toolbar: [
        // [groupName, [list of button]]
        ['fontname',['fontname']],
        ['fontsize', ['fontsize']],
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough', 'superscript', 'subscript']],
        ['color', ['color']],
        //['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['insert',['link','table','hr']],
        ['misc',['undo','redo']]

      ]
    });
  </script>
<% end %>
