<%= form_tag({ controller: "plantillas_emails", action: "update", id: @plantillas_email.id }, {:class=> "form-horizontal", :method => :put, remote: true}) do %>
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">

      <%= label_tag :asunto_email, "Asunto: ", class:"control-label col-md-2 col-sm-2 col-xs-12", style:"text-align:right;"%>
      <div class="input-group col-md-10 col-sm-10 col-xs-12" style="font-size: 12px; font-weight: bold; word-break: break-all;">
        <!--span class="input-group-addon"><i class="fa fa-pencil"> </i></span-->
        <!-- f.text_field :asunto_email, class:'form-control text_field'-->
           <%= text_area_tag :asunto_email, @asunto,{class:'form-control text_field',id:"summernote_asunto" }%>
        <!--f.text_area :asunto_email, class:'form-control text_field', id:"summernote_asunto"%-->
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <%= label_tag :msg_email, "Su mensaje: ", class:"control-label col-md-2 col-sm-2 col-xs-12",  style:"text-align:right;"%>
      <div class="input-group col-md-10 col-sm-10 col-xs-12" style="font-size: 12px; font-family: 'Arial'; font-weight: normal; word-break: break-all;">
         <!--textarea id="summernote" name="summernote"></textarea-->
        <%= text_area_tag :summernote, @mensaje , {class:'form-control text_field', id: "summernote"}%>
      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12" style="color:black;  font-weight: normal; text-align: justify; font-size: 12px;">
    <p>
        El texto que aparece dentro de dobles corchetes no debe de ser modificado porque será reemplazado automáticamente por el sistema con los datos reales de las operaciones.
    </p>
    <p> Por esa razón <b>{{Nombre del cliente}}</b> será reemplazado por <b>"Juan Pérez Martínez"</b>, suponiendo que ese es el nombre de la persona a quien fue expedida la factura.</p>
  </div>

  </div>
  <div class="actions" align="center">
    <%= submit_tag "Cancelar", :class => "btn btn-default"%>
    <%= submit_tag "Usar la plantilla por defecto", :class => "btn btn-default"%>
    <%= submit_tag "Guardar Cambios", :class=>"btn btn-success active", :id => "btn_guardar_plantilla"%>
  </div>
 <% end %>

<!--Vamos Rails, no te pongas chocosito on tu "do not repeat yourself"-->
<%if @tipo_comprobante == "Plantilla de email para acuses de cancelación" %>
  
  <script type="text/javascript">
   var texto_variable = ['Nombre del cliente','Fecha','Total','Nombre del negocio','Nombre de la sucursal','Email de contacto','Teléfono de contacto', 'Página web']
    

      $('#summernote_asunto').summernote({
          tabsize: 2,
          disableResizeEditor: true,
          lang: 'es-ES', // default: 'en-US'
          toolbar: false,
          //Se aprovecha la funcionalidad de las sugerencias de summernote para brindarle al usuario la opcion de agregar texto variable.
          hint: {
            mentions: texto_variable,
            match: /\B@(\w*)$/,
            search: function (keyword, callback) {
              callback($.grep(this.mentions, function (item) {
                return item.indexOf(keyword) == 0;
              }));
            },
            content: function (item) {
              return '{{' + item + '}}';
            }
          },
      });

      $('#summernote').summernote({
        tabsize: 2,
        height: 170, 
        disableResizeEditor: true,
        //airMode: true,
        lang: 'es-ES', // default: 'en-US'
        //Se aprovecha la funcionalidad de las sugerencias de summernote para brindarle al usuario la opcion de agregar texto variable.
        hint: {
          mentions: texto_variable,
          match: /\B@(\w*)$/,
          search: function (keyword, callback) {
            callback($.grep(this.mentions, function (item) {
              return item.indexOf(keyword) == 0;
            }));
          },
          content: function (item) {
            return '{{' + item + '}}';
          }
        },

        toolbar: [
        // [groupName, [list of button]]
        ['fontname',['fontname']],
        ['fontsize', ['fontsize']],
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough', 'superscript', 'subscript']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['insert',['link','table','hr']],
        ['misc',['undo','redo']]

      ]
    });
  </script>
  <%else%>
   <script type="text/javascript">
   var texto_variable = ['Nombre del cliente', 'UUID', 'Fecha','Folio','Total','Nombre del negocio','Nombre de la sucursal','Email de contacto','Teléfono de contacto', 'Página web']
    

      $('#summernote_asunto').summernote({
          tabsize: 2,
          disableResizeEditor: true,
          lang: 'es-ES', // default: 'en-US'
          toolbar: false,
          //Se aprovecha la funcionalidad de las sugerencias de summernote para brindarle al usuario la opcion de agregar texto variable.
          hint: {
            mentions: texto_variable,
            match: /\B@(\w*)$/,
            search: function (keyword, callback) {
              callback($.grep(this.mentions, function (item) {
                return item.indexOf(keyword) == 0;
              }));
            },
            content: function (item) {
              return '{{' + item + '}}';
            }
          },
      });

      $('#summernote').summernote({
        tabsize: 2,
        height: 170, 
        disableResizeEditor: true,
        //airMode: true,
        lang: 'es-ES', // default: 'en-US'
        //Se aprovecha la funcionalidad de las sugerencias de summernote para brindarle al usuario la opcion de agregar texto variable.
        hint: {
          mentions: texto_variable,
          match: /\B@(\w*)$/,
          search: function (keyword, callback) {
            callback($.grep(this.mentions, function (item) {
              return item.indexOf(keyword) == 0;
            }));
          },
          content: function (item) {
            return '{{' + item + '}}';
          }
        },

        toolbar: [
        // [groupName, [list of button]]
        ['fontname',['fontname']],
        ['fontsize', ['fontsize']],
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough', 'superscript', 'subscript']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['insert',['link','table','hr']],
        ['misc',['undo','redo']]

      ]
    });
     </script>
  <%end%>

<!-- En la carpeta de javascripts solo debe de existir un archivo .js o .coffee-->
<%= javascript_include_tag "plantillas_emails" %> <!-- config => initializer => assets-->