<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Plantillas de correos electrónicos</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>
  <div class="row">
    <%= form_tag({ controller: "plantillas_emails", action: "mostrar_plantilla"}, {:class=> "form-horizontal", :method => :post}) do %>

      <div class="col-md-2 col-sm-2 col-xs-1">
        <div style="color: black;">
          Plantilla de email para:
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= select_tag :comprobante, "<optgroup label='Comprobantes'><option value='fv'>Facturas de ventas</option><option value='fg'>Facturas globales</option><option value='nc_fv'>Notas de crédito para factura de venta</option><option value= 'nc_fg'>Notas de crédito para factura global</option></optgroup><optgroup label='Acuses de cancelación'><option value= 'ac_fv'>Acuse de cancelación de factura de venta</option><option value= 'ac_nc_fv'>Acuse de cancelación de notas de crédito por factura de venta</option><option value= 'ac_fg'>Acuse de cancelación de factura global</option><option value= 'ac_nc_fg'>Acuse de cancelación de notas de crédito por factura global</option></optgroup>".html_safe, :prompt => 'Seleccione una plantilla', class: 'form-control' %>
      </div>

      <div class="col-md-2 col-sm-5 col-xs-12">
        <div class="text-center">
          <%= submit_tag 'Mostrar plantilla de email', {:class=>"btn btn-primary active"} %>
        </div>
      </div>

      <% end %>
  <hr>
  </div>
    <% if @consulta && @plantillas_email%>
      <div class="row">
        <div class="panel-body">
          <!--Panel para el encabezado del comprobante-->
          <div class="panel panel-default" >
            <!--div class="panel-heading" style="background-color:#A3CC5B; color: white " -->
            <div class="panel-heading">
              <h3 class="panel-title"> <%= @tipo_comprobante %></h3>
            </div>
            <div class="panel-body", id="update">
              <%= render "form_plantilla"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<!--
<p id="notice"> notice ></p>

<p>
  <strong>Asunto email:</strong>
   @plantillas_email.asunto_email
</p>

<p>
  <strong>Msg email:</strong>
   @plantillas_email.msg_email
</p>

<p>
  <strong>Comprobante:</strong>
   @plantillas_email.comprobante
</p>

<p>
  <strong>Negocio:</strong>
   @plantillas_email.negocio
</p>

 link_to 'Edit', edit_plantillas_email_path(@plantillas_email)
 link_to 'Back', plantillas_emails_path
-->
