<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Gastos generales</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-ms-12">
        <div class="left-buttons">
          <a href="#" id="test" onClick="javascript:fnExcelReport();" class="btn btn-success">
            <li class="fa fa-file-excel-o">
              Exportar a xlsx    
            </li>
          </a>
        </div>
        <div class="div-add-button">

           <%= link_to new_gasto_general_path, {remote: true, class: "btn btn-info btn-lg btn-add", id: "anadir-categoria-btn"}  do %>
             <span class="glyphicon glyphicon-plus-sign circleglyphicon" style=""></span>
             Registrar gasto
          <%end%>

        </div>
      </div>
    </div>
    
    <hr>

    <div class="row">
      <div>
      
        <table class="table table-striped responsive-utilities jambo_table responsive no-wrap data-table" id="tabla_gastos">
          <thead>
            <tr>
              <th class="column-title" style="text-align: center;">Fecha</th>
              <th class="column-title" style="text-align: center;">Ticket/Factura</th>
              <th class="column-title" style="text-align: center;">Monto</th>
              <th class="column-title" style="text-align: center;">Concepto</th>
              <th class="column-title" style="text-align: center;">Proveedor</th>
              <th class="column-title" style="text-align: center;">Categoria</th>
              <th class="column-title" style="text-align: center;">Origen recurso</th>
              <th class="column-title" style="text-align: center;"></th>
              <th class="column-title" style="text-align: center;"></th>
            </tr>
          </thead>

          <tbody id="tb_gastos">
            <%= render @gasto_generals%>
          </tbody>
        </table>

        <%= render 'modalGastos'%>
      </div>
    </div>
    <div class="row" style="display: none;">
      <table class="table table-striped responsive-utilities jambo_table" id="tabla_gastos_generales">
          <thead>
            <tr>
              <th class="column-title" style="text-align: center;">Fecha</th>
              <th class="column-title" style="text-align: center;">Ticket/Factura</th>
              <th class="column-title" style="text-align: center;">Monto</th>
              <th class="column-title" style="text-align: center;">Concepto</th>
              <th class="column-title" style="text-align: center;">Proveedor</th>
              <th class="column-title" style="text-align: center;">Categoria</th>
              <th class="column-title" style="text-align: center;">Origen recurso</th>
            </tr>
          </thead>

          <tbody id="tb_gastos">
            <% @gasto_generals.each do |gasto_general| %>
              <tr>
               <td style="text-align: center;"><%= gasto_general.created_at.strftime("%d/%m/%Y") %></td>
               <td style="text-align: center;"><%= gasto_general.folio_gasto %>/<%= gasto_general.ticket_gasto %></td>
               <td style="text-align: center;"><%= gasto_general.monto %></td>
               <td style="text-align: center;"><%= gasto_general.concepto %></td>
               <td style="text-align: center;"><%= gasto_general.proveedor.nombre %></td>
               <td style="text-align: center;"><%= gasto_general.gasto.categoria_gasto.nombre_categoria %></td>
               <% if gasto_general.gasto.caja_sucursal %>
                 <td style="text-align: center;">Caja <%= gasto_general.gasto.caja_sucursal.nombre %></td>  
               <% elsif gasto_general.gasto.caja_chica %>
                 <td style="text-align: center;">Caja chica</td>  
               <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });
    });

    function fnExcelReport() {
        
      var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
      tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';

      tab_text = tab_text + '<x:Name>Reporte de gastos generales</x:Name>';

      tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
      tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';

      tab_text = tab_text + "<table border='1px'>";
      tab_text = tab_text + $('#tabla_gastos_generales').html();
      tab_text = tab_text + '</table></body></html>';

      var data_type = 'data:application/vnd.ms-excel';
        
      var ua = window.navigator.userAgent;
      var msie = ua.indexOf("MSIE ");
        
      if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
          if (window.navigator.msSaveBlob) {
              var blob = new Blob([tab_text], {
                  type: "application/csv;charset=utf-8;"
              });
             navigator.msSaveBlob(blob, 'Reporte de gastos generales.xls');
          }
      } else {
          $('#test').attr('href', data_type + ', ' + encodeURIComponent(tab_text));
          $('#test').attr('download', 'Reporte de gastos generales.xls');
      }

    }
  </script>
  </div>