<p id="notice"><%= notice %></p>

<p>
  <strong>Folio gasto:</strong>
  <%= @gasto_general.folio_gasto %>
</p>

<p>
  <strong>Ticket gasto:</strong>
  <%= @gasto_general.ticket_gasto %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @gasto_general.monto %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @gasto_general.concepto %>
</p>

<p>
  <strong>Gasto:</strong>
  <%= @gasto_general.gasto_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @gasto_general.user_id %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @gasto_general.sucursal_id %>
</p>

<p>
  <strong>Negocio:</strong>
  <%= @gasto_general.negocio_id %>
</p>

<%= link_to 'Edit', edit_gasto_general_path(@gasto_general) %> |
<%= link_to 'Back', gasto_generals_path %>
