<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Proveedores</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="row">
      <div class="col-ms-12">
        <div class="div-left-buttons">

          <a href="#" id="test" onClick="javascript:fnExcelReport();" class="btn btn-success">
            <li class="fa fa-file-excel-o">
              Exportar a xls
            </li>
          </a>

        </div>

        <div class="div-add-button">
          <% if can? :create, Proveedor %>
            <%= link_to new_proveedor_path, {remote: true, class: "btn btn-info btn-lg btn-add"} do %>  
              <span class="fa fa-plus-square" style=""></span>
              Añadir Proveedor
            <%end%>
          <% end %>
          

        </div>
      </div>
    </div>

    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>
        <table class="table table-striped responsive-utilities jambo_table data-table">
          <thead>
            <tr>
              <th class="column-title" style="text-align: center;">Nombre</th>
              <th class="column-title" style="text-align: center;">Contacto</th>
              <th class="column-title" style="text-align: center;">Telefono</th>
              <th class="column-title" style="text-align: center;">Email</th>
              <th class="column-title" style="text-align: center;"></th>
              <th class="column-title" style="text-align: center;"></th>
            </tr>
          </thead>

          <tbody id="tb_proveedores">
            <%= render @proveedores%>
          </tbody>
        </table>
          <%= render 'modalProveedores'%>
      </div>
    </div>
    <div class="row" style="display: none;">
      <table class="table table-striped responsive-utilities jambo_table" id="tabla_proveedores">
          <thead>
            <tr>
              <th class="column-title" style="text-align: center;">Nombre</th>
              <th class="column-title" style="text-align: center;">Contacto</th>
              <th class="column-title" style="text-align: center;">Telefono</th>
              <th class="column-title" style="text-align: center;">Email</th>
            </tr>
          </thead>

          <tbody id="tb_proveedores">
            <% @proveedores.each do |proveedor| %>
              <tr>
                <td style="text-align: center;"><%= proveedor.nombre %></td>
                <td style="text-align: center;"><%= proveedor.nombreContacto %></td>
                <td style="text-align: center;"><%= proveedor.telefono %></td>
                <td style="text-align: center;"><%= proveedor.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
  <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });
    });

    function fnExcelReport() {
        
      var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
      tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';

      tab_text = tab_text + '<x:Name>Proveedores</x:Name>';

      tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
      tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';

      tab_text = tab_text + "<table border='1px'>";
      tab_text = tab_text + $('#tabla_proveedores').html();
      tab_text = tab_text + '</table></body></html>';

      var data_type = 'data:application/vnd.ms-excel';
        
      var ua = window.navigator.userAgent;
      var msie = ua.indexOf("MSIE ");
        
      if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
          if (window.navigator.msSaveBlob) {
              var blob = new Blob([tab_text], {
                  type: "application/csv;charset=utf-8;"
              });
             navigator.msSaveBlob(blob, 'Proveedores.xls');
          }
      } else {
          $('#test').attr('href', data_type + ', ' + encodeURIComponent(tab_text));
          $('#test').attr('download', 'Proveedores.xls');
      }

    }

    /*$(document).on('DOMNodeInserted', 'tr.rowsearch', function (event) {
      if ( document.readyState != 'complete') return;
      window.location.reload(true);
    });*/
  </script>
</div>
