<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Proveedores</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="div-add-button">
        <%= link_to new_proveedor_path, {class: "btn btn-info btn-lg btn-add"} do %>  
          <span class="glyphicon glyphicon-plus-sign circleglyphicon" style=""></span>
          Añadir Proveedor
        <%end%>
      </div>
    </div>

    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>
        <table class="table table-striped responsive-utilities jambo_table data-table">
          <thead>
            <tr>
              <th class="column-title">Nombre</th>
              <th class="column-title">Telefono</th>
              <th class="column-title">Email</th>
              <th class="column-title"></th>
              <th class="column-title"></th>
              <th class="column-title"></th>
            </tr>
          </thead>

          <tbody>
            <% @proveedores.each do |proveedor| %>
              <tr>
                <td><%= proveedor.nombre %></td>
                <td><%= proveedor.telefono %></td>
                <td><%= proveedor.email %></td>
                <td><%= link_to 'Mostrar', proveedor, class: "btn btn-primary btn-xs" %><i class="fa fa-folder"></i></td>
                <td><%= link_to 'Editar', edit_proveedor_path(proveedor), class: "btn btn-info btn-xs" %><i class="fa fa-pencil"></i></td>
                <td><%= link_to 'Borrar', proveedor, method: :delete, data: { confirm: '¿Está seguro de eliminar este proveedor?' }, class: "btn btn-danger btn-xs" %><i class="fa fa-trash-o"></i></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });
    });
  </script>
</div>
