<%= form_tag({ controller: "facturas", action: "cancelaFacturaVenta2", id: @factura.id }, { :method => :post}) do %>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <% if @estado == "Vigente".upcase %>
      <% if @factura.tipo_factura == "fv" && @es_cancelable == "Cancelable sin Aceptación".upcase%>
        <div class="form_row" style="margin-bottom: 30px;">
          <div class="btn-group" data-toggle="buttons">
            <%= label_tag "lbl", "lbl_factura_venta", class: "btn btn-primary btn-sd form-check-label" do %>
              <%= radio_button_tag 'rbtn', "rbtn_factura_venta", class:"form-check-input"%>Cancelar factura y venta.
              <!--input class="form-check-input" type="radio" checked autocomplete="off"> radio 1 (pre-checked)-->
            <%end%>
            <%= label_tag "lbl2", "lbl_rfc", class: "btn btn-primary btn-md form-check-label active" do %>
              <%= radio_button_tag 'rbtn', "rbtn_factura",  class:"form-check-input "%> Solo cancelar factura.
              <!--input class="form-check-input" type="radio" checked autocomplete="off"> radio 1 (pre-checked)-->
            <%end%>
        </div>
        </div>
      <%end%>
      <% if @es_cancelable == "Cancelable sin Aceptación".upcase%>
        <!--Los campos de envio del acuse de cancelación solo se muestra si la venta tine una factura relacionada-->
        <!--%if @venta.factura.present? && @venta.factura.estado_factura == "Activa"%-->
        <div class="item form-group col-md-12 col-sm-12 col-xs-12" >
          <h2 class="control-label col-md-3 col-sm-3 col-xs-12" style="color: black;">Envío del Acuse:</h2>
        </div>
        <!--Campos para el envio del Acuse de cancelación-->
        <div class="item form-group">
          <%= label_tag :lbl_destinatario, "Para: ", class:"control-label col-md-3 col-sm-3 col-xs-12", style:"text-align:right;"%>
          <div class="input-group col-md-6 col-sm-6 col-xs-12">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <!--email_field_tag 'email', 'email@example.com', class: 'special_input', disabled: true-->
            <%=email_field_tag :destinatario, @factura.cliente.email, class: 'form-control text_field'%>
            <!--text_field_tag :destinatario, nil, {class:'form-control text_field'}%-->
          </div>
        </div>
        <!--El asunto y el mensaje... la que se indique en la configuración del negocio  -->
        <div class="item form-group">
          <%= label_tag :lbl_asunto, "Asunto: ", class:"control-label col-md-3 col-sm-3 col-xs-12", style:"text-align:right;"%>
          <div class="input-group col-md-6 col-sm-6 col-xs-12">
            <!--span class="input-group-addon"><i class="fa fa-pencil"></i></span-->
            <!--email_field_tag 'email', 'email@example.com', class: 'special_input', disabled: true-->
            <%= text_area_tag :asunto, @asunto,{class:'form-control text_field'} %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :lbl_mensaje, "Su mensaje: ", class:"control-label col-md-3 col-sm-3 col-xs-12", style:"text-align:right;"%>

          <div class="input-group col-md-6 col-sm-6 col-xs-12">
             <!--textarea id="summernote" name="summernote"></textarea-->
            <%= text_area_tag  :summernote, @mensaje,{class:'form-control text_field', id: "summernoteMensaje_ac_fv"}%>
          </div>
        </div>

        <%if @factura.tipo_factura == "fv"%> 
          <!--En la cancelación se permite cancelar tambien la venta solo para las facturas de ventas.-->
          <div class="" id="cancelacion_factura_venta" style="display:none;">
            <!--Se muestran los campos para cancelar la venta-->
            <div class="item form-group col-md-12 col-sm-12 col-xs-12">
              <h2 class="control-label col-md-3 col-sm-3 col-xs-12" style="color: black;">Cancelación de venta:</h2>
            </div>
            <!-- grupo de categoría de cancelación -->
            <div class="item form-group">
              <%= label_tag :lbl_observaciones, "Categoría de devolución: ", class:"control-label col-md-3 col-sm-3 col-xs-12", style:"text-align:right;"%>
              <!--%= f.label :observaciones, "Categoria de devolución*: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %-->
              <div class="col-md-6 col-sm-6 col-xs-12 input-group">
                <%= collection_select(nil, :cat_cancelacion, @categorias_devolucion, :id, :clave, {:prompt => 'Elija una categoría de devolución.'}, { class: "form-control col-md-7 col-xs-12", id: "categoria_devolucion"})%>
              </div>
            </div>

            <div class="item form-group">
              <%= label_tag :lbl_razon_cancelacion, "Razón de cancelación: ", class:"control-label col-md-3 col-sm-3 col-xs-12", style:"text-align:right;"%>
              <div class="col-md-6 col-sm-6 col-xs-12 input-group">
                <%= text_area_tag :observaciones, nil,{class:'form-control text_field', id: "razon_cancelacion"} %>
              </div>
            </div>
              <p class="text-danger"> La factura se cancelará al igual que la venta, si desea solo cancelar la factura de clic en el estado del botón "Solo cancelar factura".<i class= "fa fa-exclamation-circle"> </i></p>
              <p class="text-danger"> El monto de la venta será deducido al saldo de la caja que realizó la venta (en el caso de pagos en efectivo).<i class= "fa fa-exclamation-circle"> </i></p>
          </div>
        <%end%> 

      <%end%>
    <%end%>

    <% if @mensaje_cancelacion_timbox %>
      <h2 class="text-danger" > <%= @mensaje_cancelacion_timbox %><i class= "fa fa-exclamation-circle"> </i></h2>
    <%end%>
    <div class="actions">
      <!--div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3"-->
        <!--p class="purple">El monto de la venta será deducido al saldo de la caja que realizó la venta (en el caso de pagos en efectivo) </p-->
      <% if @descripcion_submit %>  
        <!--Solo se enviarán los siguientes parametros si el submit es visible, si es visible quiere decir que el comprobante es vigente y ńo solo eso sino que se puede cancelar con o sin aceptación, poque tambien puede estar vigente pero en cambio pude estar en proceso de aceptación-->
        <% hidden_field_tag :es_cancelable, @es_cancelable%>
     
        <%= submit_tag  @descripcion_submit, {:class=>"btn btn btn-success"} %>
      <%end%>
      <!--/div-->
    </div>

  </div>
<%end %>
<!--% end %-->
<script type="text/javascript">

       /*Editor de texto para los asuntos de las plantillas de email solo permite poner texto variable sin aplicar formato al texto*/
      $('#summernoteAsunto_ac_fv').summernote({
          tabsize: 2,
          minHeight: 40,
          maxHeight: 40,
          maxWidth: 200,
          lang: 'es-ES', // default: 'en-US'
          toolbar: false,
      });

      $('#summernoteMensaje_ac_fv').summernote({
        tabsize: 2,
        height: 240,
        minHeight: 240,
        maxHeight: 240,
        lang: 'es-ES', // default: 'en-US'
        focus: true,
        toolbar: false

      });

  //Para cancelar solo la factura ó para cancelar la factura con la venta asociada.
  $("#rbtn_rbtn_factura_venta, #rbtn_rbtn_factura").change(function () {
      if ($("#rbtn_rbtn_factura").is(":checked")) {
        $('#cancelacion_factura_venta').hide();
        $('#categoria_devolucion').val("");
        $('#razon_cancelacion').val("");
        $('#categoria_devolucion').removeAttr("required");
        $('#razon_cancelacion').removeAttr("required");
      }
      else if ($("#rbtn_rbtn_factura_venta").is(":checked")) {
        $('#cancelacion_factura_venta').hide();
        $('#cancelacion_factura_venta').show();
        $('#categoria_devolucion').prop("required", true);
        $('#razon_cancelacion').prop("required", true);
        $('#categoria_devolucion').show();
        $('#razon_cancelacion').show();
      }
  });
</script>
