<form action="">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-xs-9">
      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane active" id="generales">
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Folio:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "<%= @factura.folio %>" >
              </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Fecha:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "<%= @factura.fecha_expedicion %>" >
              </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Forma de pago:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "<%= @forma_pago%>" >
              </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Método de pago:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                <input type="text"  class="form-control col-md-5 col-xs-12 text_field" value= "<%=@metodo_pago%>">
              </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Total:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "<%= @factura.monto %>">
              </div>
            </div>
        </div> <!-- fin de generales-->
        <% if can? :read, DatosFiscalesCliente%>
        <div class="tab-pane" id="receptor">
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
          <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Nombre Fiscal</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
              <input type="text" class="form-control col-md-6 col-sm-6 col-xs-12 text_field" value= "<%= @nombreFiscal%>">
            </div>
          </div>
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
          <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">RFC:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
              <input type="text" class="form-control col-md-6 col-sm-6 col-xs-12 text_field" value= "<%= @rfc%>">
            </div>
          </div>
        </div>
        <%end%>

        <div class="tab-pane" id="conceptos">
          <table id ="tabla_compras" class="table table-striped responsive-utilities jambo_table">
            <thead>
              <tr class="headings">
                <th class="column-title" >Cantidad </th>
                <th class="column-title" >Unidad (SAT)</th>
                <th class="column-title" >Clave (SAT) </th>
                <th class="column-title" >Descripción </th>
                <th class="column-title" >Precio</th>
                <th class="column-title" >Importe </th>
              </tr>
            </thead>
            <tbody>
              <!--Por si despues hay fusión de ventas para una sola factura, se distinguen los articulos que pertenecen a cada venta -->
              <% ventas = @factura.ventas %>
              <% ventas.each_with_index do |vta, index| %>
              <% items = vta.item_ventas %>
                <% items.each do |item| %>
                  <% if index % 2 == 0 %>
                      <tr> 
                    <% else %>
                      <tr style="background-color: #E9F4F2;"> 
                    <% end %>
                    <td> <%= item.cantidad %> </td>
                    <td> <%= item.articulo.unidad_medida.clave%> - <%= item.articulo.unidad_medida.nombre%>  </td>
                    <td> <%= item.articulo.clave_prod_serv.clave %> </td>
                    <td> <%= item.articulo.nombre %> </td>
                    <td> <%= item.precio_venta %> </td>
                    <td> <%= item.precio_venta * item.cantidad  %> </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>




      </div>
    </div>

    <div class="col-xs-3">
      <!-- required for floating -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-right">
        <li class="active"><a href="#generales" data-toggle="tab">Datos Comprobante</a></li>
        <% if can? :read, DatosFiscalesCliente%>
        <li><a href="#receptor" data-toggle="tab">Datos Receptor</a></li>
        <%end%>
        <li><a href="#conceptos" data-toggle="tab">Conceptos</a></li>
      </ul>
    </div>

  </div>
</form>
