  <%= form_tag({ controller: "facturas", action: "enviar_email_post" }, { :method => :post}) do %>
  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="row">
      <div class="form-group">
        <%= label_tag :lbl_destinatario, "Para: ", class:"control-label col-md-2 col-sm-2 col-xs-12"%>

        <div class="input-group col-md-8 col-sm-8 col-xs-12">

          <span class="input-group-addon"><i class="fa fa-smile-o"></i></span>
          <!--email_field_tag 'email', 'email@example.com', class: 'special_input', disabled: true-->
          <%= text_field_tag :destinatario, nil, {class:'form-control text_field', value: @destinatario}%>

        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">

        </div>

      </div>
    </div>

    <div class="row">
      <div class="form-group">

        <%= label_tag :lbl_asunto, "Asunto: ", class:"control-label col-md-2 col-sm-2 col-xs-12"%>

        <div class="input-group col-md-8 col-sm-8 col-xs-12">

          <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
          <!--email_field_tag 'email', 'email@example.com', class: 'special_input', disabled: true-->
          <%= text_field_tag :asunto, nil,{class:'form-control text_field', value: @tema}%>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="control-label col-md-2 col-sm-2 col-xs-12">
          <%= label_tag :lbl_mensaje, "Su mensaje: ", class:"control-label"%>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">

           <!--textarea id="summernote" name="summernote"></textarea-->
          <%= text_area_tag  :summernote, nil,{class:'form-control text_field', id: "summernote"}%>

        </div>

      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="row">
          <div class="control-label col-md-12 col-sm-12 col-xs-12">
            <%= label_tag :lbl_adjuntar, "Adjuntar archivo: ", class:"control-label"%>
          </div>
        </div>
        <div class="row">
          <div class="control-label col-md-6 col-sm-6 col-xs-6">
            <%= label_tag :lbl_pdf, ".pdf", class:"control-label"%>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%=check_box_tag(:pdf, "yes", false, {class:" checked check", checked:"checked"})%>
          </div>
        </div>
        <div class="row">
          <div class="control-label col-md-6 col-sm-6 col-xs-6">
            <%= label_tag :lbl_xml, ".xml", class:"control-label"%>

          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%=check_box_tag(:xml, "yes", false, {class:" checked check", checked:"checked"})%>
          </div>
        </div>
      </div>
    </div>

    </div>



    </div>
      <%= submit_tag 'Enviar comprobantes', {:class=>"btn btn btn-success"} %>
  </div>
  <%end%>

  <script type="text/javascript">

  //$(document).ready(function() {
  //  $('#summernote').summernote();
  //});

    $('#summernote').summernote({
      tabsize: 2,
      height: 240,
      minHeight: 240,
      maxHeight: 240,
      lang: 'es-ES', // default: 'en-US'
      focus: true,
      toolbar: [
      // [groupName, [list of button]]
      ['fontname',['fontname']],
      ['fontsize', ['fontsize']],
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['font', ['strikethrough', 'superscript', 'subscript']],
      ['color', ['color']],
      //['para', ['ul', 'ol', 'paragraph']],
      ['height', ['height']],
      ['insert',['link','table','hr']],
      ['misc',['undo','redo']]

    ]

  });

</script>
