<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Facturas de ventas</h1>
    </div>
  </div>


  <div class="clearfix"></div>
  <hr>
  <div class="row">
    <div class="div-add-button">

        <%= link_to 'Nueva factura de venta', facturas_facturaDeVentas_path, class: "btn btn-info btn-lg btn-add",id: "anadir-factura-btn" %>
    </div>
  </div> <!--Fin de botón -->
  <hr style="border-style: solid; border-width: 2px;">


    <button id="filtro_por_fecha" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros por fecha <i class="fa fa-sort-down"></i>
    </button>
    <!-- Este buscador sencillo, permite al usuario buscar ventas realizadas en determinado rango de fechas -->
    <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_fecha">
      <%= form_tag({ controller: "facturas", action: "consulta_facturas" }, {:class=> "form-horizontal", :method => :post}) do %>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            Búsqueda por fechas:
          </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right; color: black;">
            Desde:
          </div>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= date_picker_tag("fecha_inicial", nil, {class: "form-control", selectMonths: :true}, {})%>
          </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right; color: black;">
            Hasta:
          </div>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= date_picker_tag("fecha_final", nil, {class: "form-control"}, {})%>

          </div>
        </div>

        <div class="col-md-1 col-sm-5 col-xs-12">
          <div class="text-center">
            <%= submit_tag 'Consultar Ventas', {:class=>"btn btn-info"} %>
          </div>
        </div>
      <% end %>
    </div>


<div class="col-md-12 col-sm-12 col-xs-12">


  <div class="row">
    <div>
      <table class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th>Folio</th>
            <th>Cliente </th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Pagado</th>
            <th>Por pagar</th>
            <th>Estado</th>
            <th >Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @facturas.each do |factura| %>
            <tr>
              <td><%= factura.folio %></td>
              <td><%= %></td><!--cliente-->
              <td><%= %></td><!--fecha-->
              <td><%= %></td><!--total-->
              <td><%= %></td><!--pagado-->
              <td><%= %></td><!--por pagar-->
              <td><%= %></td><!--estado-->
              <!--<td><%= link_to 'Edit', edit_factura_path(factura) %></td>
              <td><%= link_to 'Destroy', factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'modalFacturas'%>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){

      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });
    });
  </script>
  <%= javascript_include_tag "ventas" %>

</div>
