
<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Facturas de ventas</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>

  <div class="row">
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%=name%> alert-dismissable notice">
          <button type="button" class="close" data-dismiss="alert" >&times;</button>
            <span ><%= msg %></span>
        </div>      
    <%end%>
  </div>

  <div class="row">
    <div class="div-add-button">
        <%= link_to url={controller: "facturas", action: "buscar_venta"}, html_options={class: "btn btn-primary active btn-lg btn-add",id: "anadir-factura-btn"} do%>
          <i class="fa fa-file-text-o"></i> Facturar una venta
        <%end%>
    </div>
  </div> <!--Fin de botón -->
  <% if @consulta %>
  <div class="row">
    <div class="col-md-12" style="color: gray;">
        <%if @facturas%>
          <%if @facturas.count >= 1 %> 
            Se <% if @facturas.size == 1%>encontró<% else %>encontraron<% end %> <span style="color:#5B7ECC; font-size: 20px;"><%= @facturas.size %></span> factura<% if @facturas.size > 1 %>s<% end %> con:
          <%else%>
            No se encontró ninguna factura con:
          <%end%>
        <%end%>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12" style="color: gray;">
        <%if @facturas%>
          <%if @fechas%>
          <div class="col-md-12">
            Rango de fechas: <span style="color:#5B7ECC; font-size: 16px;"> <%= @fechaInicial %> <span style="color: gray;"> a</span> <%= @fechaFinal %></span>
          </div>
          <%end%>
          <% if @por_folio%>
            <div class="col-md-12">
              Folio: <span style="color:#5B7ECC; font-size: 16px;"> <%=@folio_fact%></span>
            </div>
          <%end%>
          <% if @por_cliente%>
            <%if @rfc%>
            <div class="col-md-12">
              RFC del cliente: <span style="color:#5B7ECC; font-size: 16px;"> <%=@rfc%></span>
            </div>
            <%elsif @nombreFiscal%>
            <div class="col-md-12">
              Nombre fiscal del cliente: <span style="color:#5B7ECC; font-size: 16px;"> <%=@nombreFiscal%></span>
            </div>
            <%end%>
          <%end%>
          <% if @avanzada %>
            <div class="col-md-12">
              Rango de fechas: <span style="color:#5B7ECC; font-size: 16px;"> <%= @fechaInicial %> <span style="color: gray;"> a</span> <%= @fechaFinal %></span>
            </div>
            <%if @criterio_cliente%>
              <div class="col-md-12">
                <%if @rfc%>
                  RFC del cliente: <span style="color:#5B7ECC; font-size: 16px;"><%=@rfc%></span>
                <%elsif @nombreFiscal%>
                  Nombre fiscal del cliente: <span style="color:#5B7ECC; font-size: 16px;"><%=@nombreFiscal%></span>
                <%end%>
              </div>
            <%else%>
              <div class="col-md-12">
                Cliente:<span style="color:#5B7ECC; font-size: 16px;"> Cualquiera </span>
              </div>
            <%end%>
            <div class="col-md-12">
            <% if @criterio_monto %>
              <%if @condicion_monto_factura != "rango desde"%>
                Monto: <span style="color:#5B7ECC; font-size: 16px;"> <%= @condicion_monto_factura.capitalize! %>
                </span> <span style="color:#5B7ECC; font-size: 16px;">  $ <%= @monto_factura.to_f %></span>
              <% elsif @condicion_monto_factura == "rango desde" %>
                Monto: <span style="color:#5B7ECC; font-size: 16px;"> <%= @condicion_monto_factura.capitalize! %>
                </span> <span style="color:#5B7ECC; font-size: 16px;">  $ <%= @monto_factura.to_f %></span>
                a <span style="color:#5B7ECC; font-size: 16px;"> $ <%= @monto_factura2.to_f %></span>
              <%end%>
            <% else %>
                Monto:<span style="color:#5B7ECC; font-size: 16px;"> Cualquiera </span>
            <% end %>
            </div>
            <div class="col-md-12"> <!--poner condiciones de status-->
              Status: <span style="color:#5B7ECC; font-size: 16px;"> <%= @estado_factura %></span>
            </div>
            <% if can? :create, Negocio %>
              <div class="col-md-12">
                <% if @sucursal %>
                  Sucursal: <span style="color:#5B7ECC; font-size: 16px;"> <%= @sucursal.nombre %></span>
                <% else %>
                  Sucursal: <span style="color:#5B7ECC; font-size: 16px;"> Todas </span>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% end %>
      </div>
    </div>
    <%end%>


  <hr style="border-style: solid; border-width: 2px;">

    <button id="filtro_por_fecha" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros por fecha <i class="fa fa-sort-down"></i>
    </button>
    <!-- Este buscador sencillo, permite al usuario buscar ventas realizadas en determinado rango de fechas -->
    <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_fecha">
      <%= form_tag({ controller: "facturas", action: "consulta_por_fecha", :tipo_factura => "fv"}, {:class=> "form-horizontal", :method => :post}) do %>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            Búsqueda por fechas:
          </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right; color: black;">
            Desde:
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= date_picker_tag("fecha_inicial", nil, {class: "form-control text-center", selectMonths: :true}, {})%>
          </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right; color: black;">
            Hasta:
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= date_picker_tag("fecha_final", nil, {class: "form-control text-center"}, {})%>

          </div>
        </div>

        <div class="col-md-1 col-sm-5 col-xs-12">
          <div class="text-center">
            <%= submit_tag 'Buscar facturas', {:class=>"btn btn-info"} %>
          </div>
        </div>
      <% end %>
    </div> <!--Fin de busqueda por fecha-->
    <!-- Termina buscador por rango de fechas -->


    <button id="filtro_por_folio" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros por folio <i class="fa fa-sort-down"></i>
    </button>
    <!-- Este form permite buscar las facturas de acuerdo al folio ingresado-->
    <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_folio">
      <%= form_tag({ controller: "facturas", action: "consulta_por_folio", :tipo_factura => "fv" }, {:class=> "form-horizontal", :method => :post}) do %>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            Búsqueda por folio:
          </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right; color: black;">
            Folio:
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= text_field_tag :folio_fact, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Serie + Número de la factura"} do%>
              <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
            <%end%>
          </div>
        </div>

        <div class="col-md-1 col-sm-5 col-xs-12">
          <div class="text-center">
            <%= submit_tag 'Buscar facturas', {:class=>"btn btn-info"} %>
          </div>
        </div>

      <% end %>
    </div>
    <!-- Termina buscador por clave de producto -->
    <button id="filtro_por_cliente" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros por cliente<i class="fa fa-sort-down"></i>
    </button>
    <!-- Permite realizar una busqueda de la facturas de un cliente en específico -->
    <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_cliente">
          <!--El filtro por cliente no requiere un parametro, porque solo se utiliza para las facturas de ventas, las globales son para un mismo cliente-->
      <%= form_tag({ controller: "facturas", action: "consulta_por_cliente" }, {:class=> "form-horizontal", :method => :post}) do %>
        <div class="form_row" style="margin-bottom: 30px;">
          <div class="btn-group" data-toggle="buttons">
            <%= label_tag "lbl2", "lbl_rfc", class: "btn btn-primary btn-xs form-check-label" do %>
              <%= radio_button_tag 'rbtn', "rbtn_rfc",  class:"form-check-input"%> Buscar por R.F.C
              <!--input class="form-check-input" type="radio" checked autocomplete="off"> radio 1 (pre-checked)-->
            <%end%>
            <%= label_tag "lbl", "lbl_nombreFiscal", class: "btn btn-primary btn-xs active form-check-label" do %>
              <%= radio_button_tag 'rbtn', "rbtn_nombreFiscal", class:"form-check-input"%>Buscar por nombre fiscal
              <!--input class="form-check-input" type="radio" checked autocomplete="off"> radio 1 (pre-checked)-->
            <%end%>

        </div>
        </div>
        <div class="item form-group">
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="text-center">
              Búsqueda por cliente:
            </div>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
            <div style="text-align: right; color: black;">
              <%= label_tag "lbl", "Nombre:", class: "control-label", id: "leyenda_filtro_cliente"%>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center" id="errorRFC">

              <%= collection_select(nil, :cliente_id, @nombreFiscalClientes, :id, :nombreFiscal, {:prompt => 'Elija el cliente.'}, { class: "form-control col-md-7 col-xs-12", id: "nombreFiscalCliente"})%>

              <%= text_field_tag :rfc, nil, {class: "form-control col-md-7 col-xs-12 text_field rfc_input",id:"rfc_input", :placeholder=>"RFC del cliente..."} do%>
                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
              <%end%>
            </div>
          </div>

          <div class="col-md-1 col-sm-5 col-xs-12">
            <div class="text-center">
              <%= submit_tag 'Buscar facturas', {:class=>"btn btn-info",id: "RFC_Obligatorio"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Termina buscador por atributos del cliente-->


    <!-- Este botón despliega el div con las opciones para filtros avanzados -->
    <button id="filtros_avanzados" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros Avanzados <i class="fa fa-sort-down"></i>
    </button>

    <!-- Los filtros avanzados permiten al usuario "filtrar ventas" dependiendo de uno o más criterios, pudiendo estos ser combinables entre sí. -->
    <div id="opciones_filtros_avanzados" class="opciones_filtros row">
      <%= form_tag({ controller: "facturas", action: "consulta_avanzada", :tipo_factura => "fv" }, {:class=> "form-horizontal",id: "formFiltrosAvanzados", :method => :post}) do %>
        <div class="item form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="text-align: left; color: black;">
              Elija un conjunto de criterios para hacer un filtro más detallado.
            </div>
          </div>
        </div>
        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Seleccione un rango de fechas:
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
              <%= date_picker_tag("fecha_inicial_avanzado", nil, {class: "form-control text_field text-center", selectMonths: :true}, {})%>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
              <%= date_picker_tag("fecha_final_avanzado", nil, {class: "form-control text_field text-center"}, {})%>

            </div>
          </div>
        </div>

        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Cliente:
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              <%= select_tag :opcion_busqueda_cliente, "<option>Buscar por R.F.C.</option><option>Buscar por nombre fiscal</option>".html_safe, :prompt => 'Elija una opción.',  class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;"  id="errorRFC2">
                <%= collection_select(nil, :cliente_id, @nombreFiscalClientes, :id, :nombreFiscal, {:prompt => 'Elija un cliente.'}, { class: "form-control col-md-7 col-xs-12 nombre_collection_select", style: "display: none;"})%>
                <%= text_field_tag :rfc, nil, {class: "form-control col-md-7 col-xs-12 text_field rfc_text_field", id:"rfc_input2", :placeholder=>"RFC del cliente...", style: "display: none;"} do%>
                  <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                <%end%>
            </div>
          </div>
        </div>
        <!--Filtro por monto de venta-->
        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Por monto:
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              <%= select_tag :condicion_monto_factura, "<option>menor que</option><option>mayor que</option><option>menor o igual que</option><option>mayor o igual que</option><option>igual que</option><option>diferente que</option><option id='rangoMonto'>rango desde</option>".html_safe, :prompt => 'Elija una condición.',  class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              <%= number_field_tag(:monto_factura , nil, {class: "form-control text_field", style: "display: none;"})%>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              <%= number_field_tag(:monto_factura2 , nil, {class: "form-control text_field", style: "display: none;"})%>
            </div>
          </div>
        </div>

        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Status de factura:
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
              <%= select_tag "estado_factura", "<option>Todas</option><option>Activa</option><option>Cancelada</option>".html_safe,  class: 'form-control' %>
            </div>
          </div>
        </div>

        <% if can? :create, Negocio %>

          <div class="item form-group">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div style="text-align: right;">
                Sucursal:
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="text-center">
                <%= collection_select(nil, :suc_elegida, @sucursales, :id, :nombre, {:prompt => 'Seleccione sucursal'}, { class: "form-control col-md-7 col-xs-12" })%>
              </div>
            </div>
          </div>

        <% end %>

        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">

          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-left">
              <%= submit_tag 'Buscar facturas', {:class=>"btn btn-info",id: "RFC_Obligatorio2"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>





<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div>
      <table class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th style="text-align: center;">Folio</th>
            <th style="text-align: center;">Cliente </th>
            <!--th style="text-align: center;">Sucursal </th-->
            <th style="text-align: center;">Fecha</th>
            <th style="text-align: center;">Total</th>
            <!--th style="text-align: center;">Pagado</th>
            <th style="text-align: center;">Por pagar</th-->
            <th style="text-align: center;">Estado</th>
            <th style="text-align: center;">Acciones</th>
          </tr>
        </thead>
        <%if @facturas %>
        <tbody>
          <% @facturas.each do |factura| %>
          <% if factura.estado_factura.eql?("Cancelada")%>
            <tr style="background-color: #F8D7CB">
            <!--tr style="background-color: ##FDE47F"-->
          <%else%>
            <tr>
          <%end%>
              <td style="text-align: center;"><%= factura.folio %></td>
              <td style="text-align: center;"><%= factura.cliente.nombre_completo %></td>
              <td style="text-align: center;"><%= factura.fecha_expedicion %></td>
              <td style="text-align: center;"><%= factura.monto %></td>

              <!--if factura.forma_pago.nombre.eql?("efectivo")-->
              <!--<td style="text-align: center;"><factura.venta.montoVenta%></td>
              <end>-->
              <!--td style="text-align: center;"><%= %></td>
              <td style="text-align: center;"><%= %></td-->

              <td style="text-align: center;">
                <% if factura.estado_factura.eql?("Activa") %>
                  <span class="btn btn-success"> Activa </span>
                <%elsif factura.estado_factura.eql?("Borrador")%>
                  <span class="btn btn-info"> Borrador </span>
                <%elsif factura.estado_factura.eql?("Cerrada")%>
                  <span class="btn btn-warning"> Cerrada </span>
                <%elsif factura.estado_factura.eql?("Cancelada")%>
                  <span class="btn btn-danger"> Cancelada</span>
                <%end%>
              </td>
              <td style="text-align: center;" >
                <!--Imprimir factura-->
                <% if can? :read, factura %>
    
                  <%= link_to url={action: "visualizar_pdf", controller: "facturas",id:factura}, html_options={class: "btn btn-primary",  title: 'Imprimir o descargar representación impresa', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :target => '_blank'} do %>
                    <i class="fa fa-print"></i>
                  <% end %>

                <% unless factura.estado_factura.eql?("Borrador") %>
                  <%= link_to url={action: "enviar_email", controller: "facturas", id: factura}, html_options={ class: "btn btn-warning", remote: true , title: 'Enviar a email', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                  <i class="fa fa-envelope"></i>
                  <% end %>
                <% end%>

                <%if (factura.estado_factura == "Activa")%>
                  <%= link_to url={action: "descargar_cfdis", controller: "facturas",id:factura}, html_options={ class: "btn btn-default",  title: 'Descargar CFDI (xml)', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                    <i class="fa fa-cloud-download"></i>
                  <% end %>
                <%elsif (factura.estado_factura == "Cancelada")%>
                  <%= link_to url={action: "descargar_cfdis", controller: "facturas",id:factura}, html_options={ class: "btn btn-default Secondary",  title: 'Descargar acuse de cancelación (xml)', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                    <i class="fa fa-cloud-download"></i>
                  <% end %>
                <%end%>

                <%= link_to url={action: "mostrar_detalles", controller: "facturas", id: factura}, html_options = {class: "btn btn-info", remote: true , title: 'Detalles', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                <i class="fa fa-info-circle"></i>
                <% end %>

                <% unless  factura.estado_factura.eql?("Cancelada") %>
                  <!--Se le manda su id :)-->
                  <!--%venta_id = current_user.negocio.ventas.find_by(factura: factura.id).id %-->
                  <%= link_to url={action: "cancelar_factura", controller: "facturas", id: factura}, html_options={ class: "btn btn-danger", remote: true , title: 'Cancelar', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                  <!--%= link_to url={action: "cancelaFacturaVenta", controller: "facturas", id: factura},  html_options = {class: "btn btn-danger", remote: true, title: "Cancelar"}, data: { confirm: "¿Desea cancelar esta venta?"} do %-->
                   <i class="fa fa-close"></i>
                  <% end %>

                <%else%>
                  <%= button_tag  class: "btn btn-danger", remote: true , title: 'Cancelar', 'data-toggle' => 'tooltip', 'data-placement' => 'top', disabled: true do %>
                    <i class="fa fa-close"></i>
                  <% end %>
                <%end%>
              <% end %>
              </td>
            </tr>

          <% end %>
        </tbody>
        <%end%>
      </table>

      </div>
    </div>
    <%= render 'modalEmails'%>
    <%= render 'modalFacturas'%>
    
    <%= render 'modalVentas'%>
    <%= render 'modalCancelaFacturaVenta'%>
  </div>

  <!--%= javascript_include_tag "ventas" %-->
  <%= javascript_include_tag "facturas" %> <!-- config => initializer => assets-->
</div>

<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(function() {
        $(".notice").fadeOut(1500);
    },10000);
  });
</script>
