<% if factura.estado_factura.eql?("Cancelada")%>
  <tr style="background-color: #F8D7CB">
  <!--tr style="background-color: ##FDE47F"-->
<%else%>
  <tr>
<%end%>
    <td style="text-align: center;"><%= factura.folio %></td>
    <td style="text-align: center;"><%= factura.cliente.nombre_completo %></td>
    <td style="text-align: center;"><%= factura.fecha_expedicion %></td>
    <td style="text-align: center;"><%= factura.monto %></td>

    <!--if factura.forma_pago.nombre.eql?("efectivo")-->
    <!--<td style="text-align: center;"><factura.venta.montoVenta%></td>
    <end>-->
    <!--td style="text-align: center;"><%= %></td>
    <td style="text-align: center;"><%= %></td-->

    <td style="text-align: center;">
      <% if factura.estado_factura.eql?("Activa") %>
        <span class="btn btn-success"> Activa </span>
      <%elsif factura.estado_factura.eql?("Cancelada")%>
        <span class="btn btn-danger"> Cancelada</span>
      <%end%>
    </td>
    <td style="text-align: center;" >
      <!--Imprimir factura-->
      <% if can? :read, factura %>

        <%= link_to url={action: "visualizar_pdf", controller: "facturas",id:factura}, html_options={class: "btn btn-primary",  title: 'Imprimir o descargar representación impresa', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :target => '_blank'} do %>
          <i class="fa fa-print"></i>
        <% end %>

      <% unless factura.estado_factura.eql?("Borrador") %>
        <%= link_to url={action: "enviar_email", controller: "facturas", id: factura}, html_options={ class: "btn btn-warning", remote: true , title: 'Enviar a email', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
        <i class="fa fa-envelope"></i>
        <% end %>
      <% end%>

      <%= link_to url={action: "descargar_cfdis", controller: "facturas",id:factura}, html_options={ class: "btn btn-default",  title: 'Descargar CFDI (xml)', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
        <i class="fa fa-cloud-download"></i>
      <% end %>


      <%= link_to url={action: "mostrar_detalles", controller: "facturas", id: factura}, html_options = {class: "btn btn-info", remote: true , title: 'Detalles', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
      <i class="fa fa-info-circle"></i>
      <% end %>

      <% unless  factura.estado_factura.eql?("Cancelada") %>
        <!--Se le manda su id :)-->
        <!--%venta_id = current_user.negocio.ventas.find_by(factura: factura.id).id %-->
        <%= link_to url={action: "cancelar_factura", controller: "facturas", id: factura}, html_options={ class: "btn btn-danger", remote: true , title: 'Cancelar CFDI', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
        <!--%= link_to url={action: "cancelaFacturaVenta", controller: "facturas", id: factura},  html_options = {class: "btn btn-danger", remote: true, title: "Cancelar"}, data: { confirm: "¿Desea cancelar esta venta?"} do %-->
         <i class="fa fa-close"></i>
        <% end %>
      <%else%>
        <%= link_to url={action: "descargar_acuses", controller: "facturas",id:factura}, html_options={ class: "btn btn-dark",  title: 'Descargar acuse de cancelación (xml)', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
          <i class="fa fa-cloud-download"></i>
        <% end %>
      <%end%>
    <% end %>
    </td>
  </tr>
