<div class="right_col" role="main" style="height: 900px;">
  <div class="page-title">
    <div class="title_left">
      <h1>Factura global de ventas</h1>
    </div>
  </div> <!-- Fin de titulo-->
  <div class="clearfix"></div>
  <hr>
  <%if @consulta%>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <% if @ventas_sin_facturar%>
    <!-- Despliega los resultados encontrados en la búsqueda -->
    <div class="row">

      <div class="alert alert-warning alert-dismissable content">
        <button type="button" class="close" data-dismiss="alert" >&times;</button>
        <% if  @ventas_sin_facturar.length > 1%>
            Se agregarán: <span style="color:black; font-size: 30px;"> <%= @ventas_sin_facturar.length %></span> ventas a la factura global
            del <span style="color:black; font-size: 16px;"> <%= @fechaOne %></span>
            <%if @opcion_global == "Facturar ventas por periodo"%>
              al <span style="color:black; font-size: 16px;"> <%= @fechaTwo %></span>
            <% end %>.
        <% else %>
            <!--Ni yo me la creo que llegue el caso de que durante el día solo realicen una venta pero bueno jaja -->
            Solo existe:   <span style="color:black; font-size: 30px;"> <%= @ventas_sin_facturar.length %></span> venta
            del <span style="color:black; font-size: 16px;"> <%= @fechaOne %></span>
            <%if @opcion_global == "Facturar ventas por periodo"%>
              al <span style="color:black; font-size: 16px;"> <%= @fechaTwo %></span>
            <% end %>.
        <% end %>
      </div>
      <hr>
    </div>


    <% else %>
      <div class="row">
        <div class="alert alert-warning alert-dismissable content">
          <button type="button" class="close" data-dismiss="alert" >&times;</button>
          No se encontraron ventas
          del <span style="color:black; font-size: 16px;"> <%= @fechaOne %></span>
          <%if @opcion_global == "Facturar ventas por periodo"%>
            al <span style="color:black; font-size: 16px;"> <%= @fechaTwo %></span>
          <% end %>.
        </div>
      </div>
    <% end %>

    </div>
  <%end%>

    <div class="row" style="margin-bottom: 30px;">
        <!-- Este formulario permite consultar si existe este folio de venta en la base de datos -->
        <%= form_tag({ controller: "facturas", action: "mostrarVentas_FacturaGlobal" }, {:class=> "form-horizontal", :method => :post}) do %>
        <div class="item form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="text-align: left; color: black;">
              Puede generar una factura global por cada sucursal o una sola de todas ellas.
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="col-md-12 col-sm-3 col-xs-12">
            <%= collection_select(nil, :suc_elegida, @sucursales, :id, :nombre, {:prompt => 'Todas'}, { class: "form-control col-md-7 col-xs-12" })%>

          </div>
        </div>

          <div class="item form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div style="text-align: left; color: black;">
                Indique la fecha que desea generar la factura global.
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">

            <div class="col-md-12 col-sm-3 col-xs-12">
              <%= select_tag :opcion_global, "<option>Facturar ventas por día</option><option>Facturar ventas por periodo</option>".html_safe,   class: 'form-control' %>
              <!--%= collection_select(nil, :uso_cfdi_id, UsoCfdi.all, :id, :descripcion, {:selected => UsoCfdi.find_by(descripcion:"Gastos en general").id }, { class: "form-control col-md-7 col-xs-12" })%-->
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12" id = "div_fecha_one">
            <div class="col-md-2 col-sm-1 col-xs-2">
              <div class="text-center" style="color: black;">
                <%=label_tag :lbl_fecha_one, "Del:", class: "control-label" %>
              </div>
            </div>
            <div class="col-md-10 col-sm-3 col-xs-10">
                <%= date_picker_tag("fecha_one", nil, {class: "form-control text-center", id:"fecha_one", selectMonths: :true}, {})%>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12" id="div_fecha_two" style="display:none;">
            <div class="col-md-2 col-sm-1 col-xs-2">
              <div class="text-center" style="color: black;">
              <%=label_tag :lbl_fecha_two, "Al:", class: "control-label"%>
              </div>
            </div>
            <div class="col-md-10 col-sm-3 col-xs-10">
                <%= date_picker_tag("fecha_two", nil, {class: "form-control text-center", id: "fecha_two", selectMonths: :true}, {})%>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-1 col-xs-12">
                <div class="text-left" >
                  <%= submit_tag 'Mostrar ventas', {:class=>"btn btn-info col-md-12 col-sm-12 col-xs-12"} %>
                </div>
            </div>
          </div>
        <% end %>
      </div>

   <% if @consulta && @ventas_sin_facturar%>
   <!--Se muestra el botón para generar la factura global con las operaciones simplificadas-->
<%= form_tag({ controller: "facturas", action: "factura_global_publico_gral" }, {:class=> "form-horizontal", :method => :post}) do %>
  <hr style="border-style: solid; border-width: 2px;">
   <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">

      <div class="div-add-button">
          <%= submit_tag 'Generar factura global', {:class=>"btn btn-primary btn-lg active"}%>
      </div>
      <div>
        <div class="tab-pane" id="detalles">
          <table id ="table_sales" class="table table-striped responsive-utilities jambo_table data-table">
            <thead>
              <tr class="headings">
                <th class="column-title"> </th>
                <th class="column-title">Folio </th>
                <th class="column-title">Fecha </th>
                <th class="column-title">Subtotal</th>
                <th class="column-title">Total IVA</th>
                <th class="column-title">Total IEPS</th>
                <th class="column-title">Total traslados</th>
                <th class="column-title">Importe </th>
              </tr>
            </thead>
            <tbody>
              <% @ventas_sin_facturar.each do |venta_fg| %>
              <% itemsVenta = venta_fg.item_ventas%>
              <% valor_unitario_fg = 0.0 %> <!--El valor unitario es un acumulador que suma el subtotal de cada item de venta -->
              <% total_impuestos_traslados = 0.0 %>
              <% total_iva = 0.0 %>
              <% total_ieps = 0.0 %>

              <% itemsVenta.each do |c| %>
                <%importe_concepto = (c.precio_venta * c.cantidad) %> <!--#Incluye impuestos(si esq), descuentos(si esq)...-->
                <% if c.articulo.impuesto.present? %> <!--Impuestos a la inversa-->
                  <% tasaOCuota = (c.articulo.impuesto.porcentaje / 100) %> <!--Se obtiene la tasa o cuota por ej. 16% => 0.160000-->
                  <!--#Se calcula el precio bruto de cada concepto-->
                  <% base_gravable = (importe_concepto / (tasaOCuota + 1))%> <!--Se obtiene el precio bruto por item de venta-->
                  <% importe_impuesto_concepto = (base_gravable * tasaOCuota)%>

                  <%valorUnitario = base_gravable / c.cantidad%>

                  <%if c.articulo.impuesto.tipo == "Federal"%>
                    <%if c.articulo.impuesto.nombre == "IVA"%>
                      <%clave_impuesto = "002"%>
                      <% total_iva = total_iva + importe_impuesto_concepto  %>
                    <%elsif c.articulo.impuesto.nombre == "IEPS"%>
                      <%clave_impuesto =  "003"%>
                      <% total_ieps = total_ieps + importe_impuesto_concepto  %>
                    <%end%>
                    <!--factura.impuestos.traslados << CFDI::Impuesto::Traslado.new(base: base_gravable,
                      tax: clave_impuesto, type_factor: "Tasa", rate: tasaOCuota, import: importe_impuesto_concepto, concepto_id: cont)-->
                  <!--#end-->
                  <!--#elsif c.articulo.impuesto.tipo == "Local"-->
                    <!--#Para el complemento de impuestos locales.-->
                  <%end%>
                  <% total_impuestos_traslados = total_impuestos_traslados + importe_impuesto_concepto%>
                  <%valor_unitario_fg = valor_unitario_fg + base_gravable%>
                <%else%> <!--Si un producto no tiene impuestos(ni locales ni federales) -->
                  <%valor_unitario_fg  = valor_unitario_fg + c.precioVenta%>
                <%end%>
              <%end%>

                <tr>
                  <td>
                    <input type="checkbox" value="<%= venta_fg.id %>" name="ventas[]" id="venta_<%= venta_fg.id %>">
                  </td>
                  <td> <%= venta_fg.folio %> </td>
                  <td> <%= venta_fg.fechaVenta%> </td>
                  <td> $ <%= '%.2f' % valor_unitario_fg.round(2) %> </td>
                  <td> $ <%= '%.2f' % total_iva.round(2) %> </td>
                  <td> $ <%= '%.2f' % total_ieps.round(2)%> </td>
                  <td> $ <%= '%.2f' % total_impuestos_traslados.round(2) %> </td>
                  <td> $ <%= venta_fg.montoVenta %> </td>

                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    </div>
    <%end%>
    <% end %>

  <script>
    $(document).ready(function(){

      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });

      //La fecha final solo se muestra si esta seleccionada la opción para facturar por periodo
      $('select#opcion_global').on('change',function(){
          var valor = $(this).val();
          if (valor == "Facturar ventas por día"){
            $('#div_fecha_two').hide();
          }else if (valor == "Facturar ventas por periodo") {
            $('#div_fecha_two').show();

          }
      });

    });


  </script>
</div>
