<div class="right_col" role="main" style="height: 900px;">
  <div class="page-title">
    <div class="title_left">
      <h1>Facturar ventas</h1>
    </div>
  </div> <!-- Fin de titulo-->
  <div class="clearfix"></div>
  <hr>
  <!-- Esta sección solamente se muestra si se encontró una factura y si se determina que se está
  haciendo una consulta -->
  <div class="row">
  <% if @consulta%>
    <% if @venta %>
      <% if @ventaCancelada == false%>
        <% if @ventaConDevolucionTotal == false%>
          <!--1.-Pudo haberse facturado anteriormente pero se canceló la factura sin cancelar la venta.
              2.-puede presentar devoluciones siempre y cuando el monto de las devoluciones no sea igual al al monto de la venta
              3.-Es una venta que no ha sido facturada ninguna vez.-->
          <% if @ventaParaFacturar == false%>
            <div class="alert alert-warning alert-dismissable content">
              <button type="button" class="close" data-dismiss="alert" >&times;</button>
                La venta con folio <span style="color:black; font-size: 16px;"> <%= @venta.folio %></span> ya fue facturada el día <span style="color:black; font-size: 16px;"> <%= @venta.factura.fecha_expedicion %></span> con folio <span style="color:black; font-size: 16px;"> <%= @venta.factura.folio %></span>.

            </div>
          <% end %>
        <% else %>
          <div class="alert alert-warning alert-dismissable content">
            <button type="button" class="close" data-dismiss="alert" >&times;</button>
              La venta con folio <span style="color:black; font-size: 16px;"> <%= @venta.folio %></span> no se puede facturar porque fue devuelta en su totalidad.
            </div>
        <% end %>
      <% elsif @ventaCancelada == true %>
        <div class="alert alert-warning alert-dismissable content">
          <button type="button" class="close" data-dismiss="alert" >&times;</button>
            La venta con folio <span style="color:black; font-size: 16px;"> <%= @venta.folio %></span> no se puede facturar porque fue cancelada.

        </div>
      <% else %>
        <div class="alert alert-warning alert-dismissable content">
          <button type="button" class="close" data-dismiss="alert" >&times;</button>
            No hay facturas registradas con el folio: <span style="color:black; font-size: 16px;"> <%= @folioVenta%></span>.
        </div>
      <% end %>
    <% end %>
  <%end%>
  </div>


  <div class="row" style="margin-bottom: 30px;">
      <!-- Este formulario permite consultar si existe este folio de venta en la base de datos -->
      <%= form_tag({ controller: "facturas", action: "buscar_venta" }, {:class=> "form-horizontal", :method => :get}) do %>
        <div class="item form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="text-align: left; color: black;">
              Proporcione el folio de la venta que desea facturar.
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="col-md-2 col-sm-2 col-xs-2">
            <%=label_tag :folio, "Folio", class: "control-label" %>

          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="text-center">
              <%= text_field_tag :folio, nil, {class: "form-control text_field", :placeholder=>"Serie + Número de venta"} do%>
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <%end%>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="text-left" >
                <%= submit_tag 'Buscar venta', {:class=>"btn btn-info"} %>
              </div>
          </div>
        </div>
      <% end %>
  </div>
  <hr>

    <% if @venta && @consulta%>
    <%if @ventaParaFacturar%>
    <%= form_tag({controller: "facturas", action: "facturar_venta", id: @venta.id}, {:method=>:post})do%>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-12">
        <%= label_tag :imprimir,'Imprimir', class:"control-label"%>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
          <%=check_box_tag(:imprimir, "yes", false, {class:" checked check", checked:"checked"})%>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <!--%= label_tag :enviar_al_correo, @correo_electonico_f, class:"control-label"%-->
        <%=label_tag :enviar_email, "Enviar a email", class: "control-label" %>
      </div>

      <div class="col-md-8 col-sm-5 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>

        <%= email_field_tag :destinatario, nil,{class:'form-control text_field', value: @email_receptor}%>
      </div>
      <!--%end%-->
    </div>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="row">
          <hr style="border-style: solid; border-width: 2px;">
            <!--Panel para el encabezado del comprobante-->
            <!--div class="panel panel-default" >
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
                  <div class="col-md-2 col-sm-2 col-xs-12">
                    < label_tag :serie,'Serie', class:"control-label">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    < text_field_tag :serie, nil,{class:'form-control text_field',value:@serie, disabled:true}>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-12">
                    < label_tag :folio,'Folio', class:"control-label">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    < text_field_tag :folio, nil,{class:'form-control text_field', value: @consecutivo, disabled:true }>
                  </div>
                </div> 
                </div>
              </div>
            </div-->
           
            <div class="panel panel-default" >

              <div class="panel-heading"  >
                <h3 class="panel-title panel-default">Forma y método de pago</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-2 col-sm-2 col-xs-3">
                      <%= label_tag :lbl_metodo_pago,'Método de pago.', class:"control-label"%>
                  </div>
                  <div class="col-md-4 col-sm-10 col-xs-12">
                      <%= select_tag :metodo_pago, "<option value='PUE'>PUE - Pago en una sola exhibición</option><option value= 'PPD'>PPD - Pago en parcialidades o diferido</option>".html_safe,   class: 'form-control' %>
                  </div>

                  <div class="col-md-2 col-sm-2 col-xs-3">
                      <%= label_tag :lbl_forma_pago,'Forma de pago.', class:"control-label"%>
                  </div>
                  <div class="col-md-4 col-sm-10 col-xs-12">
                     <%= collection_select(nil, :forma_pago_id, FacturaFormaPago.all, :id, :cve_nombre_forma_pagoSAT,{}, { class: "form-control col-md-7 col-xs-12" })%>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
                 <!--Panel para los datos de RECEPTOR-->
              <div class="panel-heading">
                <h3 class="panel-title panel-default">Datos del receptor</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-success col-md-2 col-sm-12 col-xs-12" id="cambiarClienteBtn">
                      Elegir otro cliente
                    </button>

                    <% if can? :create, Cliente %>
                      <%= link_to new_cliente_path, {remote: true, class: "btn btn-success col-md-2 col-sm-12 col-xs-12"}  do %>
                         Nuevo cliente
                      <%end%>
                    <% end %>

                    <%= label_tag :check_activar_campos, "¿Quieres activar los campos para editar los datos fiscales del receptor?", class:"control-label col-md-6 col-sm-10 col-xs-10", style: "color: black;"%>
   
                    <%=check_box_tag(:check_activar_campos, "desactivado", false, {class:" checked check col-md-1 col-sm-2 col-xs-2"})%>


                  </div>                
                </div>
                <hr>

                <!-- El cliente será el mismo de la venta a menos que se requiera facturar a nombre de otro mono. -->
                <%= hidden_field_tag :receptor_id,  @venta.cliente.id %>

                <div class="row" style="margin-bottom:15px; margin-top: 15px;">
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :nombre_fiscal_receptor_vf,'Nombre:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%= text_field_tag :nombre_fiscal_receptor_vf, nil,{class:'form-control text_field remove-attr',value:@nombre_fiscal_receptor_f, readonly: true  }%>
                  </div>
                  <div class="col-md-1 col-sm-2 col-xs-3">
                    <%= label_tag :rfc_input,'R.F.C.:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%= text_field_tag :rfc_input, nil,{class:'form-control text_field remove-attr',value:@rfc_receptor_f, readonly: true }%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :uso_cfdi,'Uso CFDI:', class:"control-label"%>
                  </div>
                  <div class="col-md-11 col-sm-10 col-xs-12">
                     <%= collection_select(nil, :uso_cfdi_id, UsoCfdi.all, :id, :clave_descripcion_uso_cfdi, {:selected => UsoCfdi.find_by(descripcion:"Gastos en general").id }, { class: "form-control col-md-7 col-xs-12" })%>
                  </div>
                </div>

                <div class="row" style="margin-top: 10px; color: black; padding-bottom:15px;">
                  <div class="col-md-4 col-sm-10 col-xs-10">
                    <%= label_tag :check_agregar_direccion, "¿Deseas ver la dirección fiscal del receptor?", class:"control-label"%>
                  </div>
                  <div class="col-md-1 col-sm-2 col-xs-2">
                    <%=check_box_tag(:check_agregar_direccion, "desactivado", false, {class:"checked check"})%>
                  </div>
                </div>

              <div id = "direccion_facturacion" style="display: none;">

                <div class="row" style="padding-bottom:15px;">
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :calle_receptor_vf,'Calle:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%= text_field_tag :calle_receptor_vf, nil,{class:'form-control text_field remove-attr' ,value:@calle_receptor_f, readonly: true }%>
                  </div>
                  <div class="col-md-1 col-sm-3 col-xs-12">
                    <%= label_tag :no_interior_receptor_vf,'No. Int.:', class:"control-label"%>
                  </div>
                  <div class="col-md-2 col-sm-3 col-xs-12">
                    <%= number_field_tag(:no_interior_receptor_vf, nil, {class: "form-control text_field remove-attr", value: @noInterior_receptor_f, readonly: true })%>
                  </div>
                  <div class="col-md-1 col-sm-3 col-xs-12">
                    <%= label_tag :no_exterior_receptor_vf,'No. Ext.:', class:"control-label"%>
                  </div>
                  <div class="col-md-2 col-sm-3 col-xs-12">
                    <%= number_field_tag(:no_exterior_receptor_vf, nil, {class: "form-control text_field remove-attr", value: @noExterior_receptor_f, readonly: true  })%>
                  </div>
                </div>


                <div class="row" style="padding-bottom:15px;">
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :colonia_receptor_vf,'Colonia:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%= text_field_tag :colonia_receptor_vf, nil,{class:'form-control text_field remove-attr',value: @colonia_receptor_f, readonly: true  }%>
                  </div>
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :localidad_receptor_vf,'Localidad:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%=text_field_tag :localidad_receptor_vf, nil,{class:'form-control text_field remove-attr',value:@localidad_receptor_f, readonly: true }%>
                  </div>
                </div>

                <div class="row" style="padding-bottom:15px;">
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :municipio_receptor_vf,'Municipio:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%= text_field_tag :municipio_receptor_vf, nil,{class:'form-control text_field remove-attr',value:@municipio_receptor_f, readonly: true  }%>
                  </div>
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :estado_receptor_vf,'Estado:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%= text_field_tag :estado_receptor_vf, nil,{class:'form-control text_field remove-attr',value:@estado_receptor_f, readonly: true }%>
                  </div>
                </div>

                <div class="row" style="padding-bottom:15px;">
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :pais_receptor_vf,'País:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%= text_field_tag :pais_receptor_vf, nil,{class:'form-control text_field remove-attr',value:@pais_receptor_f, readonly: true }%>
                  </div>
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :cp_receptor_vf,'C.P.:', class:"control-label"%>
                  </div>
                  <div class="col-md-5 col-sm-10 col-xs-12">
                    <%= text_field_tag :cp_receptor_vf, nil,{class:'form-control text_field remove-attr',value:@cp_receptor_f, readonly: true  }%>
                  </div>
                </div>

                <div class="row" style="padding-bottom:15px;">
                  <div class="col-md-1 col-sm-2 col-xs-12">
                    <%= label_tag :referencia_receptor_vf,'Referencia:', class:"control-label"%>
                  </div>
                  <div class="col-md-11 col-sm-10 col-xs-12">
                    <%= text_area_tag :referencia_receptor_vf, @referencia_receptor_f,{class:'form-control text_field remove-attr', readonly: true }%>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <table  class="table table-striped responsive-utilities jambo_table data-table">
              <thead>
                <tr >
                  <th >Clave SAT</th>
                  <th >Cantidad </th>
                  <th >Unidad</th>
                  <th >Descripción </th>
                  <th >Precio</th>
                  <th >Descuento</th>
                  <th >Importe </th>
                </tr>
              </thead>
              <tbody>
                <% @venta.item_ventas.each do |item| %>
                  <tr>
                    <td> <%= item.articulo.clave_prod_serv.clave %> </td>
                    <td> <%= item.cantidad %> </td>
                    <td> <%= item.articulo.unidad_medida.nombre%> </td>
                    <td> <%= item.articulo.nombre %> </td>
                    <td>$  <%= item.precio_venta %> </td>
                    <td>$  <%=  %> </td>
                    <td>$  <%= item.precio_venta * item.cantidad %> </td>
                  </tr>
                <% end %>

              </tbody>
            </table>
            <!--Panel para el total representao en letras-->
    
            <!-- label_tag :total_letras,@total_en_letras, class:"control-label", style:"font-size:30px;"-->
     
         
              <!--Panel para los totales de la factura global -->

              <!--div class="panel panel-default col-md-offset-8 col-sm-offset-8" >
                <div class="panel-heading"  >
                  <h3 class="panel-title panel-default">Totales</h3>
                </div>
                <div class="panel-body">
         
                  <div class="row">
                    <div class="col-md-6 col-sm-2 col-xs-3">
                        < label_tag :lbl_subtotal,'Subtotal: ', class:"control-label">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-12">
                       $ <%= @subtotal %> 
                    </div>
                  </div>
             
                  <div class="row">
                    <div class="col-md-6 col-sm-2 col-xs-3">
                        < label_tag :lbl_descuento,'Descuento: ', class:"control-label">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-12">
                       $ < @descuento_string> 
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-md-6 col-sm-2 col-xs-3">
                        <label_tag :lbl_IVA,'I.V.A. ', class:"control-label">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-12">
                       $ <'%.2f' % @iva.round(2)>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-2 col-xs-3">
                        < label_tag :lbl_IEPS,'I.E.P.S ', class:"control-label">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-12">
                       $ <  '%.2f' % @ieps.round(2)> 
                    </div>
                  </div>
         
                </div>
              </div-->
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3" style="color: black;">
                        <%= label_tag :lbl_total,'TOTAL: ', class:"control-label", style:"font-size: 40px;"%>
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-12" style="font-size: 40px; color:red;">
                       $ <%=  @total_string%>
                    </div>
                  </div>


          <div class="col-md-12 col-sm-12 col-xs-12" style="margin:20px;">
            <div class="text-center" id="ListPage">
              <%= submit_tag 'Cancelar', {:class=>"btn btn-default btn-lg"} %>
              <!--No tiene tanto sentido guardar facturas como borrador para un sistema que obtiene los datos directamente de la BD-->
              <!-- submit_tag 'Vista previa', {:class=>"btn btn-default btn-lg"} -->
              <!--%= submit_tag 'Facturar y crear nueva', {:class=>"btn btn-default btn-lg",:id=>"RFC_Obligatorio2"} %-->
              <%= submit_tag 'Facturar ahora', {:class=>"btn btn-primary btn-lg active", :id=>"RFC_Obligatorio"}%>

            </div>
          </div>

    </div>

    </div>
    <%end%> <!--La venta fue cancelada-->
    <%end%>
    <%end%>

    <div class="modal" id="modalClie">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Selecciona un cliente</h4>
          </div>
          <div class="modal-body" id="modal-body-clientes">
            <div class="form-group">
              <table class='table table-striped responsive-utilities jambo_table responsive no-wrap' id="lista_clientes">
                <thead>
                  <tr class='headings'>
                    <th class='column-title'>Nombre fiscal </th>
                    <th class='column-title'>R.F.C. </th>
                    <th class='column-title'>Email </th>
                    <th class='column-title'>Elegir </th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-clientes">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  <!-- javascript_include_tag "cancelaciones" -->
      <%= render 'modalClientes'%>
</div>

<!-- stylesheet_link_tag "facturas" %-->
<%= javascript_include_tag 'detalles_venta_factura'%>
<%= javascript_include_tag "validador_RFC_Obligatorio" %>
