<div class="right_col" role="main" style="height: 900px;">

  <div class="page-title">
    <div class="title_left">
      <h1>Facturar ventas</h1>
    </div>
  </div> <!-- Fin de titulo-->
  <div class="clearfix"></div>
  <hr>
  <!-- Esta sección solamente se muestra si se encontró una factura y si se determina que se está
  haciendo una consulta -->
  <%if @consulta%>
    <% if @venta && @itemsVenta%>
      <!-- Despliega los resultados encontrados en la búsqueda -->
      <%if @ventaCancelada%>
          <!--Validar si tiene alguna nota de crédito si es q tiene factura relacionada-->
        <div class="row">
          <div class="col-md-12" style="color: gray;">
            La venta fue cancelada.
          </div>
        </div>
        <hr>
      <%elsif @ventaFacturadaNoSi%>
        <div class="row">
          <div class="col-md-12" style="color: gray;">
              Folio Venta: <span style="color:#5B7ECC; font-size: 16px;"> <%= @venta.folio %>
              </span>
          </div>
        </div>
        <hr>
      <%else%>
      <div class="row">
        <div class="col-md-12" style="color: gray;">
          La venta ya fue facturada el día <span style="color:#5B7ECC; font-size: 16px;"> <%= @fechaVentaFacturada %></span>
          con folio: <span style="color:#5B7ECC; font-size: 16px;"> <%= @folioVentaFacturada %></span>
        </div>
      </div>
      <hr>
      <%end%>

    <% else %>
      <div class="row">
        <div class="col-md-12" style="color: gray;">
          No hay ventas registradas con este folio
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="color: gray;">
          <div class="col-md-12">
            Folio Venta: <span style="color:#5B7ECC; font-size: 16px;"> <%= @folio %></span>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  <%end%>

  <div class="row" style="margin-bottom: 30px;">

      <!-- Este formulario permite consultar si existe este folio de venta en la base de datos -->
      <%= form_tag({ controller: "facturas", action: "facturaDeVentas" }, {:class=> "form-horizontal", :method => :post}) do %>
        <div class="item form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="text-align: left; color: black;">
              Proporcione el folio de la venta que desea facturar.
            </div>
          </div>
        </div>
        <div class="item form-group">
          <div class="col-md-1 col-sm-1 col-xs-1">
            <div style="text-align: right;">
              Folio:
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
  		        <%= text_field_tag :folio, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"folio de la venta..."} do%>
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
  		        <%end%>
            </div>
          </div>




          <div class="item form-group">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="text-left" >
                <%= submit_tag 'Buscar venta', {:class=>"btn btn-info"} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!--<div class="row" style="margin-bottom: 30px;">-->
        <!--form_tag({controller: "facturas", action: "new"}, {:class=> "form-horizontal",method:=> :get}) do -->
        <!--end-->
  <!--  </div>-->

    <% if @venta && @consulta && @itemsVenta && @ventaFacturadaNoSi%>
      <%unless @ventaCancelada%>
        <!-- Formulario para mostrar los datos de la venta consultada para facturar -->
    <!-- form_for @venta, :html=> {:class=>'form-horizontal', :role=>'form', :multipart => true}  do |new_f| -->
    <%= form_tag({controller: "facturas", action: "facturando"}, {:method=>:post})do%>
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1">
        <%= label_tag :imprimir,'Imprimir', class:"control-label"%>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-1">
          <%=check_box_tag(:imprimir, "yes", false, {class:"icheckbox_flat-green checked", checked:"checked"})%>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4">

        <%= label_tag :correo_electonico,@correo_electonico_f, class:"control-label"%>
      </div>

      <%if @venta.cliente.email.present?%>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <%=check_box_tag(:correo_electonico, "yes", false, {class:"icheckbox_flat-green checked"})%>
        </div>
      <%else%>
      <div class="col-md-4 col-sm-4 col-xs-4 input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <!--email_field_tag 'email', 'email@example.com', class: 'special_input', disabled: true-->
        <%= text_field_tag :correo_electonico, nil,{class:'form-control text_field',placeholder:"Ejemplo: fulanito95@hotmail.com" }%>
      </div>
      <%end%>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="row">
          <hr style="border-style: solid; border-width: 2px;">
        <div class="panel panel-default" >
          <div class="panel-heading" style="background-color:#A3CC5B; color: white " >
            <h3 class="panel-title">CFDI 3.3</h3>
          </div>

          <div class="panel-body">
            <!--Panel para el encabezado del comprobante-->
            <div class="panel panel-default" >
              <div class="panel-body">
                <div class="col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <%= label_tag :serie,'Serie', class:"control-label"%>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= text_field_tag :serie, nil,{class:'form-control text_field' }%>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <%= label_tag :folio,'Folio', class:"control-label"%>

                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= text_field_tag :folio, nil,{class:'form-control text_field', value: @consecutivo, disabled:true }%>
                  </div>
                </div>
                <!-- new_f.label :folio, "Folio: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} >
                <div class="col-lg-8">

                  < new_f.text_field :folio, class: "form-control",value:@rfc_emisor>
                </div>-->
              </div>
            </div>
            <!--Panel para los datos del EMISOR -->
            <div class="panel panel-default col-md-6">
              <div class="panel-body">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :rfc_emisor,'RFC emisor', class:"control-label"%>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <%= text_field_tag :rfc_emisor, nil,{class:'form-control text_field',value:@rfc_emisor_f, disabled:true }%>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :nombre_fiscal_emisor_f,'Nombre fiscal', class:"control-label"%>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <%= text_field_tag :@nombre_fiscal_emisor_f, nil,{class:'form-control text_field',value:@nombre_fiscal_emisor_f, disabled:true }%>
                  </div>

                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :regimen_fiscal_emisor_f,'Regimen fiscal', class:"control-label"%>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <%= text_field_tag :regimen_fiscal_emisor_f, nil,{class:'form-control text_field',value: @regimen_fiscal_emisor_f, disabled:true }%>
                  </div>
              </div>
            </div>
            <!--Panel para los datos de RECEPTOR-->
            <div class="panel panel-default col-md-6">
              <div class="panel-body">

                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :rfc_receptor,'RFC receptor', class:"control-label"%>
                  </div>
                  <%if @rfc_emisor_present%>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <%= text_field_tag :rfc_receptor, nil,{class:'form-control text_field',value:@rfc_receptor_f, disabled:true }%>
                    </div>
                  <%else%>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <%= text_field_tag :rfc_receptor, nil,{class:'form-control text_field', :placeholder=>"Ingrese el R.F.C. del cliente"}%>
                    </div>
                  <%end%>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :nombre_receptor,'Nombre', class:"control-label"%>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <%= text_field_tag :nombre_receptor, nil,{class:'form-control text_field',value:@nombre_receptor_f, disabled:true }%>
                  </div>
                  <div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :uso_cfdi,'Uso C.F.D.I.', class:"control-label"%>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <%= collection_select(nil, :uso_cfdi_id, @uso_cfdi_receptor_f, :id, :descripcion, {:prompt => 'Elija el uso que le dará al CFDI.'}, { class: "form-control col-md-7 col-xs-12" })%>
                  </div>
                  </div>
              </div>
            </div>

            <table  class="table table-striped responsive-utilities jambo_table data-table">
              <thead>
                <tr >
                  <th >Clave </th>
                  <th >Cantidad </th>
                  <th>Unidad</th>
                  <th >Descripción </th>
                  <th >Precio</th>
                  <th >Importe </th>
                </tr>
              </thead>
              <tbody>
                <% @itemsVenta.each do |item| %>
                  <tr>
                    <td> <%= item.articulo.clave_prod_serv.clave %> </td>
                    <td> <%= item.cantidad %> </td>
                    <td> <%= item.articulo.unidad_medida.nombre%> </td>
                    <td> <%= item.articulo.nombre %> </td>
                    <td>$  <%= item.precio_venta %> </td>
                    <td>$  <%= item.precio_venta * item.cantidad %> </td>
                  </tr>
                <% end %>

              </tbody>
            </table>
            <!--Panel para el total representao en letras-->
            <div class="panel panel-default col-md-6">
              <div class="panel-body">
                  <div class="">
                    <%= label_tag :rfc_receptor,@total_en_letras, class:"control-label"%>
                  </div>
              </div>
            </div>
            <!--Panel para para la homologación, cálculos y redondeos -->
            <div class="panel panel-default col-md-offset-8">
              <div class="panel-body" align="right">

                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :subtotal,'SubTotal:', class:"control-label"%>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                      <input type="text" class="form-control text_field" value= "<%= %>">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :descuento,'Descuento:', class:"control-label"%>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                      <input type="text" class="form-control text_field" value= "<%= %>">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <%= label_tag :impuesto,'I.V.A.:', class:"control-label"%>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                      <input type="text" class="form-control text_field" value= "<%= %>">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <big><big><big><%= label_tag :total,'Total:', class:"control-label"%></big></big></big>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6" >
                    <big><big><big><%= label_tag :total,@total, class:"control-label"%></big></big></big>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12" style="margin:20px;">
            <div class="text-right">
              <%= submit_tag 'Facturar ahora', {:class=>"btn btn-primary btn-lg active"} %>
            </div>
          </div>
        </div>

    </div>

    </div>
    <%end%> <!--La venta fue cancelada-->
    <%end%>
    <%end%>
  <!-- javascript_include_tag "cancelaciones" -->
</div>
