<div class="right_col" role="main" style="height: 900px;">

  <div class="page-title">
    <div class="title_left">
      <h1>Facturar ventas</h1>
    </div>
  </div> <!-- Fin de titulo-->
  <div class="clearfix"></div>
  <hr>


  <!-- Esta sección solamente se muestra si se encontró una venta y si se determina que se está
  haciendo una consulta -->
  <% if @venta %>
    <% if @consulta && @itemsVenta%>
      <!-- Despliega los resultados encontrados en la búsqueda -->
      <div class="row">
        <div class="col-md-12" style="color: gray;">
          Se encontraron <span style="color:#5B7ECC; font-size: 20px;"><%= @itemsVenta.size %></span> productos en esta venta.
        </div>

      </div>

      <div class="row">
        <div class="col-md-12" style="color: gray;">
          <div class="col-md-12">
            Folio Venta: <span style="color:#5B7ECC; font-size: 16px;"> <%= @venta.folio %></span>
          </div>
        </div>
      </div>

      <hr>
      <!-- Esta sección contiene las productos o servicios vendidos en esta venta
      en particular -->


    <% else %>
      <div class="row">
        <div class="col-md-12" style="color: gray;">
          No hay ventas registradas con este folio
        </div>

      </div>

      <div class="row">
        <div class="col-md-12" style="color: gray;">
          <div class="col-md-12">
            Folio Venta: <span style="color:#5B7ECC; font-size: 16px;"> <%= @folio %></span>
          </div>
        </div>
      </div>

      <hr>
    <% end %>
  <% end %>

    <div class="row" style="margin-bottom: 30px;">

      <!-- Este formulario permite consultar si existe este folio de venta en la base de datos -->
      <%= form_tag({ controller: "facturas", action: "facturaDeVentas" }, {:class=> "form-horizontal", :method => :post}) do %>
        <div class="item form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="text-align: left; color: black;">
              Proporcione el folio de la venta.
            </div>
          </div>
        </div>
        <div class="item form-group">
          <div class="col-md-1 col-sm-1 col-xs-1">
            <div style="text-align: right;">
              Folio:
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
  		        <%= text_field_tag :folio, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"folio de la venta..."} do%>
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
  		        <%end%>
            </div>
          </div>
        </div>

        <div class="item form-group">
          <div class="col-md-1 col-sm-1 col-xs-1">

          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-left">
              <%= submit_tag 'Buscar venta', {:class=>"btn btn-info"} %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <% if @venta && @consulta && @itemsVenta %>

    <div class="tab-pane" id="detalles">
      <table id ="table_sales" class="table table-striped responsive-utilities jambo_table">
        <thead>
          <tr class="headings">
            <th class="column-title">Clave </th>
            <th class="column-title">Nombre </th>
            <th class="column-title">Precio</th>
            <th class="column-title">Cantidad </th>
            <th class="column-title">Importe </th>
          </tr>
        </thead>
        <tbody>
          <% @itemsVenta.each do |item| %>
            <tr>
              <td> <%= item.articulo.clave %> </td>
              <td> <%= item.articulo.nombre %> </td>
              <td> <%= item.precio_venta %> </td>
              <td> <%= item.cantidad %> </td>
              <td> <%= item.precio_venta * item.cantidad %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%end%>
    
  <script>
    $(document).ready(function(){

      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });

    });
  </script>
  <!-- javascript_include_tag "cancelaciones" -->
</div>
