<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Facturas globales</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>

    <div class="row" style="margin-bottom: 30px;">
        <!-- Este formulario permite consultar si existe este folio de venta en la base de datos -->
        <%= form_tag({ controller: "facturas", action: "buscarVentaFacturar" }, {:class=> "form-horizontal", :method => :post}) do %>
          <div class="item form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div style="text-align: left; color: black;">
                Indique la fecha que desea generar una factura global.
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">

            <div class="col-md-12 col-sm-3 col-xs-12">
              <%= select_tag :opcion_global, "<option>Facturar ventas por día</option><option>Facturar ventas por periodo</option>".html_safe,   class: 'form-control' %>
              <!--%= collection_select(nil, :uso_cfdi_id, UsoCfdi.all, :id, :descripcion, {:selected => UsoCfdi.find_by(descripcion:"Gastos en general").id }, { class: "form-control col-md-7 col-xs-12" })%-->
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12" id = "div_fecha_one">
            <div class="col-md-2 col-sm-1 col-xs-2">
              <div class="text-center" style="color: black;">
                <%=label_tag :lbl_fecha_one, "Del:", class: "control-label" %>
              </div>
            </div>
            <div class="col-md-10 col-sm-3 col-xs-10">
                <%= date_picker_tag("fecha_one", nil, {class: "form-control text-center", id:"fecha_one", selectMonths: :true}, {})%>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12" id="div_fecha_two" style="display:none;">
            <div class="col-md-2 col-sm-1 col-xs-2">
              <div class="text-center" style="color: black;">
              <%=label_tag :lbl_fecha_two, "Al:", class: "control-label"%>
              </div>
            </div>
            <div class="col-md-10 col-sm-3 col-xs-10">
                <%= date_picker_tag("fecha_two", nil, {class: "form-control text-center", id: "fecha_two", selectMonths: :true}, {})%>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-1 col-xs-12">
                <div class="text-left" >
                  <%= submit_tag 'Mostrar ventas', {:class=>"btn btn-info col-md-12 col-sm-12 col-xs-12"} %>
                </div>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">

          </div>
        <% end %>
      </div>
    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>

        <div class="tab-pane" id="detalles">
          <table id ="table_sales" class="table table-striped responsive-utilities jambo_table data-table">
            <thead>
              <tr class="headings">
                <th class="column-title">Folio </th>
                <th class="column-title">Fecha </th>
                <th class="column-title">Cliente</th>

                <th class="column-title">Importe </th>
              </tr>
            </thead>
            <tbody>
              <!--% @items.each do |item| %-->
                <tr>
                  <td> <%=  %> </td>
                  <td> <%= %> </td>
                  <td> <%= %> </td>
                  <td> <%=  %> </td>

                </tr>
              <!--% end %-->
            </tbody>
          </table>
        </div>

      </div>
    </div>
  <script>
    $(document).ready(function(){

      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });

      //La fecha final solo se muestra si esta seleccionada la opción para facturar por periodo
      $('select#opcion_global').on('change',function(){
          var valor = $(this).val();
          if (valor == "Facturar ventas por día"){
            $('#div_fecha_two').hide();
          }else if (valor == "Facturar ventas por periodo") {
            $('#div_fecha_two').show();

          }
      });

    });




  </script>
</div>
