<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Facturas de ventas</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>

  <div class="row">
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%=name%> alert-dismissable notice">
          <button type="button" class="close" data-dismiss="alert" >&times;</button>
            <span ><%= msg %></span>
        </div>
    <%end%>
  </div>

  <div class="row">
    <div class="div-add-button">
        <%= link_to url={controller: "facturas", action: "buscar_venta"}, html_options={class: "btn btn-primary active btn-lg btn-add",id: "anadir-factura-btn"} do%>
          <i class="fa fa-file-text-o"></i> Facturar una venta
        <%end%>
    </div>
  </div> <!--Fin de botón -->

  <!-- Detalles de la consulta por fecha, por folio, por cliente o avanzada -->
  <div  id="parametros-de-consulta">

  </div>

  <hr style="border-style: solid; border-width: 2px;">
    <!-- Filtros de búsqueda -->
  <button id="filtro_por_fecha" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
    Filtros por fecha <i class="fa fa-sort-down"></i>
  </button>
  <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_fecha">
    <%=render "form_consulta_por_fecha"%>
  </div>

  <button id="filtro_por_folio" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
    Filtros por folio <i class="fa fa-sort-down"></i>
  </button>
  <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_folio">
    <%=render "form_consulta_por_folio"%>
  </div>

  <button id="filtro_por_cliente" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
    Filtros por cliente<i class="fa fa-sort-down"></i>
  </button>
  <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_cliente">
    <%=render "form_consulta_por_cliente"%>
  </div>

  <button id="filtros_avanzados" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
    Filtros Avanzados <i class="fa fa-sort-down"></i>
  </button>
  <div id="opciones_filtros_avanzados" class="opciones_filtros row">
    <%=render "form_consulta_avanzada"%>
  </div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div>
      <table class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th style="text-align: center;">Folio</th>
            <th style="text-align: center;">Cliente </th>
            <!--th style="text-align: center;">Sucursal </th-->
            <th style="text-align: center;">Fecha</th>
            <th style="text-align: center;">Total</th>
            <!--th style="text-align: center;">Pagado</th>
            <th style="text-align: center;">Por pagar</th-->
            <th style="text-align: center;">Estado</th>
            <th style="text-align: center;">Acciones</th>
          </tr>
        </thead>
        <%if @facturas %>
        <tbody id="lista-de-facturas">
          <%= render @facturas%>
        </tbody>
        <%end%>
      </table>

      </div>
    </div>
    <%= render 'modalEmails'%>
    <%= render 'modalFacturas'%>
    <%= render 'modalVentas'%>
    <%= render 'modalCancelaFacturaVenta'%>
  </div>

  <!--%= javascript_include_tag "ventas" %-->
  <%= javascript_include_tag "facturas" %> <!-- config => initializer => assets-->
</div>


<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(function() {
        $(".notice").fadeOut(1500);
    },10000);
  });

  // Parámetros de consulta
  $("#btn-consulta-por-fecha").click( function(){
    var cantidadDeFacturas = "No puedo obtener el número de facturas XD";

    var fechaInicialCPF = $('#fecha-inicial-cpf').val();
    var fechaFinalCPF = $('#fecha-final-cpf').val();

    $('#parametros-de-consulta').html(`<div>Facturas encontradas: <span>${cantidadDeFacturas}</span></div><div>Rango de fechas: <span>${fechaInicialCPF} - ${fechaFinalCPF}</span></div>`);
  });

</script>
