<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @factura.folio %>
</p>

<p>
  <strong>Fecha expedicion:</strong>
  <%= @factura.fecha_expedicion %>
</p>

<p>
  <strong>Estado factura:</strong>
  <%= @factura.estado_factura %>
</p>

<p>
  <strong>Venta:</strong>
  <%= @factura.venta %>
</p>

<p>
  <strong>User:</strong>
  <%= @factura.user %>
</p>

<p>
  <strong>Negocio:</strong>
  <%= @factura.negocio %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @factura.sucursal %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @factura.cliente %>
</p>

<p>
  <strong>Forma pago:</strong>
  <%= @factura.forma_pago %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
