<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @uso_cfdi.clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @uso_cfdi.descripcion %>
</p>

<%= link_to 'Edit', edit_uso_cfdi_path(@uso_cfdi) %> |
<%= link_to 'Back', uso_cfdis_path %>
