<tr id="gasto_<%= gasto.id%>">
  <td><%= gasto.montoGasto %></td>
        <td><%= gasto.fechaGasto %></td>
        <td><%= gasto.descripcionGasto %></td>
        <td><%= gasto.lugarCompraGasto %></td>
        <td><%= gasto.persona_id %></td>
        <td><%= gasto.categoria_gasto_id %></td>
  <td><%= link_to 'Editar', edit_gasto_path(gasto), html_options = {class: "btn btn-info btn-xs", remote: true} %><i class="fa fa-pencil"></i></td>
  <td><%= link_to 'Borrar', gasto, remote: true, method: :delete, data: { confirm: "¿Borrar categoria: #{gasto.descripcionGasto}?"}, class: "btn btn-danger btn-xs" %><i class="fa fa-trash-o"></td>
</tr>