
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <%= link_to root_path, :class => "site_title" do %>
          <i class="fa fa-group"></i> <span>O M I L O S</span>
        <% end %>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <%if current_user.perfil%>
            <%= image_tag(current_user.perfil.foto_url, class: "img-circle profile_img") if current_user.perfil.foto.present? %>
          <%end%>
        </div>
        <div class="profile_info">
          <span>Bienvenido,</span>
          <%if current_user.perfil%>
            <h2><%=current_user.perfil.nombre%></h2>
          <%else%>
            <h2><%=current_user.email%></h2>
          <%end%>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li>
              <a>
                <i class="fa fa-home"></i> Módulos <span class="fa fa-chevron-down"></span>
              </a>
              <ul class="nav child_menu" style="display: none">
                <% if can? :create, Articulo %>
                  <li>
                    <a>
                      <i class="fa fa-tags"></i>Productos<span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu" style="display: none">
                      <%if can? :create, CatArticulo%>
                        <li><%= link_to "Categorias", cat_articulos_path %>
                        </li>
                      <%end%>
                      <%if can? :create, Articulo%>
                        <li><%= link_to "Catálogo productos", articulos_path %>
                        </li>
                      <%end%>
                      <%if can? :create, MarcaProducto%>
                        <li><%= link_to "Marcas", marca_productos_path %>
                        </li>
                      <%end%>
                      <%if can? :create, PresentacionProducto%>
                        <li><%= link_to "Presentaciones", presentacion_productos_path %>
                        </li>
                      <%end%>
                    </ul>
                  </li>
                <% end %> <!-- Fin if can create Articulo -->

                <li>
                  <a>
                    <i class="fa fa-shopping-cart"></i>Ventas<span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu" style="display: none">
                    <li><%= link_to punto_venta_index_path, {id: "pos-mod"} do%>
                           Punto de venta
                        <%end%>
                    </li>
                    <li><%= link_to "Corte de caja", {controller: "corte_cajas", action: "show"} %>
                    </li>

                    <%if can? :read, Venta%>
                      <li><%= link_to "Registro de ventas", ventas_path %>
                      </li>
                    <%end%>

                    <% if can? :read, VentaCancelada %>
                      <li><%= link_to "Devoluciones", devoluciones_index_path %>
                      </li>
                    <% end %>

                    <% if can? :create, VentaCancelada %>
                      <li><%= link_to "Hacer devolución", devoluciones_devolucion_path %>
                      </li>
                    <% end %>

                    <!-- La creación de categorías o tags de devolución es un privilegio exclusivo
                    para los administradores de la empresa -->
                    <%if can? :create, Negocio%>
                      <li><%= link_to "Categorías de devolución", cat_venta_canceladas_path %>
                      </li>
                    <%end%>

                  </ul>
                </li>

                <% if can? :create, Proveedor %>
                  <li>
                    <a>
                      <i class="fa fa-truck"></i>Proveedores<span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu" style="display: none">
                      <%if can? :read, Proveedor%>
                        <li><%= link_to "Proveedores", proveedores_path%>
                        </li>
                      <%end%>
                      <% if can? :read, PagoPendiente %>
                        <li><%= link_to "Pagos pendientes", pago_pendientes_path %></li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>


                <% if can? :read, Compra %>
                  <li>
                    <a>
                      <i class="fa fa-cc-visa"></i> Compras<span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu" style="display: none">
                      <li><%= link_to compras_new_path, {id: "pos-mod"} do%>
                            Registrar compra
                          <%end%>
                      </li>
                      <li><%= link_to compras_path, {id: "pos-mod"} do%>
                            Compras realizadas
                           <%end%>
                      </li>

                      <!-- La creación de categorías o tags de devolución es un privilegio exclusivo
                      para los administradores de la empresa -->
                      <%if can? :create, Negocio%>
                        <li><%= link_to "Categorias de cancelación", cat_compra_canceladas_path %>
                        </li>
                      <%end%>
                    </ul>
                  </li>
                <% end %> <!-- Fin if can read Compra -->

                <% if can? :read, Gasto %>

                  <li>
                    <a>
                      <i class="fa fa-calculator"></i> Gastos<span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu" style="display: none">
                      <li><%= link_to caja_chicas_path, {id: "pos-mod"} do%>
                            Caja chica
                          <%end%>
                      </li>
                      <li><%= link_to categoria_gastos_path, {id: "pos-mod"} do%>
                            Categoría de gastos
                          <%end%>
                      </li>
                      <li><%= link_to gasto_generals_path, {id: "pos-mod"} do%>
                            Gastos generales
                          <%end%>
                      </li>
                      <% if can? :create, Negocio %>
                        <li>
                          <a>
                            <i class="fa fa-calculator"></i>Cajas chica sucursales <span class="fa fa-chevron-down"></span>
                          </a>
                          <ul class="nav child_menu" style="display:none;">
                            <% current_user.negocio.sucursals.each do |sucursal| %>
                              <li><%= link_to sucursal.nombre.to_s, {controller: "caja_chicas", action: "movimientos_sucursal", id: sucursal}, {:method=>"post"}  %></li>

                            <% end %>
                          </ul>
                        </li>
                      <% end %>
                    </ul>
                  </li>

                <% end %>  <!-- Fin if can read Gasto -->

                <% if current_user.role == "root" %>
                  <%if can? :read, Banco%>
                    <li><%= link_to bancos_path do%>
                          <i class="fa fa-bank"></i>
                          Bancos
                        <%end%>
                    </li>
                  <%end%> <!-- Fin if can read Banco -->
                <% else %>
                  <li><a href="javascript:void(0)"><i class="fa fa-bank"></i> Bancos <span class="label label-success pull-right">Próximamente</span></a>
                  </li>

                <% end %>

                <%if can? :read, Cliente%>
                  <li><%= link_to clientes_path do%>
                        <i class="fa fa-users"></i>
                        Clientes
                      <%end%>
                  </li>
                <%end%> <!-- Fin if can read cliente -->


                <% if can? :create, Factura %>
                  <li>
                    <a>
                      <i class="fa fa-file-text-o"></i>Facturación<span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu" style="display: none">
                      <%if can? :create, Factura%>
                        <li><%= link_to "Facturas de ventas", facturas_index_path %>
                        </li>
                      <%end%>

                      <%if can? :create, Articulo%>
                        <li><%= link_to "Fact. recurrentes", factura_recurrentes_index_path %>
                        </li>
                      <%end%>

                      <%if can? :create, PresentacionProducto%>
                        <li><%= link_to "Notas de crédito", nota_creditos_path%>
                        </li>
                      <%end%>
                    </ul>
                  </li>
                <% end %> <!-- Fin if can create Articulo -->




              </ul>
              <%if can? :create, CajaChica%>
                <li>
                  <a>
                    <i class="fa fa-filter"></i>Reportes<span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu" style="display: none">
                    <li class="sub_menu"><%= link_to "Reporte de ventas", controller: "reporte_ventas", action: "reporte_ventas"%>
                    </li>
                    <li class="sub_menu"><%= link_to "Reporte de gastos", controller: "reporte_gastos", action: "reporte_gastos"%>
                    </li>
                  </ul>
                </li>
              <%end%>

            </li>

            <% if can? :update, Sucursal %>

              <li>
                <a>
                  <i class="fa fa-gears"></i> Configuración <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu" style="display: none">
                  <%if can? :create, CajaSucursal%>
                    <li>
                      <%= link_to caja_sucursals_path do%>
                        <i class="fa fa-database"></i>
                        Cajas de venta
                      <% end %>
                    </li>
                  <%end%>  <!-- Fin if can create caja sucursal -->
                  <%if can? :create, Negocio%>
                    <li><%= link_to controller: "negocios", action: "show", id: current_user.negocio_id do%>
                          <i class="fa fa-rocket"></i>
                          Negocio
                        <% end %>
                    </li>
                    <li><%= link_to sucursals_path do%>
                          <i class="fa fa-building"></i>
                          Sucursales
                        <% end %>
                    </li>

                    <li><%= link_to empleados_path do%>
                          <i class="fa fa-child"></i>
                          Empleados
                        <% end %>
                    </li>
                    <li>
                      <%= link_to impuestos_path do%>
                      <i class="fa fa-dollar"><b>%</b></i>
                        Impuestos
                      <% end %>
                    </li>
                  <% end %>

                  <!-- Aquí lo de la configuración de las facturas-->
                  <li>
                    <a>
                      <i class="fa fa-file-text-o"></i> Facturas y Notas<span class="fa fa-chevron-down"></span>
                    </a>
                      <ul class="nav child_menu" style="display: none">
                        <!--Se le pasa el id del negocio por que tambien se mostrará la canfiguraución de las factuuras recurrentes y notas de crédito-->
                        <li><%= link_to controller: "config_comprobantes", action:"show", id:current_user.negocio.id do%><i class="fa fa-envelope"></i>plantillas emails<%end%></li>
                        <li><%= link_to controller: "config_comprobantes", action:"show", id:current_user.negocio.id do%><i class="fa fa-paint-brush"></i>Color y fuente<%end%></li>
                        <li>
                          <a>
                            <i class="fa fa-list-alt"></i> Catálogos<span class="fa fa-chevron-down"></span>
                          </a>
                          <ul class="nav child_menu" style="display:none">
                            <li>
                              <%= link_to caja_sucursals_path do%>
                                Forma de pago
                              <% end %>
                            </li>
                            <li>
                              <%= link_to caja_sucursals_path do%>
                                Moneda
                              <% end %>
                            </li>
                            <li>
                              <%= link_to caja_sucursals_path do%>
                                Tipo de comprobante
                              <% end %>
                            </li>
                            <li>
                              <%= link_to metodo_pagos_path do%>
                                Método de pago
                              <% end %>
                            </li>
                            <li>
                              <%= link_to uso_cfdis_path do%>
                                Uso CFDI
                              <% end %>
                            </li>
                            <li>
                              <%= link_to clave_prod_servs_path do%>
                                Clave producto
                              <% end %>
                            </li>
                            <li>
                              <%= link_to unidad_medidas_path do%>
                                Unidad de medida
                              <% end %>
                            </li>
                            <!--
                            La clave de Unidad => en el módulo de productos con el nombre de presentaciónes.
                            El código postal => se encuentra en el módulo de negocios como un atributo.
                            No hay nesecidad de presentar el catálolgo de regimen fiscal por que solo sera el del negocio
                           -->
                          </ul>

                        </li>

                      </ul>
                  </li>



                </ul>

              </li>

            <%end%>

          </ul>

        </div>


      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>-->
      <!-- /menu footer buttons -->
    </div>
    <script>

      $("#pos-mod").on("click", function(evt){
        if ($("body").hasClass('nav-md')) {
          $("body").removeClass('nav-md').addClass('nav-sm');
          $LEFT_COL.removeClass('scroll-view').removeAttr('style');

          if ($SIDEBAR_MENU.find('li').hasClass('active')) {
            $SIDEBAR_MENU.find('li.active').addClass('active-sm').removeClass('active');
          }
        } else {
          $("body").removeClass('nav-sm').addClass('nav-md');

          if ($SIDEBAR_MENU.find('li').hasClass('active-sm')) {
            $SIDEBAR_MENU.find('li.active-sm').addClass('active').removeClass('active-sm');
          }
        }

        evt.stopPropagation();

      });

    </script>
  </div>
