<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%if current_user.perfil%>
              <%= image_tag(current_user.perfil.foto_url) if current_user.perfil.foto.present? %><%=current_user.perfil.nombre%>
            <%end%>
            <span class=" fa fa-angle-down"></span>
        
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <%if current_user.perfil%>
              <li><%= link_to 'Perfil', edit_perfil_path(current_user.perfil) %>
              </li>
            <%end%>
            <li>
              <%= link_to 'Login', new_user_session_path %>
            </li>
            <li>
              <a href="javascript:;">Ayuda</a>
            </li>
            <li><%= link_to 'Cerrar Sesion', destroy_user_session_path, :method=> :delete %>
            </li>
          </ul>
        </li>
    </nav>
  </div>

</div>
<!-- /top navigation -->
