<form action="">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-xs-9">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="generales">
          <!-- Proveedor -->
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Proveedor:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "<%= @proveedor %>" >
            </div>
          </div>

          <!-- Factura y ticket -->
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Factura/ticket:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-money"></i></span>
              <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "<%= @facturaTicket %>">
            </div>
          </div>


          <!-- Fecha de vencimiento -->
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de vencimiento:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%= @fechaVencimiento %>" >
            </div>
          </div>

          <!-- Fecha de vencimiento -->
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Adeudo original:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%= @adeudoOriginal %>" >
            </div>
          </div>          


          <!-- Adeudo -->
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Adeudo pendiente:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-filter"></i></span>
              <input type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%= @adeudoPendiente %>">
            </div>
          </div>

          <!-- Status -->
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Status:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-filter"></i></span>
              <input type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%= @status %>">
            </div>
          </div>
             
        </div>
        
        <!-- Si el movimiento de caja chica fue un gasto, esta sección muestra algunos detalles de dicho gasto realizado -->       
        
        <div class="tab-pane" id="detalles">
          <% if @pagoProveedores.size > 0 %>  
            <table id ="tabla_pago_proveedores" class="table table-striped responsive-utilities jambo_table">
              <thead>
                <tr class="headings">
                  <th class="column-title">Fecha pago </th>
                  <th class="column-title">Monto pago </th>
                  <th class="column-title">Usuario que autorizó </th>
                </tr>
              </thead>
              <tbody>
                <% @pagoProveedores.each do |pago| %>
                  <tr>
                    <td> <%= pago.created_at.strftime("%d/%m/%Y") %> </td>
                    <td> <%= pago.monto %> </td>
                    <td> <%= pago.user.perfil.nombre_completo %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
          No se ha realizado ningún pago.
          <% end %>
        </div> <!-- Termina el tab-pane detalles -->
        
       
      <!-- </div> Termina tab-content -->
      </div>
    </div>

    <!-- Esta sección contiene las pestañas abren los divs #generales y #detalles -->
    <div class="col-xs-3">
      
      <ul class="nav nav-tabs tabs-right">
        <li class="active"><a href="#generales" data-toggle="tab">Datos Generales</a>
        </li>
        <li><a href="#detalles" data-toggle="tab">Pagos realizados</a>
        </li>
      </ul>

    </div>


  </div>
</form>