<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Pagos pendientes sucursal <%= current_user.sucursal.nombre.capitalize %></h1>
    </div>
  </div>
  <div class="clearfix"></div> 
  <hr>
  <div class="row">
    <a href="#" id="test" onClick="javascript:fnExcelReport();" class="btn btn-success">
      <li class="fa fa-file-excel-o">
        Exportar a xls
      </li>
    </a>
  </div>
  <hr>
  <div class="col-md-12 col-sm-12 col-xs-12 ">
    <div>

      <table class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th class="column-title" style="text-align: center;">Proveedor</th>
            <th class="column-title" style="text-align: center;">Factura/Ticket</th>
            <th class="column-title" style="text-align: center;" >Fecha vencimiento</th>
            <th class="column-title" style="text-align: center;">Adeudo</th>
            <th class="column-title" style="text-align: center;"></th>
            <th class="column-title" style="text-align: center;"></th>
              
          </tr>
        </thead>

        <tbody id="tb_pagos_pendientes">
           <%= render @pagosPendientes %>
        </tbody>
      </table>
      <%= render 'modalPagoPendiente' %>

    </div>
    <div class="row" style="display: none;">
      <table class="table table-striped responsive-utilities jambo_table" id="tabla_pagos_pendientes">
        <thead>
          <tr>
            <th class="column-title" style="text-align: center;">Proveedor</th>
            <th class="column-title" style="text-align: center;">Factura/Ticket</th>
            <th class="column-title" style="text-align: center;" >Fecha vencimiento</th>
            <th class="column-title" style="text-align: center;">Adeudo</th>
              
          </tr>
        </thead>

        <tbody id="tb_pagos_pendientes">
          <% @pagosPendientes.each do |pago_pendiente| %>
            <tr>
              <td style="text-align: center;"><%= pago_pendiente.proveedor.nombre %></td>
  <td style="text-align: center;"><%= pago_pendiente.compra.folio_compra %>/<%= pago_pendiente.compra.ticket_compra %></td>
              <td style="text-align: center;"><%= pago_pendiente.fecha_vencimiento.strftime("%d/%m/%Y") %></td>
              <td style="text-align: center;"><%= pago_pendiente.saldo %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
    
  </div>
  <script>

    $(document).ready(function(){

      $("#filtros_avanzados").click(function(e){
        if( $("#opciones_filtros_avanzados").is(":visible") ){
           $(this).html('Filtros Avanzados <i class="fa fa-sort-down"></i>');
        }
        else{
          $(this).html('Filtros Avanzados <i class="fa fa-sort-up"></i>');
        }
        
        $("#opciones_filtros_avanzados").slideToggle("fast");

      });
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        },
        scrollY: "480px",
        scrollCollapse: true,
        //dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });

    });

    function fnExcelReport() {
        
      var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
      tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';

      tab_text = tab_text + '<x:Name>Reporte de pagos pendientes</x:Name>';

      tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
      tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';

      tab_text = tab_text + "<table border='1px'>";
      tab_text = tab_text + $('#tabla_pagos_pendientes').html();
      tab_text = tab_text + '</table></body></html>';

      var data_type = 'data:application/vnd.ms-excel';
        
      var ua = window.navigator.userAgent;
      var msie = ua.indexOf("MSIE ");
        
      if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
          if (window.navigator.msSaveBlob) {
              var blob = new Blob([tab_text], {
                  type: "application/csv;charset=utf-8;"
              });
             navigator.msSaveBlob(blob, 'Reporte de pagos pendientes.xls');
          }
      } else {
          $('#test').attr('href', data_type + ', ' + encodeURIComponent(tab_text));
          $('#test').attr('download', 'Reporte de pagos pendientes.xls');
      }

    }

  </script>
  
</div>
