<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Notas de Crédito</h1>
    </div>
  </div>

  <div class="clearfix"></div>
  <hr>
  <div class="row">
    <div class="div-add-button">
        <!-- link_to 'Nueva nota de crédito', new_nota_credito_path, class: "btn btn-info btn-lg btn-add",id: "anadir-factura-btn" -->
    </div>
  </div> <!--Fin de botón -->

  <hr style="border-style: solid; border-width: 2px;">

    <button id="filtro_por_fecha" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros por fecha <i class="fa fa-sort-down"></i>
    </button>
    <!-- Este buscador sencillo, permite al usuario buscar ventas realizadas en determinado rango de fechas -->
    <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_fecha">
      <%= form_tag({ controller: "nota_creditos", action: "consulta_por_fecha" }, {:class=> "form-horizontal", :method => :post}) do %>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            Búsqueda por fechas:
          </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right; color: black;">
            Desde:
          </div>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= date_picker_tag("fecha_inicial", nil, {class: "form-control", selectMonths: :true}, {})%>
          </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right; color: black;">
            Hasta:
          </div>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= date_picker_tag("fecha_final", nil, {class: "form-control"}, {})%>

          </div>
        </div>

        <div class="col-md-1 col-sm-5 col-xs-12">
          <div class="text-center">
            <%= submit_tag 'Consultar notas de crédito', {:class=>"btn btn-info"} %>
          </div>
        </div>
      <% end %>
    </div> <!--Fin de busqueda por fecha-->
    <!-- Termina buscador por rango de fechas -->

    <button id="filtro_por_folio" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros por folio <i class="fa fa-sort-down"></i>
    </button>
    <!-- Este form permite buscar las facturas de acuerdo al folio ingresado-->
    <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_folio">
      <%= form_tag({ controller: "nota_creditos", action: "consulta_por_folio" }, {:class=> "form-horizontal", :method => :post}) do %>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">

                Filtro por folio de notas de crédito:
          </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right; color: black;">
            Folio:
          </div>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= text_field_tag :folio_nc, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Folio de la nota..."} do%>
              <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
            <%end%>
          </div>
        </div>

        <div class="col-md-1 col-sm-5 col-xs-12">
          <div class="text-center">
            <%= submit_tag 'Filtrar por folio', {:class=>"btn btn-info"} %>
          </div>
        </div>

      <% end %>
    </div>
    <!-- Termina buscador por folio de notas de crédito -->

    <button id="filtro_por_cliente" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros por cliente<i class="fa fa-sort-down"></i>
    </button>
    <!-- Permite realizar una busqueda de la facturas de un cliente en específico -->
    <div class="row opciones_filtros" style="margin-bottom: 30px;" id="opciones_filtros_por_cliente">
      <%= form_tag({ controller: "nota_creditos", action: "consulta_por_cliente" }, {:class=> "form-horizontal", :method => :post}) do %>
        <div class="form_row" style="margin-bottom: 30px;">
          <div class="btn-group" data-toggle="buttons">
            <%= label_tag "lbl2", "lbl_rfc", class: "btn btn-primary btn-xs form-check-label" do %>
              <%= radio_button_tag 'rbtn', "rbtn_rfc",  class:"form-check-input"%> Buscar por R.F.C
              <!--input class="form-check-input" type="radio" checked autocomplete="off"> radio 1 (pre-checked)-->
            <%end%>
            <%= label_tag "lbl", "lbl_nombreFiscal", class: "btn btn-primary btn-xs active form-check-label" do %>
              <%= radio_button_tag 'rbtn', "rbtn_nombreFiscal", class:"form-check-input"%>Buscar por nombre fiscal
              <!--input class="form-check-input" type="radio" checked autocomplete="off"> radio 1 (pre-checked)-->
            <%end%>

        </div>
        </div>
        <div class="item form-group">
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="text-center">
              Filtro por cliente:
            </div>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
            <div style="text-align: right; color: black;">
              <%= label_tag "lbl", "Nombre:", class: "control-label", id: "leyenda_filtro_cliente"%>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center" id="errorRFC">

              <%= collection_select(nil, :cliente_id, @nombreFiscalClientes, :id, :nombreFiscal, {:prompt => 'Elija un cliente.'}, { class: "form-control col-md-7 col-xs-12", id: "nombreFiscalCliente"})%>

              <%= text_field_tag :rfc, nil, {class: "form-control col-md-7 col-xs-12 text_field rfc_input",id:"rfc_input", :placeholder=>"RFC del cliente..."} do%>
                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
              <%end%>
            </div>
          </div>

          <div class="col-md-1 col-sm-5 col-xs-12">
            <div class="text-center">
              <%= submit_tag 'Filtrar por cliente', {:class=>"btn btn-info",id: "RFC_Obligatorio"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Termina buscador por atributos del cliente-->

 <!-- Este botón despliega el div con las opciones para filtros avanzados -->
    <button id="filtros_avanzados" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;">
      Filtros Avanzados <i class="fa fa-sort-down"></i>
    </button>

    <!-- Los filtros avanzados permiten al usuario "filtrar ventas" dependiendo de uno o más criterios, pudiendo estos ser combinables entre sí. -->
    <div id="opciones_filtros_avanzados" class="opciones_filtros row">
      <%= form_tag({ controller: "nota_creditos", action: "consulta_avanzada" }, {:class=> "form-horizontal",id: "formFiltrosAvanzados", :method => :post}) do %>
        <div class="item form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="text-align: left; color: black;">
              Elija un conjunto de criterios para hacer un filtro más detallado.
            </div>
          </div>
        </div>
        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Seleccione un rango de fechas:
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
              <%= date_picker_tag("fecha_inicial_avanzado", nil, {class: "form-control text_field", selectMonths: :true}, {})%>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
              <%= date_picker_tag("fecha_final_avanzado", nil, {class: "form-control text_field"}, {})%>
            </div>
          </div>
        </div>

        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Cliente:
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              <%= select_tag :opcion_busqueda_cliente, "<option>Buscar por R.F.C.</option><option>Buscar por nombre fiscal</option>".html_safe, :prompt => 'Elija una opción.',  class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;"  id="errorRFC2">
                <%= collection_select(nil, :cliente_id, @nombreFiscalClientes, :id, :nombreFiscal, {:prompt => 'Elija un cliente.'}, { class: "form-control col-md-7 col-xs-12 nombre_collection_select", style: "display: none;"})%>
                <%= text_field_tag :rfc, nil, {class: "form-control col-md-7 col-xs-12 text_field rfc_text_field", id:"rfc_input2", :placeholder=>"RFC del cliente...", style: "display: none;"} do%>
                  <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                <%end%>
            </div>
          </div>
        </div>
        <!--Filtro por monto de venta-->
        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Por monto:
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              <%= select_tag :condicion_monto_nc, "<option>menor que</option><option>mayor que</option><option>menor o igual que</option><option>mayor o igual que</option><option>igual que</option><option>diferente que</option><option id='rangoMonto'>rango desde</option>".html_safe, :prompt => 'Elija una condición.',  class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              <%= number_field_tag(:monto1 , nil, {class: "form-control text_field", style: "display: none;"})%>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              <%= number_field_tag(:monto2 , nil, {class: "form-control text_field", style: "display: none;"})%>
            </div>
          </div>
        </div>

        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Status de la nota de crédito:
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
              <%= select_tag "estado_nc", "<option>Todas</option><option>Activa</option><option>Cancelada</option>".html_safe,  class: 'form-control' %>
            </div>
          </div>
        </div>

        <% if can? :create, Negocio %>

          <div class="item form-group">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div style="text-align: right;">
                Sucursal:
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="text-center">
                <%= collection_select(nil, :suc_elegida, @sucursales, :id, :nombre, {:prompt => 'Seleccione sucursal'}, { class: "form-control col-md-7 col-xs-12" })%>
              </div>
            </div>
          </div>

        <% end %>

        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">

          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-left">
              <%= submit_tag 'Consulta avanzada', {:class=>"btn btn-info",id: "RFC_Obligatorio2"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>


    <!--Lista de todas las notas de crédito -->
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div>
          <table class="table table-striped responsive-utilities jambo_table data-table">
            <thead>
              <tr>
                <th style="text-align: center;">Folio</th>
                <th style="text-align: center;">Cliente </th>
                <th style="text-align: center;">Fecha</th>
                <th style="text-align: center;">Total</th>
                <th style="text-align: center;">Estado</th>
                <th style="text-align: center;">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <% @nota_creditos.each do |nc| %>
                <tr>
                  <td style="text-align: center;"><%= nc.folio %></td>
                  <td style="text-align: center;"><%= nc.cliente.datos_fiscales_cliente.nombreFiscal %></td>
                  <td style="text-align: center;"><%= nc.fecha_expedicion%></td>
                  <td style="text-align: center;">$ <%= nc.monto %></td>
                  <!--Por el momento solo dos estados -->
                  <td style="text-align: center;">
                    <% if nc.estado_nc.eql?("Activa") %>
                      <span class="btn btn-success"> Activa </span>
                    <%elsif nc.estado_nc.eql?("Cancelada")%>
                      <span class="btn btn-danger"> Cancelada</span>
                    <%end%>
                  </td>
                  <td style="text-align: center;" >
                    <!--Imprimir factura-->

                      <%= link_to url={action: "imprimirpdf", controller: "nota_creditos", id: nc}, html_options={class: "btn btn-primary",  title: 'Imprimir', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :target => '_blank'} do %>
                        <i class="fa fa-print"></i>
                      <% end %>
                      <!--Para enviarle el xml y/o el pdf de la nota de crédito -->

                        <%= link_to url={action: "mostrar_email_nota_credito", controller: "nota_creditos", id: nc}, html_options={ class: "btn btn-warning", remote: true , title: 'Enviar', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                        <i class="fa fa-envelope"></i>
                        <% end %>

                      <!--Para descargar el xml de la nóta de crédito. -->
                      <%= link_to url={action: "descargar_nota_credito", controller: "nota_creditos",id: nc}, html_options={ class: "btn btn-success",  title: 'Descargar', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                        <i class="fa fa-cloud-download"></i>
                      <% end %>

                      <%= link_to url={action: "show", controller: "nota_creditos", id: nc}, html_options = {class: "btn btn-info", remote: true , title: 'Detalles', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                      <i class="fa fa-info-circle"></i>
                      <% end %>

                      <% if nc.estado_nc == "Activa" %>
                        <%= link_to url={action: "mostrar_email_cancelacion_nc", controller: "nota_creditos", id: nc}, html_options={ class: "btn btn-danger", remote: true , title: 'Cancelar', 'data-toggle' => 'tooltip', 'data-placement' => 'top'} do %>
                         <i class="fa fa-close"></i>
                        <% end %>
                      <% else %>
                        <%= button_tag  class: "btn btn-danger", remote: true , title: 'Cancelar', 'data-toggle' => 'tooltip', 'data-placement' => 'top', disabled: true do %>
                          <i class="fa fa-close"></i>
                        <% end %>
                      <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          </div>
        </div>
        <%= render 'modalEmails'%>
        <%= render 'modalCancelaNotaCredito'%>
        <%= render 'modalFacturas'%>
      </div>

      <script>
        $(document).ready(function(){

          $('.data-table').DataTable({
            responsive: true,
            "language":{
              "info": "Mostrar pag _PAGE_ de _PAGES_",
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No hay coincidencias",
              "search": "Buscar: _INPUT_",
              "infoFiltered": " - encontrados en _MAX_ registros",
              "paginate": {
                "previous": "Anterior",
                "next" : "siguiente",
                "last" : "último",
                "first" : "primero"
              }
            }
          });

          /*Botones de los filtros*/
          $("#filtro_por_cliente").click(function(e){
            if ($("#rbtn_rbtn_nombreFiscal").is(":checked")) {
              $('#errorRFC').removeClass(" has-error has-feedback");
                $('.rfc_input').hide().val("");
              $('#nombreFiscalCliente').show();
              $('#leyenda_filtro_cliente').html("Nombre:");
            }
            else if ($("#rbtn_rbtn_rfc").is(":checked")) {
              $('#errorRFC').removeClass(" has-error has-feedback");
              $('.rfc_input').hide().val("");

              $('#nombreFiscalCliente').hide().val("");
              $('.rfc_input').show();
              $('#leyenda_filtro_cliente').html("R.F.C.:");
            }

            if( $("#opciones_filtros_por_cliente").is(":visible") ){
               $(this).html('Filtros por cliente <i class="fa fa-sort-down"></i>');
            }
            else{
              $(this).html('Filtros por cliente <i class="fa fa-sort-up"></i>');
            }

            $("#opciones_filtros_por_cliente").slideToggle("fast");
          });

          $("#filtros_avanzados").click(function(e){
            if( $("#opciones_filtros_avanzados").is(":visible") ){
              $(this).html('Filtros Avanzados <i class="fa fa-sort-down"></i>');
            }
            else{
              $(this).html('Filtros Avanzados <i class="fa fa-sort-up"></i>');
            }
            $("#opciones_filtros_avanzados").slideToggle("fast");
          });

          $("#filtro_por_folio").click(function(e){
            if( $("#opciones_filtros_por_folio").is(":visible") ){
                $(this).html('Filtros por folio <i class="fa fa-sort-down"></i>');
            }
            else{
              $(this).html('Filtros por folio <i class="fa fa-sort-up"></i>');
            }
            $("#opciones_filtros_por_folio").slideToggle("fast");
          });

          $("#filtro_por_fecha").click(function(e){
            if( $("#opciones_filtros_por_fecha").is(":visible") ){
              $(this).html('Filtros por fecha <i class="fa fa-sort-down"></i>');
            }
            else{
              $(this).html('Filtros por fecha <i class="fa fa-sort-up"></i>');
            }
            $("#opciones_filtros_por_fecha").slideToggle("fast");
          });

        });

        $('select#condicion_monto_nc').on('change',function(){
          var valor = $(this).val();
          if (valor == "rango desde"){
            $('#monto1').show().val("");
            $('#monto2').show().val("");
          }else{
            $('#monto1').show().val("");
            $('#monto2').hide().val("");
          }
          //Ocultar cuando no este seleccionado ninguno
        });


        $(document).ready(function(){
          //Función para validar un RFC
          // Devuelve el RFC sin espacios ni guiones si es correcto
          // Devuelve false si es inválido
          // (debe estar en mayúsculas, guiones y espacios intermedios opcionales)
          function rfcValido(rfc, aceptarGenerico = true) {
            const re       = /^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/;
            var   validado = rfc.match(re);

            if (!validado)  //Coincide con el formato general del regex?
                return false;

            //Separar el dígito verificador del resto del RFC
            const digitoVerificador = validado.pop(),
                  rfcSinDigito = validado.slice(1).join(''),
                  len = rfcSinDigito.length,

              //Obtener el digito esperado
                  diccionario = "0123456789ABCDEFGHIJKLMN&OPQRSTUVWXYZ Ñ",
                  indice = len + 1;
            var   suma,
                  digitoEsperado;

            if (len == 12) suma = 0
            else suma = 481; //Ajuste para persona moral

            for(var i=0; i<len; i++)
                suma += diccionario.indexOf(rfcSinDigito.charAt(i)) * (indice - i);
            digitoEsperado = 11 - suma % 11;
            if (digitoEsperado == 11) digitoEsperado = 0;
            else if (digitoEsperado == 10) digitoEsperado = "A";

            //El dígito verificador coincide con el esperado?
            // o es un RFC Genérico (ventas a público general)?
            if ((digitoVerificador != digitoEsperado)
             && (!aceptarGenerico || rfcSinDigito + digitoVerificador != "XAXX010101000"))
                return false;
            else if (!aceptarGenerico && rfcSinDigito + digitoVerificador == "XEXX010101000")
                return false;
            return rfcSinDigito + digitoVerificador;
          }
         
            //Para el filtro por cliente.. permite elegir la busqueda por nombre fisca o por RFC
            $("#rbtn_rbtn_nombreFiscal, #rbtn_rbtn_rfc").change(function () {
                if ($("#rbtn_rbtn_nombreFiscal").is(":checked")) {
                  $('#errorRFC').removeClass(" has-error has-feedback");
                  $('.rfc_input').hide().val("");
                  $('#nombreFiscalCliente').show();
                  $('#leyenda_filtro_cliente').html("Nombre:");
                }
                else if ($("#rbtn_rbtn_rfc").is(":checked")) {
                    //Handler para el evento cuando cambia el input
                    // -Lleva la RFC a mayúsculas para validarlo
                    // -Elimina los espacios que pueda tener antes o después
                  var validador_RFC_Obligatorio = function(e){
                    var input = document.getElementById("rfc_input");
                    var rfc = input.value.trim().toUpperCase()
                    var rfcCorrecto = rfcValido(rfc);   // ⬅️ Acá se comprueba
                    var colorearRojo=document.getElementById("errorRFC");

                    if (!rfcCorrecto) {

                      colorearRojo.className+=" has-error has-feedback";

                      e.preventDefault();

                    }

                  };
                    //Se pone a la escucha el sumit del formulario
                    var facturarYCrearNueva=document.getElementById("RFC_Obligatorio");
                    facturarYCrearNueva.addEventListener("click",validador_RFC_Obligatorio);

                  $('#nombreFiscalCliente').hide().val("");
                  $('.rfc_input').show();
                  $('#leyenda_filtro_cliente').html("R.F.C.:");

                }
            });
             $('select#opcion_busqueda_cliente').on('change',function(){
          var valor = $(this).val();
          if (valor == "Buscar por R.F.C."){
            //Handler para el evento cuando cambia el input
            // -Lleva la RFC a mayúsculas para validarlo
            // -Elimina los espacios que pueda tener antes o después
          var validador_RFC_Obligatorio2 = function(e){
            var input = document.getElementById("rfc_input2");
            var rfc = input.value.trim().toUpperCase()
            var rfcCorrecto = rfcValido(rfc);   // ⬅️ Acá se comprueba
            var colorearRojo=document.getElementById("errorRFC2");

            if (!rfcCorrecto) {

              colorearRojo.className+=" has-error has-feedback";

              e.preventDefault();

            }

          };
            //Se pone a la escucha el sumit del formulario
            var facturarYCrearNueva=document.getElementById("RFC_Obligatorio2");
            facturarYCrearNueva.addEventListener("click",validador_RFC_Obligatorio2);

            $('.nombre_collection_select').hide().val("");
            $('.rfc_text_field').show().val("");

          }else if (valor == "Buscar por nombre fiscal") {
            $('#errorRFC2').removeClass(" has-error has-feedback");
            $('.nombre_collection_select').show().val("");
            $('.rfc_text_field').hide().val("");
          }

          //Ocultar cuando no este seleccionado ninguno
      });


        });
      </script>

</div>
