<%= form_tag({ controller: "devoluciones", action: "hacerDevolucion" }, {:class=> "form-horizontal", :method => :post}) do %>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Categoría de la devolución*:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
        <%= collection_select(:devolucion, :cat_devolucion, @categorias, :id, :clave, {:prompt => 'Seleccione categoria' }, { class: "form-control col-md-7 col-xs-12", required: :true, title: "Indica una categoria de devolución   " })%>
      </div>
    </div>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Razón de la devolución*:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <%= text_area_tag :observaciones, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Escriba la razón por la cual se está devolviendo este producto...", required: :true} do%>
        <%end%>
      </div>
    </div>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Unidades devueltas*:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <%= number_field_tag :cantidad_devuelta, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Por ejemplo 1 pieza 1.5 kilogramos, etc...", required: :true, title: "Indica cuánto devolver", min: "1.0", max: @itemVenta.cantidad } do%>
        <%end%>
      </div>
    </div>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Origen del recurso*:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-archive"></i></span>
        <select name="select_origen_recurso" id="select_origen_recurso" class="form-control" required="true">
        <% @cajas.each do |caja| %>
          <option value="caja_venta_<%= caja.id %>">Caja <%= caja.nombre %></option>
        <% end %>
          <option value="caja_chica">Caja chica</option>
        </select>
      </div>
    </div>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Importe de devolución:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-money"></i></span>
        <%= hidden_field_tag :precio_venta, @itemVenta.precio_venta %>
        <%= text_field_tag :importe_devolucion, nil, {class: "form-control col-md-7 col-xs-12 text_field"} %>
      </div>
    </div>

    <%if @itemVenta.venta.factura.present? && @itemVenta.venta.factura.estado_factura == "Activa"%>
    <div class="item form-group col-md-12 col-sm-12 col-xs-12" >
      <h2 class="control-label col-md-3 col-sm-3 col-xs-12" style="color: black;">Envío de la nota de crédito:</h2>
    </div>
    <!--Campos para el envio del Acuse de cancelación-->
    <div class="item form-group">
      <%= label_tag :lbl_destinatario, "Para: ", class:"control-label col-md-4 col-sm-4 col-xs-12", style:"text-align:right;"%>
      <div class="input-group col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!--email_field_tag 'email', 'email@example.com', class: 'special_input', disabled: true-->
        <%=email_field_tag :destinatario, @itemVenta.venta.factura.cliente.email, class: 'form-control text_field'%>
        <!--text_field_tag :destinatario, nil, {class:'form-control text_field'}%-->
      </div>
    </div>
    <div class="item form-group">
      <%= label_tag :lbl_asunto, "Asunto: ", class:"control-label col-md-4 col-sm-4 col-xs-12", style:"text-align:right;"%>
      <div class="input-group col-md-6 col-sm-6 col-xs-12">
        <!--span class="input-group-addon"><i class="fa fa-pencil"></i></span-->
        <!--email_field_tag 'email', 'email@example.com', class: 'special_input', disabled: true-->
        <%= text_area_tag :asunto, @asunto,{class:'form-control text_field', id: "summernoteAsunto_nc"} %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :lbl_mensaje, "Su mensaje: ", class:"control-label col-md-4 col-sm-4 col-xs-12", style:"text-align:right;"%>

      <div class="input-group col-md-6 col-sm-6 col-xs-12">
         <!--textarea id="summernote" name="summernote"></textarea-->
        <%= text_area_tag  :summernote, @mensaje,{class:'form-control text_field', id: "summernoteMensaje_nc"}%>
      </div>
    </div>
    <% end %>
    <%= hidden_field_tag :item_venta, @itemVenta.id %>

    <div class="item form-group">
      <div class="col-md-4 col-sm-3 col-xs-12">

      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="text-left">
          <%= submit_tag 'Hacer devolución', {:class=>"btn btn-danger"} %>
        </div>
      </div>
    </div>

<%= javascript_include_tag "devoluciones" %>
<% end %>
<script type="text/javascript">
    $('#summernoteAsunto_nc').summernote({
        tabsize: 2,
        minHeight: 40,
        maxHeight: 40,
        maxWidth: 200,
        lang: 'es-ES', // default: 'en-US'
        toolbar: false,
    });

    $('#summernoteMensaje_nc').summernote({
      tabsize: 2,
      height: 240,
      minHeight: 240,
      maxHeight: 240,
      lang: 'es-ES', // default: 'en-US'
      focus: true,
      toolbar: false
    });
</script>
