<%= form_tag({ controller: "devoluciones", action: "hacerDevolucion" }, {:class=> "form-horizontal", :method => :post}) do %>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Categoría de la devolución*:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
        <%= collection_select(:devolucion, :cat_devolucion, @categorias, :id, :clave, {:prompt => 'Seleccione categoria' }, { class: "form-control col-md-7 col-xs-12", required: :true, title: "Indica una categoria de devolución   " })%>
      </div>
    </div>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Razón de la devolución*:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <%= text_area_tag :observaciones, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Escriba la razón por la cual se está devolviendo este producto...", required: :true} do%>
        <%end%>
      </div>
    </div>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Unidades devueltas*:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <%= number_field_tag :cantidad_devuelta, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Por ejemplo 1 pieza 1.5 kilogramos, etc...", required: :true, title: "Indica cuánto devolver", min: "1.0", max: @itemVenta.cantidad } do%>
        <%end%>
      </div>
    </div>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Origen del recurso*:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-archive"></i></span>  
        <select name="select_origen_recurso" id="select_origen_recurso" class="form-control" required="true">
        <% @cajas.each do |caja| %>
          <option value="caja_venta_<%= caja.id %>">Caja <%= caja.nombre %></option>
        <% end %>
          <option value="caja_chica">Caja chica</option>
        </select>
      </div>
    </div>

    <div class="item form-group">
      <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Importe de devolución:</label>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-money"></i></span>  
        <%= hidden_field_tag :precio_venta, @itemVenta.precio_venta %>
        <%= text_field_tag :importe_devolucion, nil, {class: "form-control col-md-7 col-xs-12 text_field"} %>
      </div>
    </div>

    <%= hidden_field_tag :item_venta, @itemVenta.id %>
    
    <div class="item form-group">
      <div class="col-md-4 col-sm-3 col-xs-12">
          
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="text-left">
          <%= submit_tag 'Hacer devolución', {:class=>"btn btn-danger"} %>
        </div>
      </div>
    </div>

<%= javascript_include_tag "devoluciones" %>
<% end %>


