<div class="right_col" role="main" style="height: 900px;">
  <div class="page-title">
    <div class="title_left">
      <h1>Hacer devolución</h1>
    </div>
  </div>
  <div class="clearfix"></div>

  <hr>

  <!-- Esta sección solamente se muestra si se encontró una venta y si se determina que se está
  haciendo una consulta -->
  <div class="row">
  <% if@consulta %>
    <% if @venta %><!--&& @itemsVenta%-->
      <!-- Despliega los resultados encontrados en la búsqueda -->
      <% if @ventaCancelada == false %>
        <% if @ventaConDevolucionTotal  == false %>
          <div class="row">
            <div class="col-md-12" style="color: gray;">
              Se encontraron <span style="color:#5B7ECC; font-size: 20px;"><%= @itemsVenta.size %></span> productos en esta venta.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="color: gray;">
              <div class="col-md-12">
                Folio Venta: <span style="color:#5B7ECC; font-size: 16px;"> <%= @venta.folio %></span>
              </div>
            </div>
          </div>
          <hr>
          <% else %>
          <div class="alert alert-warning alert-dismissable msj">
            <button type="button" class="close" data-dismiss="alert" >&times;</button>
              La venta con folio: <span style="color:black; font-size: 16px;"> <%= @venta.folio %></span>  ya fue devuelta en su totalidad.
          </div>
          <% end %>
      <!--Venta cancelada -->
      <% else%>
        <div class="alert alert-warning alert-dismissable msj">
          <button type="button" class="close" data-dismiss="alert" >&times;</button>
            No se pueden hacer devoluciones de la venta con folio:<span style="color:black; font-size: 16px;"> <%= @venta.folio %></span>  porque la venta fue cancelada.
        </div>
      <% end %>
  <% else %>

    <div class="alert alert-warning alert-dismissable msj">
      <button type="button" class="close" data-dismiss="alert" >&times;</button>
      No hay ventas registradas con el folio: <span style="color:black; font-size: 16px;"> <%= @folio%></span>.
    </div>
  <% end %>
  <% end %>
</div>


  <div class="row" style="margin-bottom: 30px;">

    <!-- Este formulario permite consultar si existe este folio de venta en la base de datos -->
    <%= form_tag({ controller: "devoluciones", action: "devolucion" }, {:class=> "form-horizontal", :method => :post}) do %>
      <div class="item form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div style="text-align: left; color: black;">
            Proporcione el folio de la venta.
          </div>
        </div>
      </div>
      <div class="item form-group">
        <div class="col-md-1 col-sm-1 col-xs-1">
          <div style="text-align: right;">
            Folio:
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-center">
		        <%= text_field_tag :folio, nil, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"folio de la venta..."} do%>
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
		        <%end%>
          </div>
        </div>
      </div>

      <div class="item form-group">
        <div class="col-md-1 col-sm-1 col-xs-1">

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-left">
            <%= submit_tag 'Buscar venta', {:class=>"btn btn-info"} %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <!-- La tabla de resultados sólo es visible si se está esperando el resultado de una
       consulta  -->
  <!--% if @consulta && @venta%-->
  <% if @consulta && @venta%>
  <% if @itemsVenta %>
  <div class="row">
    <div id="items_encontrados">
      <table id="tabla_items_encontrados" class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th style='text-align:center;'></th>
            <th style='text-align:center;'>Clave producto</th>
            <th style='text-align:center;'>Producto</th>
            <th style='text-align:center;'>Cantidad</th>
            <th style="text-align: center;">Cantidad devuelta</th>
            <th style='text-align:center;'>Importe</th>
            <th style='text-align:center;'>
              Status
            </th>
            <th style="text-align: center;"></th>
          </tr>
        </thead>
        <tbody>
          <!-- Itera a través de todos los items de venta -->
          <% @itemsVenta.each do |item| %>
          <!-- Si el item de venta tiene devoluciones, sombrea la fila de color rojo -->
          <!-- Todo: Esta acción genera los pipes encima de la tabla. Verificar el porqué -->
          <% if item.status.eql?("Con devoluciones") %>
            <tr style="background: #ffb3b3; color: blue;" >
          <% else %>
            <tr>
          <% end %>
            <td>
              <input type="checkbox" value="<%= item.id %>" name="devoluciones[]" id="devolcion_<%= item.id %>">
            </td>
            <td style='text-align:center;'><%= item.articulo.clave %></td>
            <td style='text-align:center;'><%=item.articulo.nombre%></td>
            <td style='text-align:center;'><%= item.cantidad %></td>
            <!-- Si el item de venta tiene devoluciones, entonces calcula la cantidad
            de devoluciones realizadas y las despliega en la celda -->
            <% if item.status.eql?("Con devoluciones") %>
              <% @cantidad = 0 %>
              <% item.venta_canceladas.each do |venta_cancelada|%>
                <% @cantidad += venta_cancelada.cantidad_devuelta %>
              <% end %>
              <td style='text-align:center;'><%= @cantidad %></td>
            <% else %>
              <td style='text-align:center;'>0</td>
            <% end %>

            <td style='text-align:center;'><%=item.cantidad * item.articulo.precioVenta%></td>
            <!-- Si el item de venta tiene devoluciones, despliega el texto "Este item tiene devoluciones" -->
            <% if item.status.eql?("Con devoluciones") %>
              <% if item.cantidad <= 0 %>
                <td style='text-align:center;'>Venta sin productos</td>
              <% else %>
                <td style='text-align:center;'>Venta con devoluciones</td>
              <% end %>

            <% else %>
              <td style='text-align:center;'>Sin devoluciones</td>
            <% end %>
            <td style='text-align:center;'>
              <% if can? :create, VentaCancelada %>
                <!-- No mostrar el botón de hacer devolución si el item de venta ya no tiene
                productos por devolver -->
                <% if item.cantidad > 0 %>
                  <%= link_to url = {controller:"devoluciones", action:"new", id: item}, html_options =  {remote: true, class: "btn btn-danger", title: "Devolver artículo"} do %>
                    <span class="fa fa-trash" style=""> Hacer devoĺución</span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>

        </tbody>

      </table>

    </div>
  </div>
  <%= render ("modalDevolver") %>
  <% end %>
  <% end %>
  <script>
    $(document).ready(function(){

      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });
      $(document).ready(function() {
        setTimeout(function() {
            $(".msj").fadeOut(1500);
        },10000);
      });

    });
  </script>
  <!-- javascript_include_tag "cancelaciones" -->
</div>
