<div class="right_col" role="main">

  <div class="page-title">
    <div class="title_left">
      <h1>Personal</h1>
    </div>
  </div>
  <div class="clearfix"></div> 
  <div class="col-md-12 col-sm-12 col-xs-12 ">

    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>

        <table class="table table-striped responsive-utilities jambo_table data-table" id="tabla_empleados">
          <thead>
            <tr>
              <th class="column-title">Foto</th>
              <th class="column-title">Nombre</th>
              <th class="column-title">email</th>
              <th class="column-title">Rol</th>
              <th class="column-title">Sucursal</th>              
            </tr>
          </thead>

          <tbody id="tb_empleados">
            <%if can? :update, Negocio%>
              <%@nempleados.each do |nempleado|%>
                <tr id="nempleado_<%= nempleado.id%>">
                  <td>
                    <% if nempleado.perfil %>
                      <%= image_tag(nempleado.perfil.foto_url, :width => 65, :height => 75) if nempleado.perfil.foto.present? %>
                    <% end %>
                  </td>
        				  <td>
                    <% if nempleado.perfil %>
                      <%= nempleado.perfil.nombre << " " << nempleado.perfil.ape_paterno %></td>
                    <% else %>
                      Este empleado no tiene nombre en su perfil
                    <% end %>
        				  <td><%= nempleado.email %></td>
        				  <td><%= nempleado.role %></td>
        				  <td><%= nempleado.sucursal.nombre %></td>
        				</tr>
        			  <% end %>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>

    
  </div>
  <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });
    });
    
  </script>
</div>
