<%= form_for(@cat_articulo) do |f| %>
  <% if @cat_articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat_articulo.errors.count, "error") %> prohibited this cat_articulo from being saved:</h2>

      <ul>
      <% @cat_articulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreCatArticulo %><br>
    <%= f.text_field :nombreCatArticulo %>
  </div>
  <div class="field">
    <%= f.label :descripcionCatArticulo %><br>
    <%= f.text_field :descripcionCatArticulo %>
  </div>
  <div class="field">
    <%= f.label :idCategoriaPadre %><br>
    <%= f.number_field :idCategoriaPadre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
