<p id="notice"><%= notice %></p>

<h1>Listing Cat Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Nombrecatarticulo</th>
      <th>Descripcioncatarticulo</th>
      <th>Idcategoriapadre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cat_articulos.each do |cat_articulo| %>
      <tr>
        <td><%= cat_articulo.nombreCatArticulo %></td>
        <td><%= cat_articulo.descripcionCatArticulo %></td>
        <td><%= cat_articulo.idCategoriaPadre %></td>
        <td><%= link_to 'Show', cat_articulo %></td>
        <td><%= link_to 'Edit', edit_cat_articulo_path(cat_articulo) %></td>
        <td><%= link_to 'Destroy', cat_articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat articulo', new_cat_articulo_path %>
