<%= form_for @compra, url: {action: "actualizar"}, :html => {:class=>'form-horizontal form-label-left', :role=>"form" } do |f| %>
  <div class="item form-group<%= @compra.errors[:folio_compra].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :folio_compra, "Factura de compra*: ", {class: "control-label"} %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
      <%= f.text_field :folio_compra, {class: "form-control text_field first_input", :placeholder=>"Factura de compra...", required: :true } do%>
      <%end%>
      <%if @compra.errors[:folio_compra].any? %>
        <p class="bg-danger"><%= @compra.errors[:folio_compra].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @compra.errors[:ticket_compra].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :ticket_compra, "Ticket de compra*: ", {class: "control-label"} %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
      <%= f.text_field :ticket_compra, {class: "form-control text_field first_input", :placeholder=>"Ticket de compra...", required: :true } do%>
      <%end%>
      <%if @compra.errors[:ticket_compra].any? %>
        <p class="bg-danger"><%= @compra.errors[:ticket_compra].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @compra.errors[:fecha].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :fecha, "Fecha de compra*: ", {class: "control-label"} %>
    <div class="input-group form-i">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      
       <%= f.date_picker :fecha, {class: "form-control"} do%>
       <% end %>

      <%if @compra.errors[:fecha].any? %>
        <p class="bg-danger"><%= @compra.errors[:fecha].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @compra.errors[:monto_compra].any? ? ' has-error has-feedback' : '' %>">
    <div class="input-group">
      <%= f.hidden_field :monto_compra %>
      <%if @compra.errors[:monto_compra].any? %>
        <p class="bg-danger"><%= @compra.errors[:monto_compra].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @compra.errors[:articulos].any? ? ' has-error has-feedback' : '' %>">
    <div class="input-group">
      <%= hidden_field :compra_razon, "edicion", { required: :true }%>
      <%= f.hidden_field :articulos %>
      <%if @compra.errors[:articulos].any? %>
        <p class="bg-danger"><%= @compra.errors[:articulos].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  

  <div class="actions">
    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <%= f.submit "Actualizar compra", :class => "btn btn-success", :id=>"actualizar_compra_btn"%>
      </div>
  </div>

<% end %>
<script>
    $("#edit_compra_<%= @compra.id %>").on('submit', function(evt){
      if($("#razon_edicion").val()==''){
        alert("Debe ponerse la razón por la cual se está editando la compra");
        event.preventDefault();
        event.stopPropagation();
        return false;
      }
    });
  </script>