<%= form_for @compra, :html=> {:class=>'form-horizontal form-label-left', :role=>"form"} do |f| %>
  <div class="item form-group<%= @compra.errors[:folio_compra].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :folio_compra, "Factura de compra*: ", {class: "control-label"} %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
      <%= f.text_field :folio_compra, {class: "form-control text_field first_input", :placeholder=>"Factura de compra, num ticket, etc..."} do%>
      <%end%>
      <%if @compra.errors[:folio_compra].any? %>
        <p class="bg-danger"><%= @compra.errors[:folio_compra].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @compra.errors[:fecha].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :fecha, "Fecha de compra*: ", {class: "control-label"} %>
    <div class="input-group form-i">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      
       <%= f.date_picker :fecha, {class: "form-control"} do%>
       <% end %>

      <%if @compra.errors[:fecha].any? %>
        <p class="bg-danger"><%= @compra.errors[:fecha].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @compra.errors[:proveedor_id].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :proveedor_id, "Proveedor*: ", {class: "control-label"} %>
    <div class="input-group ">
      <span class="input-group-addon"><i class="fa fa-truck"></i></span>
      <%= collection_select(:compra, :proveedor_id, @proveedores, :id, :nombre, {:prompt => 'Seleccione un proveedor'}, { class: "form-control", style: "display:inline"})%>
    </div>
    <%=link_to "Nuevo proveedor", {controller: "proveedores", action: "new"}, html_options = {class: "btn btn-info", remote: true} %>
    
    <%if @compra.errors[:proveedor_id].any? %>
        <p class="bg-danger"><%= @compra.errors[:proveedor_id].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>

  <div class="item form-group<%= @compra.errors[:tipo_pago].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :tipo_pago, "Tipo de pago*: ", {class: "control-label"} %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
      <%= f.select :tipo_pago, {}, {}, {:class=> "form-control", :onchange=>"toogleCredito(event)"} do %>
        <% [['Contado', 'Contado'], ['Crédito', 'Credito']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%if @compra.errors[:tipo_pago].any? %>
        <p class="bg-danger"><%= @compra.errors[:tipo_pago].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>


  <div id="hiddenFields">
    <div class="item form-group<%= @compra.errors[:plazo_pago].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :plazo_pago, "Plazo de pago*: ", {class: "control-label"} %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-smile-o"></i></span>
        <%= f.text_field :plazo_pago, {class: "form-control text_field ", :placeholder=>"Por ejemplo 3, 6 o 9 meses..."} do%>

        <%end%>

        <%if @compra.errors[:plazo_pago].any? %>
          <p class="bg-danger"><%= @compra.errors[:plazo_pago].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @compra.errors[:fecha_limite_pago].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :fecha_limite_pago, "Fecha límite de pago: ", {class: "control-label"} %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <%= f.date_picker :fecha_limite_pago, {class: "form-control"} do%>
        <%end%>
        <%if @compra.errors[:fecha_limite_pago].any? %>
          <p class="bg-danger"><%= @compra.errors[:fecha_limite_pago].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="item form-group<%= @compra.errors[:forma_pago].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :forma_pago, "Forma de pago*: ", {class: "control-label"} %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-money"></i></span>
      <%= f.select :forma_pago, {}, {}, {:class=> "form-control"} do %>
        <% [['Efectivo', 'Efectivo'], ['Tarjeta Débito', 'Tarjeta Debito'], ['Tarjeta Crédito', 'Tarjeta Credito'], ['Cheques', 'Cheques'], ['Vales', 'Vales']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%if @compra.errors[:forma_pago].any? %>
        <p class="bg-danger"><%= @compra.errors[:forma_pago].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  
  <div class="item form-group<%= @compra.errors[:monto_compra].any? ? ' has-error has-feedback' : '' %>">
    <div class="input-group">
      <%= f.hidden_field :monto_compra %>
      <%if @compra.errors[:monto_compra].any? %>
        <p class="bg-danger"><%= @compra.errors[:monto_compra].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @compra.errors[:articulos].any? ? ' has-error has-feedback' : '' %>">
    <div class="input-group">
      <%= f.hidden_field :articulos %>
      <%if @compra.errors[:articulos].any? %>
        <p class="bg-danger"><%= @compra.errors[:articulos].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  

  <div class="actions">
    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <%= f.submit "Registrar Compra", :class => "btn btn-success"%>
      </div>
  </div>

<% end %>