<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Compras realizadas</h1>
      
    </div>

  </div>

  <div class="clearfix"></div>
  
  <div class="row" style="margin-bottom: 30px;"> 
    <%= form_tag({ controller: "compras", action: "consulta_compras" }, {:class=> "form-horizontal", :method => :post}) do %>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="text-center">
          Seleccione un rango de fechas:
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="text-center">
          <%= date_picker_tag("fecha_inicial", nil, {class: "form-control text_field", selectMonths: :true}, {})%>
        </div>
      </div>
        
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="text-center">
          <%= date_picker_tag("fecha_final", nil, {class: "form-control text_field"}, {})%>
            
        </div>
      </div>

      <div class="col-md-1 col-sm-6 col-xs-12">
        <div class="text-center">
          <%= submit_tag 'Consultar Compras', {:class=>"btn btn-info"} %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12" style="color: gray; margin-bottom: 30px;">
        Se encontraron <span style="color:#5B7ECC; font-size: 20px;"><%= @resCompras.size %></span>  resultados en la búsqueda.
    </div>
    
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    

    <div class="row">
      <div>

       

        <table class="table table-striped responsive-utilities jambo_table data-table">
          <thead>
            <tr>
              <th class="column-title">Fecha</th>
              <th class="column-title">Factura de compra</th>
              <th class="column-title">Proveedor</th>
              <th class="column-title">Usuario que compró</th>
              <th class="column-title">Monto de compra</th>
              <th class="column-title">Sucursal</th>
            </tr>
          </thead>

          <tbody>
            <% @resCompras.each do |compra| %>
	            <tr>
      				  <td><%= compra.fecha %></td>
      				  <td><%= compra.folio_compra %></td>
      				  <td><%= compra.fecha %></td>
      				  <td><%= compra.user.perfil ? compra.user.perfil.nombre : compra.user.email %></td>
      				  <td><%= compra.monto_compra %></td>
      				  <td><%= compra.user.sucursal.nombre %></td>
      				</tr>
      			<% end %>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });

    });
  </script>
</div>
