<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @persona.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @persona.telefono2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @persona.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @persona.cargo %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
