<%= form_for(@sucursal) do |f| %>
  <% if @sucursal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sucursal.errors.count, "error") %> prohibited this sucursal from being saved:</h2>

      <ul>
      <% @sucursal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :representante %><br>
    <%= f.text_field :representante %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :negocio_id %><br>
    <%= f.number_field :negocio_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
