<%= form_for @sucursal  , remote: true, :html=> { :class=>'form-horizontal form-label-left', :role=>"form"  } do |f| %>
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="col-xs-9">
  <div class="tab-content">
    <div class="tab-pane active" id="generales">
      <div class="item form-group">
        <h2 class="control-label col-md-3 col-sm-3 col-xs-12">Datos generales:</h2>
      </div>
      <div class="item form-group<%= @sucursal.errors[:nombre].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :nombre, "Nombre*: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= f.text_field :nombre, {class: "form-control col-md-7 col-xs-12 text_field first_input", :placeholder=>"nombre de sucursal..."} do%>
          <%end%>
          <%if @sucursal.errors[:nombre].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:nombre].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:representante].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :representante, "Representante*: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-male"></i></span>
          <%= f.text_field :representante, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Representante de la sucursal..."} do%>
          <%end%>
          <%if @sucursal.errors[:representante].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:representante].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group">
        <h2 class="control-label col-md-3 col-sm-3 col-xs-12">Dirección de la sucursal:</h2>
      </div>

      <div class="item form-group<%= @sucursal.errors[:calle].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :calle, "Calle: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-road"></i></span>
          <%= f.text_field :calle, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Calle..."} do%>
          <%end%>
          <%if @sucursal.errors[:calle].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:calle].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:numExterior].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :numExterior, "Número exterior: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-home"></i></span>
          <%= f.text_field :numExterior, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Número exterior..."} do%>
          <%end%>
          <%if @sucursal.errors[:numExterior].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:numExterior].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:numInterior].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :numInterior, "Número interior: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-home"></i></span>
          <%= f.text_field :numInterior, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Número interior..."} do%>
          <%end%>
          <%if @sucursal.errors[:numInterior].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:numInterior].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:colonia].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :colonia, "Colonia: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-tree"></i></span>
          <%= f.text_field :colonia, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Colonia de la sucursal..."} do%>
          <%end%>
          <%if @sucursal.errors[:colonia].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:colonia].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:municipio].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :municipio, "Municipio: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-building"></i></span>
          <%= f.text_field :municipio, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Municipio de la sucursal..."} do%>
          <%end%>
          <%if @sucursal.errors[:municipio].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:municipio].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:delegacion].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :delegacion, "Delegación: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-building"></i></span>
          <%= f.text_field :delegacion, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Delegación de la sucursal si existe..."} do%>
          <%end%>
          <%if @sucursal.errors[:delegacion].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:delegacion].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:estado].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :estado, "Estado: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
          <%= f.text_field :estado, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "Estado de la sucursal..."} do%>
          <%end%>
          <%if @sucursal.errors[:estado].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:estado].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:codigo_postal].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :codigo_postal, "Código postal: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-navicon"></i></span>
          <%= f.text_field :codigo_postal, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "C.P...."} do%>
          <%end%>
          <%if @sucursal.errors[:codigo_postal].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:codigo_postal].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>

      <div class="item form-group<%= @sucursal.errors[:email].any? ? ' has-error has-feedback' : '' %>">
        <%= f.label :email, "Email: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <%= f.email_field :email, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=> "email del sucursal"} do%>
          <%end%>
          <%if @sucursal.errors[:email].any? %>
            <p class="bg-danger"><%= @sucursal.errors[:email].to_s[/\w([^"]*)/] %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="datos_fiscales">
      <div class="item form-group">
        <h2 class="control-label col-md-3 col-sm-3 col-xs-12">Direción fiscal:</h2>
      </div>
      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Calle:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-road"></i></span>
            <input name="dir_fiscal_calle" id="dir_fiscal_calle" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%=@sucursal.datos_fiscales_sucursal ? @sucursal.datos_fiscales_sucursal.calle : ''%>" placeholder="Calle del cliente...">
        </div>
      </div>
      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Número exterior:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-home"></i></span>
            <% if @sucursal.datos_fiscales_sucursal %>
              <%= number_field_tag(:dir_fiscal_numExt , @sucursal.datos_fiscales_sucursal.numExt, {class: "form-control col-md-7 col-xs-12 text_field", style: "display: none;", placeholder:"Número exterior..."})%>
            <% else %>
              <%= number_field_tag(:dir_fiscal_numExt , nil, {class: "form-control col-md-7 col-xs-12 text_field",  placeholder:"Número exterior..."})%>
            <% end %>
        </div>
      </div>
      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Número interior:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-home"></i></span>
          <% if @sucursal.datos_fiscales_sucursal %>
            <%= number_field_tag(:dir_fiscal_numInt , @sucursal.datos_fiscales_sucursal.numInt, {class: "form-control col-md-7 col-xs-12 text_field", style: "display: none;", placeholder:"Número exterior..."})%>
          <% else %>
            <%= number_field_tag(:dir_fiscal_numInt , nil, {class: "form-control col-md-7 col-xs-12 text_field",  placeholder:"Número exterior..."})%>
          <% end %>
        </div>
      </div>
      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Colonia:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-tree"></i></span>
            <input name="dir_fiscal_colonia" id="dir_fiscal_colonia" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%=@sucursal.datos_fiscales_sucursal ? @sucursal.datos_fiscales_sucursal.colonia : ''%>" placeholder="Colonia del cliente...">
        </div>
      </div>
      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Localidad:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-building"></i></span>
            <input name="dir_fiscal_localidad" id="dir_fiscal_localidad" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%=@sucursal.datos_fiscales_sucursal ? @sucursal.datos_fiscales_sucursal.localidad : ''%>" placeholder="Localidad del cliente...">
        </div>
      </div>
      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">C.P.:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-navicon"></i></span>
          <% if @sucursal.datos_fiscales_sucursal %>
            <%= number_field_tag(:dir_fiscal_codigo_postal, @sucursal.datos_fiscales_sucursal.codigo_postal, {class: "form-control col-md-7 col-xs-12 text_field", style: "display: none;", placeholder:"Número exterior..."})%>
          <% else %>
            <%= number_field_tag(:dir_fiscal_codigo_postal , nil, {class: "form-control col-md-7 col-xs-12 text_field",  placeholder:"Número exterior..."})%>
          <% end %>
        </div>
      </div>
      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Municipio:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-building"></i></span>
            <input name="dir_fiscal_municipio" id="dir_fiscal_municipio" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%=@sucursal.datos_fiscales_sucursal ? @sucursal.datos_fiscales_sucursal.municipio : ''%>" placeholder="Municipio de la dirección fiscal del cliente.">
        </div>
      </div>
      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Estado:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
            <input name="dir_fiscal_estado" id="dir_fiscal_estado" type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%=@sucursal.datos_fiscales_sucursal ? @sucursal.datos_fiscales_sucursal.estado: ''%>" placeholder="Estado de la dirección fiscal del cliente.">
        </div>
      </div>

      <div class="item form-group ">
        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Referencia:</label>
        <div class="col-md-9 col-sm-9 col-xs-12 input-group">
          <span class="input-group-addon"><i class="fa fa-tree"></i></span>
            <%if @sucursal.datos_fiscales_sucursal %>
              <%= text_area_tag :dir_fiscal_referencia, @sucursal.datos_fiscales_sucursal.referencia,{class:'form-control text_field', id:"dir_fiscal_referencia"}%>
            <% else %>
              <textarea name="dir_fiscal_referencia" id="dir_fiscal_referencia"  class="form-control col-md-7 col-xs-12 text_field" value= "" placeholder="Una referencia, ejemplo: En frente de un árbol de..."></textarea>
            <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
    <%= f.submit @sucursal.new_record? ? "Crear sucursal" : "Actualizar sucursal", :class => "btn btn-success"%>
  </div>
</div>

<div class="col-xs-3" align="center">

  <ul class="nav nav-tabs tabs-right">
    <li class="active"><a href="#generales" data-toggle="tab">Datos básicos</a></li>

    <li><a href="#datos_fiscales" data-toggle="tab">Datos de facturación</a></li>
</div>





</div>
<% end %>
