

<div class="" role="main">
  <div class="page-title">
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div>

      <table class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th class="column-title">Nombre Sucursal</th>
            <th class="column-title">Representante</th>
            <th class="column-title">Direccion</th>
            <th class="column-title" colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <%if @sucursals != nil%>
            <% @sucursals.each do |sucursal| %>
              <tr>
                <td><%= sucursal.nombre %></td>
                <td><%= sucursal.representante %></td>
                <td><%= sucursal.direccion %></td>
                <td><%= link_to 'Mostrar', sucursal, class: "btn btn-primary btn-xs" %><i class="fa fa-folder"></i></td>
                <td><%= link_to 'Editar', edit_sucursal_path(sucursal), class: "btn btn-info btn-xs" %><i class="fa fa-pencil"></i></td>
              </tr>

            <% end %>
          <%end%>
        </tbody>        
      </table>

    </div>
  </div>
</div>
