<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sucursal.nombre %>
</p>

<p>
  <strong>Representante:</strong>
  <%= @sucursal.representante %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @sucursal.direccion %>
</p>

<p>
  <strong>Negocio:</strong>
  <%= @sucursal.negocio_id %>
</p>

<%= link_to 'Edit', edit_sucursal_path(@sucursal) %> |
<%= link_to 'Back', sucursals_path %>
