<div>
  <%= form_for @metodo_pago, remote: true, :html=>{ :class=>'form-horizontal form-label-left', :role=>"form" } do |f| %>

    <div class="item form-group">
      <h2 class="control-label col-md-3 col-sm-3 col-xs-12" style="color: black;">Datos del método de pago:</h2>
    </div>

    <div class="item form-group<%= @metodo_pago.errors[:clave].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :clave, "Clave: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
        <%= f.text_field :clave, {class: "form-control col-md-7 col-xs-12 text_field first_input", :placeholder=>"Introduzca la clave del método..."} do%>
        <%end%>
        <%if @metodo_pago.errors[:clave].any? %>
          <p class="bg-danger"><%= @metodo_pago.errors[:clave].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @metodo_pago.errors[:descripcion].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :descripcion, "Descripción: ",{class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
        <%= f.text_field :descripcion, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Introduzca la descripción del método..."} do%>
        <%end%>
        <%if @metodo_pago.errors[:descripcion].any? %>
          <p class="bg-danger"><%= @metodo_pago.errors[:descripcion].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @metodo_pago.errors[:metodo_pago_id].any? ? ' has-error has-feedback' : '' %>">
      <!--  #f.label :cat_articulo_id, "Elegir categoría padre:", {class: "control-label col-md-3 col-sm-3 col-xs-12"} do
       end  -->
      <div class="col-md-6 col-sm-6 col-xs-12 input-group">
        <!-- <span class="input-group-addon"><i class="fa fa-level-up"></i></span> -->
         <!-- #f.collection_select(:cat_articulo_id, current_user.negocio.cat_articulos, :id, :clave, {:placeholder=>"Escriba el nombre de la cuenta..."}, {class: "form-control col-md-7 col-xs-12 text_field"})  -->
      </div>
    </div>

    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= f.submit @metodo_pago.new_record? ? "Crear método" : "Actualizar método", :class => "btn btn-success"%>
    </div>
  <% end %>

</div>
