<p id="notice"><%= notice %></p>

<h1>Listing Caja Sucursals</h1>

<table>
  <thead>
    <tr>
      <th>Numero caja</th>
      <th>Nombre</th>
      <th>Sucursal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caja_sucursals.each do |caja_sucursal| %>
      <tr>
        <td><%= caja_sucursal.numero_caja %></td>
        <td><%= caja_sucursal.nombre %></td>
        <td><%= caja_sucursal.sucursal_id %></td>
        <td><%= link_to 'Show', caja_sucursal %></td>
        <td><%= link_to 'Edit', edit_caja_sucursal_path(caja_sucursal) %></td>
        <td><%= link_to 'Destroy', caja_sucursal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caja sucursal', new_caja_sucursal_path %>
