<p id="notice"><%= notice %></p>

<h1>Listing Cat Venta Canceladas</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cat_venta_canceladas.each do |cat_venta_cancelada| %>
      <tr>
        <td><%= cat_venta_cancelada.clave %></td>
        <td><%= cat_venta_cancelada.descripcion %></td>
        <td><%= link_to 'Show', cat_venta_cancelada %></td>
        <td><%= link_to 'Edit', edit_cat_venta_cancelada_path(cat_venta_cancelada) %></td>
        <td><%= link_to 'Destroy', cat_venta_cancelada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat venta cancelada', new_cat_venta_cancelada_path %>
