<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @cat_venta_cancelada.clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @cat_venta_cancelada.descripcion %>
</p>

<%= link_to 'Edit', edit_cat_venta_cancelada_path(@cat_venta_cancelada) %> |
<%= link_to 'Back', cat_venta_canceladas_path %>
