<%= form_for(@factura_global) do |f| %>
  <% if @factura_global.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura_global.errors.count, "error") %> prohibited this factura_global from being saved:</h2>

      <ul>
      <% @factura_global.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :folio %><br>
    <%= f.text_field :folio %>
  </div>
  <div class="field">
    <%= f.label :fecha_expedicion %><br>
    <%= f.date_select :fecha_expedicion %>
  </div>
  <div class="field">
    <%= f.label :estado_factura %><br>
    <%= f.text_field :estado_factura %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :negocio_id %><br>
    <%= f.text_field :negocio_id %>
  </div>
  <div class="field">
    <%= f.label :sucursal_id %><br>
    <%= f.text_field :sucursal_id %>
  </div>
  <div class="field">
    <%= f.label :folio_fiscal %><br>
    <%= f.text_field :folio_fiscal %>
  </div>
  <div class="field">
    <%= f.label :consecutivo %><br>
    <%= f.number_field :consecutivo %>
  </div>
  <div class="field">
    <%= f.label :ruta_storage %><br>
    <%= f.text_field :ruta_storage %>
  </div>
  <div class="field">
    <%= f.label :factura_forma_pago_id %><br>
    <%= f.text_field :factura_forma_pago_id %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
