<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Inventarios</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
  	<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left top_search">
      <div class="input-group">
        <input type="text" class="form-control" id="search-product" placeholder="Buscar producto...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Buscar</button>
          </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
	    <div>
	       <div class="row">
	          <div class="col-md-12 col-sm-12 col-xs-12">
	          	<div class="field col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
				   <%= label_tag :clave %><br>
				   <%= text_field_tag :clave, nil, class: "form-control has-feedback-left", :readonly => true %>
				</div>
				<div class="field col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
				  <%= label_tag :nombre %><br>
				  <%= text_field_tag :nombre, nil, class: "form-control has-feedback-left", :readonly => true %>
				</div>
				<div class="field col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
				  <%= label_tag :descripcion %><br>
				  <%= text_field_tag :descripcion, nil, class: "form-control has-feedback-left", :readonly => true %>
				</div>
				<div class="field col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
				  <%= label_tag :stock %><br>
				  <%= text_field_tag :stock, nil, class: "form-control has-feedback-left", :readonly => true %>
				</div>
				<div class="field col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
				  <%= label_tag :cat_articulo_id %><br>
				  <%= text_field_tag :cat_articulo_id, nil, class: "form-control has-feedback-left", :readonly => true %>
				</div>
				<div class="field col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
				  <%= label_tag :existencia %><br>
				  <%= text_field_tag :existencia, nil, class: "form-control has-feedback-left", :readonly => true %>
				</div>
				<div class="field col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
				  <button class="btn btn-primary" disabled="true">Actualizar</button>
				</div>
	          </div>
	       </div>
	       <div class="row">
	           <div class="col-md-12 col-sm-12 col-xs-12" style="overflow: auto;"> 
                  <table id ="table_inv" class="table table-striped responsive-utilities jambo_table">
				      <thead>
				        <tr class="headings">
				          <th class="column-title">Clave </th>
				          <th class="column-title">Nombre </th>
				          <th class="column-title">Precio Compra </th>
				          <th class="column-title">Precio Venta </th>
				          <th class="column-title">Existencia </th>
				          <th class="column-title">ültima modificación </th>
				        </tr>
				      </thead>
		              <tbody>

		              </tbody>
				    </table>
	           </div>   	
	       </div>
	    </div>
	</div>	
  </div>
</div>
<%= javascript_include_tag "inventarios" %>
