<%= form_for @venta,  remote: true, :html=> {:class=>'form-horizontal form-label-left', :role=>"form"} do |f| %>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-xs-9">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="generales">
          <div class="item form-group">
            <%= f.label :observaciones, "Razón de la cancelación*: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
            <div class="col-md-6 col-sm-6 col-xs-12 input-group">
              <%= f.text_area :observaciones, {class: "form-control col-md-7 col-xs-12 text_field", required:true} do%>
              <%end%>
            </div>
          </div>

          <div class="actions">
            <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <%= f.submit "Cancelar venta", :class => "btn btn-danger"%>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="detalles">
          <table id ="table_sales" class="table table-striped responsive-utilities jambo_table data-table">
            <thead>
              <tr class="headings">
                <th class="column-title">Clave </th>
                <th class="column-title">Nombre </th>
                <th class="column-title">Precio</th>
                <th class="column-title">Cantidad </th>
                <th class="column-title">Importe </th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <td> <%= item.articulo.clave %> </td>
                  <td> <%= item.articulo.nombre %> </td>
                  <td> <%= item.articulo.precioVenta %> </td>
                  <td> <%= item.cantidad %> </td>
                  <td> <%= item.articulo.precioVenta * item.cantidad %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <!-- required for floating -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-right">
        <li class="active"><a href="#generales" data-toggle="tab">Total</a>
        </li>
        <li><a href="#detalles" data-toggle="tab">Por producto</a>
        </li>
      </ul>
    </div>
  </div>
  
<% end %>

