<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Ventas realizadas</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>
  <div class="row">
    <div class="col-md-12" style="color: gray;">
        Se encontraron <span style="color:#5B7ECC; font-size: 20px;"><%= @ventas.size %></span>  ventas con este criterio.
    </div>
    
  </div>
  <% if @consulta %>
    <div class="row">
      <div class="col-md-12" style="color: gray;">
        <div class="col-md-12">
          Rango de fechas: <span style="color:#5B7ECC; font-size: 16px;"> <%= @fechaInicial %> a <%= @fechaFinal %></span>
        </div>
        
        <% if @avanzada %>
          <div class="col-md-12">
            <% if @cajero %>
              Cajero: <span style="color:#5B7ECC; font-size: 16px;"> <%= @cajero.perfil.nombre %></span>
            <% else %>
              Cajero: <span style="color:#5B7ECC; font-size: 16px;"> Todos</span>
            <% end %>
          </div>
          <div class="col-md-12">
            Status: <span style="color:#5B7ECC; font-size: 16px;"> <%= @status %></span>
          </div>
          <% if can? :create, Negocio %>
            <div class="col-md-12">
              <% if @sucursal %>
                Sucursal: <span style="color:#5B7ECC; font-size: 16px;"> <%= @sucursal.nombre %></span>  
              <% else %>
                Sucursal: <span style="color:#5B7ECC; font-size: 16px;"> Todas </span>
              <% end %>
            </div>
          <% end %>
        <% end %>

      </div>
      
    </div>
  <% end %>
  <hr>
  <div class="row">
    <!-- Si el usuario puede ver las ventas, Este botón le permitirá ver todas las ventas de su sucursal o todas las ventas
    en total. Este botón sirve de alguna manera para deshacer los filtros que se hayan realizado -->
    <% if can? :read, Venta %> 
      <%= link_to ventas_path, html_options = {class: "btn btn-success"} do %>
      <i class="fa fa-shopping-cart"> Mostrar todas las ventas </i>
      <% end %>
    <% end %>

    <!-- Si el usuario tiene privilegios de administrador, Tendrá disponible este botón para que en lugar de ver las ventas
    de todas las sucursales, vea únicamente las ventas de su propia sucursal -->
    <% if can? :create, Negocio %> 
      <%= link_to url = {controller:"ventas", action:"solo_sucursal"}, html_options =  {class: "btn btn-primary", title: "Sólo ventas de mi sucursal", method: :post} do %>  
        <span class="fa fa-shopping-cart" style=""> Sólo ventas de mi sucursal</span>
      <% end %>
    <% end %>
  </div>
  <hr>

  <!-- Este buscador sencillo, permite al usuario buscar ventas realizadas en determinado rango de fechas -->
  <div class="row" style="margin-bottom: 30px;"> 
    <%= form_tag({ controller: "ventas", action: "consulta_ventas" }, {:class=> "form-horizontal", :method => :post}) do %>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="text-center">
          Búsqueda por fechas:
        </div>
      </div>
      
      <div class="col-md-1 col-sm-1 col-xs-1">
        <div style="text-align: right; color: black;">
          Desde: 
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="text-center">
          <%= date_picker_tag("fecha_inicial", nil, {class: "form-control", selectMonths: :true}, {})%>
        </div>
      </div>

      <div class="col-md-1 col-sm-1 col-xs-1">
        <div style="text-align: right; color: black;">
          Hasta:
        </div>
      </div>
        
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="text-center">
          <%= date_picker_tag("fecha_final", nil, {class: "form-control"}, {})%>
            
        </div>
      </div>

      <div class="col-md-1 col-sm-5 col-xs-12">
        <div class="text-center">
          <%= submit_tag 'Consultar Ventas', {:class=>"btn btn-info"} %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Termina buscador por rango de fechas -->

  <!-- Este botón despliega el div con las opciones para filtros avanzados -->
  <button id="filtros_avanzados" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;"> 
    Filtros Avanzados <i class="fa fa-sort-down"></i>
  </button>

  <!-- Los filtros avanzados permiten al usuario "filtrar ventas" dependiendo de uno o más criterios, pudiendo estos ser combinables entre sí. -->
  <div id="opciones_filtros_avanzados" class="opciones_filtros row">
    <%= form_tag({ controller: "ventas", action: "consulta_avanzada" }, {:class=> "form-horizontal", :method => :post}) do %>
      <div class="item form-group">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div style="text-align: left; color: black;">
            Elija un conjunto de criterios para hacer un filtro más detallado.
          </div>
        </div>
      </div>
      <div class="item form-group">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div style="text-align: right;">
            Seleccione un rango de fechas:
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= date_picker_tag("fecha_inicial_avanzado", nil, {class: "form-control text_field", selectMonths: :true}, {})%>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= date_picker_tag("fecha_final_avanzado", nil, {class: "form-control text_field"}, {})%>

          </div>
        </div>
      </div>

      <div class="item form-group">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div style="text-align: right;">
            Cajero:
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div style="text-align: right;">
            <%= collection_select(nil, :perfil_id, @cajeros, :id, :nombre, {:prompt => 'Elija un cajero'}, { class: "form-control col-md-7 col-xs-12" })%>
          </div>
        </div>
      </div>

      <div class="item form-group">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div style="text-align: right;">
            Status de la venta:
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-center">
            <%= select_tag "status", "<option>Todas</option><option>Cancelada</option><option>Activa</option>".html_safe,  class: 'form-control' %>  
          </div>
        </div>
      </div>
      
      <% if can? :create, Negocio %>
        
        <div class="item form-group">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div style="text-align: right;">
              Sucursal:
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center">
              <%= collection_select(nil, :suc_elegida, @sucursales, :id, :nombre, {:prompt => 'Seleccione sucursal'}, { class: "form-control col-md-7 col-xs-12" })%>
            </div>
          </div>
        </div>

      <% end %>

      <div class="item form-group">
        <div class="col-md-3 col-sm-6 col-xs-12">
          
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="text-left">
            <%= submit_tag 'Consulta avanzada', {:class=>"btn btn-info"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-md-12 col-sm-12 col-xs-12">
    

    <div class="row">
      <div>


        <table class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th class="column-title" style="text-align: center;">Folio </th>
            <th class="column-title" style="text-align: center;">Fecha </th>
            <th class="column-title" style="text-align: center;">Monto Venta</th>
            <th class="column-title" style="text-align: center;">Caja #</th>
            <th class="column-title" style="text-align: center;">Cajero</th>
            <% if can? :create, Negocio %>
              <th class="column-title" style="text-align: center;">Sucursal</th>
            <% end %>
            <th class="column-title" style="text-align: center;">Status</th>
            <th class="column-title" style="text-align: center;"></th>
          </tr>
        </thead>

        <tbody>
          <% @ventas.each do |venta| %>
            <tr>
              <td style="text-align: center;"><%= venta.folio %></td>
              <td style="text-align: center;"><%= venta.fechaVenta %></td>
              <td style="text-align: center;"><%= venta.montoVenta %></td>
              <td style="text-align: center;"><%= venta.caja %></td>
              <td style="text-align: center;"><%= venta.user.perfil ? venta.user.perfil.nombre : venta.user.email %></td>
              <% if can? :create, Negocio %>
                <td style="text-align: center;">
                  <%= venta.sucursal.nombre %>
                </td>
              <% end %>
              <td style="text-align: center;">
                <% if venta.status.eql?("Activa") %>
                  <span class="btn btn-success"> Activa </span>
                <% elsif venta.status.eql?("Con devoluciones")%>
                  <span class="btn btn-warning"> Con devoluciones </span>
                <% elsif venta.status.eql?("Cancelada") %>
                  <span class="btn btn-danger"> Cancelada </span>
                <% end %>    
              </td>
              <td style="text-align: center;"> 
                <% if can? :read, venta %> 
                  <%= link_to venta_path(venta), html_options = {class: "btn btn-info", remote: true} do %>
                  <i class="fa fa-info-circle"></i>
                  <% end %>
                <% end %>

                <% if can? :destroy, venta %> 
                  <% if venta.status.eql?("Activa") %>
                    <%= link_to edit_venta_path(venta),  html_options = {class: "btn btn-danger", remote: true}, data: { confirm: "¿Desea cancelar esta venta?"} do %>
                     <i class="fa fa-close"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      </div>
    </div>
    <%= render 'modalVentas' %>
    
  </div>
  <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });

    });
  </script>
  <%= javascript_include_tag "ventas" %>
</div>