<form action="">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-xs-9">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="generales">
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Fecha:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "<%= @venta.fechaVenta %>" >
              </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Importe:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "$ <%= @venta.montoVenta %>">
              </div>
            </div>

            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Cliente:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%= @cliente %>" >
              </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Sucursal:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                <input type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%= @sucursal %>">
              </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Cajero:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control col-md-7 col-xs-12 text_field" value= "<%= @cajero %>" >
              </div>
            </div>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Caja:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-paw"></i></span>
                <input type="text" class="form-control col-md-3 col-xs-12 text_field" value= "<%= @venta.caja %>">
              </div>
            </div>
        </div>
        
        <div class="tab-pane" id="forma_pago">
          <div class="form-group col-md-10 col-sm-12 col-xs-12">
          <label for="" class="control-label col-md-4 col-sm-4 col-xs-12">Forma de pago</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
              <input type="text" class="form-control col-md-6 col-sm-6 col-xs-12 text_field" value= "<%= @formaPago %>">
            </div>
          </div>
          <% @camposFormaPago.each do |campo|  %>
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-4 col-sm-4 col-xs-12"><%= campo.campo_forma_pago.nombrecampo %></label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
                <input type="text" class="form-control col-md-6 col-sm-6 col-xs-12 text_field" value= "<%= campo.ValorCampo %>">
              </div>
            </div>
          <% end %>
        </div>

        <!-- Esta sección contiene las productos o servicios vendidos en esta venta
        en particular -->
        <div class="tab-pane" id="detalles">
          <table id ="table_sales" class="table table-striped responsive-utilities jambo_table">
            <thead>
              <tr class="headings">
                <th class="column-title">Clave </th>
                <th class="column-title">Nombre </th>
                <th class="column-title">Precio</th>
                <th class="column-title">Cantidad </th>
                <th class="column-title">Importe </th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <td> <%= item.articulo.clave %> </td>
                  <td> <%= item.articulo.nombre %> </td>
                  <td> <%= item.articulo.precioVenta %> </td>
                  <td> <%= item.cantidad %> </td>
                  <td> <%= item.articulo.precioVenta * item.cantidad %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        
        <!-- Esta sección es para ver las devoluciones que pueda tener la venta. Si la venta no tiene
        devoluciones, entonces esta sección no se verá -->
        <!-- Además, sólo usuarios con privilegios pueden ver las devoluciones de una venta -->
        <% if can? :read, VentaCancelada %>
          <% if @devoluciones %>
            <div class="tab-pane" id="devoluciones">
              <table id ="table_sales" class="table table-striped responsive-utilities jambo_table">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Clave Producto</th>
                    <th class="column-title">Nombre</th>
                    <th class="column-title">Cantidad</th>
                    <th class="column-title">Fecha</th>
                    <th class="column-title">Categoría </th>
                    <th class="column-title">Quién autorizó </th>
                  </tr>
                </thead>
                <tbody>
                  <% @devoluciones.each do |devolucion| %>
                    <tr>
                      <td> <%= devolucion.articulo.clave %> </td>
                      <td> <%= devolucion.articulo.nombre %> </td>
                      <td> <%= devolucion.cantidad_devuelta %> </td>
                      <td> <%= devolucion.created_at %> </td>
                      <td> <%= devolucion.cat_venta_cancelada.clave %> </td>
                      <td> <%= devolucion.user.perfil.nombre %> </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>

    <div class="col-xs-3">
      <!-- required for floating -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-right">
        <li class="active"><a href="#generales" data-toggle="tab">Datos Generales</a>
        </li>
        <li><a href="#forma_pago" data-toggle="tab">Datos de Pago</a>
        </li>
        <li><a href="#detalles" data-toggle="tab">Detalle de venta</a>
        </li>
        <% if can? :read, VentaCancelada && @devoluciones %>
        <li><a href="#devoluciones" data-toggle="tab">Devoluciones</a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</form>