<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Reporte de Ventas</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5 col-xs-12">
      <div class="row">
        <h2>Ventas del día de hoy</h2>
        <h1>$<%= @ventaDiaNegocio %></h1>
      </div>
      <div class="row">
        <% @ventaDiaSucursal = 0 %>
        <% @sucursales.each do |sucursal| %>
          
          <h3>Sucursal: <%= sucursal.nombre %></h3>
          
          <% sucursal.ventas.where(fechaVenta: Date.today).each do |ventaSucursal| %>
            <% @ventaDiaSucursal += ventaSucursal.montoVenta.to_f %>
            
          <% end %>
          <h1>$<%= @ventaDiaSucursal %></h1>
          <% @ventaDiaSucursal = 0 %>
          <table class="table table-striped responsive-utilities jambo_table">
            <thead>
              <tr>
                <th class="column-title">Nombre </th>
                <th class="column-title">Rol</th>
                <th class="column-title">Monto Vendido</th>
              </tr>
            </thead>
            <tbody>
          <% sucursal.users.each do |user| %>
            <% @ventasUsuario = 0 %>
            
            <% user.ventas.where(fechaVenta: Date.today).each do |ventaUsuario| %>
              <% @ventasUsuario += ventaUsuario.montoVenta.to_f %>
            <% end %>
              <tr>
                <td> <%= user.perfil.nombre %> </td>
                <td> <%= user.role %></td>
                <td> <%= @ventasUsuario %></td>
              </tr>   
          <% end %>
            </tbody>
          </table>

        <% end %>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1">
      <div class="row">
        <h2>Ventas del mes</h2>
        <h1>$<%= @ventaMesNegocio %></h1>
      </div>
      <div class="row">
        <% @ventaMesSucursal = 0 %>
        <% @sucursales.each do |sucursal| %>
          
          <h3>Sucursal: <%= sucursal.nombre %></h3>
          
          <% sucursal.ventas.where(fechaVenta: Date.today.beginning_of_month..Date.today).each do |ventaSucursal| %>
            <% @ventaMesSucursal += ventaSucursal.montoVenta.to_f %>
            
          <% end %>
          <h1>$<%= @ventaMesSucursal %></h1>
          <% @ventaMesSucursal = 0 %>
          <table class="table table-striped responsive-utilities jambo_table">
            <thead>
              <tr>
                <th class="column-title">Nombre </th>
                <th class="column-title">Rol</th>
                <th class="column-title">Monto Vendido</th>
              </tr>
            </thead>
            <tbody>
          <% sucursal.users.each do |user| %>
            <% @ventasUsuario = 0 %>
            
            <% user.ventas.where(fechaVenta: Date.today.beginning_of_month..Date.today).each do |ventaUsuario| %>
              <% @ventasUsuario += ventaUsuario.montoVenta.to_f %>
            <% end %>
              <tr>
                <td> <%= user.perfil.nombre %> </td>
                <td> <%= user.role %></td>
                <td> <%= @ventasUsuario %></td>
              </tr>   
          <% end %>
            </tbody>
          </table>

        <% end %>
      </div>
    </div>
  </div>
</div>