<%= form_for @negocio, :html=> {:class=>'form-horizontal', :role=>'form', :multipart => true}  do |f| %>
  <% if @negocio.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@negocio.errors.count, "error") %> prohibited this negocio from being saved:</h2>
    <ul>
      <% @negocio.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <script>
    window.onload = function(){
      var apiFile = (window.File && window.FileReader);
      if(apiFile == false){
        alert("Tu navegador no soporta la carga de im치genes o archivos. Actualiza tu navegador");
        return; 
      }
      document.getElementById("negocio_logo").addEventListener('change', seleccionarArchivo, false);
          
      function seleccionarArchivo(evt){
        var archivo = evt.target.files[0];
        if(archivo.type.match("image.*")==false){
          var msg = "Este archivo no es un archivo de imagen";
          document.getElementById('msgFoto').innerHTML = msg;
          return;
        }  
          
            
        //Creamos un objeto FileReader
        var datos = new FileReader();
        //Leemos al archivo
        datos.readAsDataURL(archivo);
        //Esperamos al final de la lectura
        datos.onload = function(e){
          //vaciamos el resultado
          var resultado = e.target.result;
          $("#logo_negocio").attr('src', resultado);
        }
      }
      
    }
  </script>


  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="text-center">
      <%= image_tag(@negocio.logo_url, class: "img img-thumbnail", id: "logo_negocio") if @negocio.logo.present? %>

      <h6 id="msgFoto">Subir una imagen diferente...</h6>
         <!--<input type="file" class="text-center center-block well well-sm">-->
      <%= f.file_field :logo, class: "text-center center-block well well-sm" %>
    </div>
  </div>
  <!-- edit form column -->
  <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
    <h3>Informaci칩n del negocio</h3>
    <div class="form-group">
      <%= f.label :nombre, "Nombre: ", :class=>'col-lg-3 control-label' %>
      <!-- <label class="col-lg-3 control-label">Primer nombre:</label> -->
      <div class="col-lg-8">
        <!-- <input class="form-control" value="Jane" type="text"> -->
        <%= f.text_field :nombre, class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :representante, "Nombre del representante:", :class=>'col-lg-3 control-label' %>
      <!-- <label class="col-lg-3 control-label">Apellido paterno:</label> -->
      <div class="col-lg-8">
        <!-- <input class="form-control" value="Bishop" type="text"> -->
        <%= f.text_field :representante, class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <!-- <label class="col-lg-3 control-label">Apellido materno:</label> -->
      <%= f.label :direccion, "Direcci칩n del negocio:", :class=>'col-lg-3 control-label' %>
      <div class="col-lg-8">
        <!-- <input class="form-control" value="Bishop" type="text"> -->
        <%= f.text_field :direccion, class: "form-control"%>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <%= f.submit "Guardar Cambios", :class=>"btn btn-primary"%>
        <!-- <input class="btn btn-primary" value="Guardar Cambios" type="button"> -->
        <span></span>
        <input class="btn btn-danger" value="Cancelar" type="reset">
      </div>
    </div>
  </div>
<%end%>

<%= form_for @datosFiscales, :html=> {:class=>'form-horizontal', :role=>'form', :multipart => true}  do |d| %>
  <% if @datosFiscales.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datosFiscales.errors.count, "error") %> prohibited this negocio from being saved:</h2>
      <ul>
      <% @datosFiscales.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            
            
  <div class="col-md-8 col-md-offset-4 col-sm-6 col-xs-12 personal-info">
    <h3>Informaci칩n Fiscal</h3>
    <div class="form-group">
      <%= d.label :nombreFiscal, "Nombre Fiscal: ", :class=>'col-lg-3 control-label' %>
      <!-- <label class="col-lg-3 control-label">Primer nombre:</label> -->
      <div class="col-lg-8">
        <!-- <input class="form-control" value="Jane" type="text"> -->
        <%= d.text_field :nombreFiscal, class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <%= d.label :calle, "Direccion Fiscal:", :class=>'col-lg-3 control-label' %>
      <!-- <label class="col-lg-3 control-label">Apellido paterno:</label> -->
      <div class="col-lg-8">
        <!-- <input class="form-control" value="Bishop" type="text"> -->
        <%= d.text_field :calle, class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <!-- <label class="col-lg-3 control-label">Apellido materno:</label> -->
      <%= d.label :rfc, "RFC:", :class=>'col-lg-3 control-label' %>
      <div class="col-lg-8">
        <!-- <input class="form-control" value="Bishop" type="text"> -->
        <%= d.text_field :rfc, class: "form-control"%>
      </div>
    </div>
      
    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <%= d.submit "Guardar Cambios", :class=>"btn btn-primary"%>
        <!-- <input class="btn btn-primary" value="Guardar Cambios" type="button"> -->
        <span></span>
        <input class="btn btn-danger" value="Cancelar" type="reset">
      </div>
    </div>
  </div>
<%end%>


