<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Negocios</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-ms-12">
        <div class="div-add-button">

           <%= link_to new_negocio_path, {remote: true, class: "btn btn-info btn-lg btn-add", id: "anadir-categoria-btn"}  do %>
             <span class="glyphicon glyphicon-plus-sign circleglyphicon" style=""></span>
             Añadir negocio
          <%end%>

        </div>
      </div>
    </div>
    
    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>
      
        <table class="table table-striped responsive-utilities jambo_table responsive no-wrap data-table" id="tabla_categorias">
          <thead>
            <tr>
            <th class="column-title">Logo</th>
            <th class="column-title">Nombre</th>
            <th class="column-title">Representante</th>
            <th class="column-title">Direccion</th>
            <th class="column-title">User</th>
              <th class="column-title"></th>
              <th class="column-title"></th>
            </tr>
          </thead>

          <tbody id="tb_negocios">
            <%= render @negocios%>
            <!--<% @negocios.each do |negocio| %>
      <tr>
        <td><%= negocio.logo %></td>
        <td><%= negocio.nombre %></td>
        <td><%= negocio.representante %></td>
        <td><%= negocio.direccion %></td>
        <td><%= link_to 'Show', negocio %></td>
        <td><%= link_to 'Edit', edit_negocio_path(negocio) %></td>
        <td><%= link_to 'Destroy', negocio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>-->
          </tbody>
        </table>

        <%= render 'modalNegocios'%>
      </div>
    </div>
  </div>