<div class="right_col" role="main" >
  <div class="row main-row-pos">
    <div class="col-md-5 datosVenta">
      <div class="row">
        <div class="col-md-6">
          <div class="animated flipInY sumatoria">
            <div class="tile-stats">
              <div class="icon"><i class="glyphicon glyphicon-usd circleglyphicon"></i></div>
              <div id="importe" class="count">0.0</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="animated flipInY sumatoria">
            <div class="tile-stats">
              <div class="icon"><i class="glyphicon glyphicon-usd circleglyphicon"></i></div>
              <div id="importe" class="count">0.0</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-body">
              Caja Número: 
              <%= select_tag "Caja", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe,  class: 'form_control selectpicker' %>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-pos">
      <div class="panel panel-primary panel-pos">
        <div class="panel-body ">
          <div class="form-group top_search">
            <div class="autocomplete input-group">
              <input type="text" class="form-control" id="search-product" placeholder="Buscar producto...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"></button>
              </span>
            </div>
          </div>

          <table id ="table_sales" class="table table-striped responsive-utilities jambo_table" style="overflow: scroll;">
            <thead>
              <tr class="headings">
                <!--<th>
                <input type="checkbox" id="check-all" class="flat">
                </th>-->
                <th class="column-title">Clave </th>
                <th class="column-title">Nombre </th>
                <th class="column-title">Precio Venta </th>
                <th class="column-title">Cantidad </th>
                <th class="column-title">Importe </th>
                <!--<th class="column-title">Amount </th>
                <th class="column-title no-link last"><span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                  <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>-->
              </tr>
            </thead>
            <tbody>
                    
            </tbody>
          </table>
        
        </div>   
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
  	
    
    <!--modal para actuailización de cantidad de proudcto-->
    <div class="modal" id="actualizarCantidad">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Actualizar cantidad</h4>
          </div>
          <div class="modal-body" id="modal-body">
          </div>
          <div class="modal-footer" id="modal-footer">
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal" id="pagoOxxo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Ingresa los datos del pago en oxxo</h4>
          </div>
          <div class="modal-body" id="modal-body-oxxo">
           <div class="form-group">
              <label for="referenciaOxxo">Referencia oxxo:</label>
              <input type="text" class="form-control" id="referenciaOxxo">
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-oxxo">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pagoOxxo()">Aceptar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modales para ingresar datos de diferentes formas de pago-->
    <div class="modal" id="pagoTC">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Ingresa los datos de la tarjeta de crédito</h4>
          </div>
          <div class="modal-body" id="modal-body-tc">
            <div class="form-group">
              <label for="numTarjetaCredito">Número de tarjeta:</label>
              <input type="text" class="form-control" id="numTarjetaCredito">
            </div>
            <div class="form-group">
              <label for="plazoCredito">Plazo:</label>
              <input type="text" class="form-control" id="plazoCredito">
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-tc">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pagoTC()">Aceptar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal" id="pagoTD">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Ingresa los datos de la tarjeta de débito</h4>
          </div>
          <div class="modal-body" id="modal-body-td">
            <div class="form-group">
              <label for="numTarjetaDebito">Número de tarjeta:</label>
              <input type="text" class="form-control" id="numTarjetaDebito">
            </div>
          </div>
          <div class="modal-footer" id="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pagoTD()">Aceptar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal" id="pagoPaypal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Ingresa los datos de paypal</h4>
          </div>
          <div class="modal-body" id="modal-body-paypal">
            <div class="form-group">
              <label for="referenciaPaypal">Referencia paypal:</label>
              <input type="text" class="form-control" id="referenciaPaypal">
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-paypal">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pagoPaypal()">Aceptar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <%= form_tag '/punto_venta/realizarVenta', {:method => 'post', :id=>'ventaForm', :enctype=>'application/json'} do %>
      <%= hidden_field_tag(:dataVenta) %>
    <% end %>
  </div>
  <%= javascript_include_tag "punto-venta" %>
  <%= javascript_include_tag "autocomplete.jquery" %>
  <%= stylesheet_link_tag "autocomplete" %>
  <%= stylesheet_link_tag "punto_venta" %>
