<div class="right_col" role="main" >
  <div id="div_pos" class="row main-row-pos" tabindex="0">

    <div class="col-md-5 datosVenta">
      <div class="row">
        <div class="col-md-6">
          <div class="animated flipInY sumatoria">
            <div class="tile-stats">
              <div class="icon"><i class="glyphicon glyphicon-usd circleglyphicon"></i></div>
              <div id="importe" class="count">0.0</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="animated flipInY sumatoria">
            <div class="tile-stats">
              <div class="icon"><i class="glyphicon glyphicon-usd circleglyphicon"></i></div>
              <div id="importe" class="count">0.0</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-body">

                <div class="col-md-6 col-sm-6 col-xs-12 datos-vendedor">
                  <div class="well profile_view" >
                    <div class="col-sm-12">
                      <h4 class="brief"><i>Datos del Vendedor:</i></h4>
                      <div class="left col-md-12 col-xs-7">
                        <form class="form-inline">
                          <div class="form-group">
                            Caja Número: 
                            <%= select_tag "caja", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe,  class: 'form-control' %>  
                          </div>
                        </form>
                       
                        <ul class="list-unstyled">
                          <li><i class="fa fa-user"></i> Nombre: <strong><%=current_user.perfil.nombre%></strong>  </li>
                          <li><i class="fa fa-envelope"></i> Email: <strong><%=current_user.email%></strong>  </li>
                        </ul>
                      </div>
                      <div class="right col-xs-5 text-center"></div>
                    </div>
                    

                  </div>
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12 datos-cliente">
                  <div class="well profile_view">
                    <div class="col-sm-12">
                      <h4 class="brief"><i>Datos del cliente:</i></h4>
                      <div class="left col-md-12 col-xs-7">
                        <input type="hidden" id="id_cliente">
                        <h2 id="nom_cliente_venta">General</h2>
                        <ul class="list-unstyled">
                          <li id="email_cliente"><i class="fa fa-envelope"></i> Email: n/a</li>
                          <li id="telefono_cliente"><i class="fa fa-phone"></i> Teléfono: n/a</li>
                        </ul>
                      </div>
                      <div class="right col-xs-5 text-center"></div>
                    </div>
                    <div class="col-xs-12 bottom text-center">
                      <div class="col-xs-12 col-sm-6 emphasis">
                        <button type="button" class="btn btn-round btn-default btn-xs" id="cambiarClienteBtn">
                          <i class="fa fa-user"> </i> Cambiar cliente
                        </button>
                      </div>
                    </div>

                  </div>
                </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-pos">
      <div class="panel panel-primary panel-pos">
        <div class="panel-body" id="panel-pos-body">
          <div class="form-group top_search">
            <div class="autocomplete input-group">
              <input type="text" class="form-control" id="search-product" placeholder="Buscar producto...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"></button>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table id ="table_sales" class="table table-striped responsive-utilities jambo_table">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Clave </th>
                    <th class="column-title">Nombre </th>
                    <th class="column-title">Precio Venta </th>
                    <th class="column-title">Cantidad </th>
                    <th class="column-title">Importe </th>
                  </tr>
                </thead>
                <tbody>
                        
                </tbody>
              </table>
            </div>
            
          </div>
          <div class="row" id="botones-venta">

              <div class="col-md-12 form-group">

                <div class="col-md-6">
                  <button class="btn btn-round btn-success form-control" id="pagarBtn">
                  <i class="glyphicon glyphicon-usd"> </i>Pagar(F4)</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-round btn-warning form-control" id="cancelarVentaBtn">
                  <i class="glyphicon glyphicon-trash"> </i>Cancelar</button>
                </div>

              </div>
            
          </div> <!-- Terminar div fila de botones venta -->  

        </div> <!-- Terminar panel-pos-body -->  
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
  	
    
    <!--modal para actuailización de cantidad de proudcto-->
    <div class="modal" id="actualizarCantidad">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Actualizar cantidad</h4>
          </div>
          <div class="modal-body" id="modal-body-actualizar-cantidad">
          </div>
          <div class="modal-footer" id="modal-footer">
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="modalPago" class="modal">
      <div class="modal-dialog">
        <div class="modal-content x_panel">
          <div class="modal-header x_title">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Ventana de pago</h4>
            <div class="clearfix"></div>
          </div>
          <div id="modal-body-pago" class="modal-body x_content">
              <h2>Cantidad a pagar:</h2>
              <div class="animated flipInY sumatoria">
                <div class="tile-stats">
                  <div class="icon"><i class="glyphicon glyphicon-usd circleglyphicon"></i></div>
                  <div id="importe" class="count">0.0</div>
                </div>
              </div>
              <div class="col-xs-3">
                <ul class="nav nav-tabs tabs-left">
                  <%contador = 0%>
                  <li class="active" onclick="setFormaPago('efectivo')" ><a href='#div-pago-efectivo' data-toggle="tab">Efectivo</a>
                  </li>
                  <%@formas_pago.each do |forma|%>
                    <%nombre_forma = forma.nombre.to_s%>
                    <%nForma = nombre_forma.sub(' ', '-')%>
                    <%unless nombre_forma.eql?("efectivo")%>
                      <li onclick="setFormaPago('<%=nombre_forma%>')"><a href='#<%= "div-pago-" << nForma %>' data-toggle="tab" ><%= forma.nombre.capitalize %></a>
                      </li>
                    <%end%>
                  <%end%>
                </ul>
              </div>

              <div class="col-xs-9">
                <div class="tab-content">
                <div id="div-pago-efectivo" class="tab-pane active">
                  <div class="form-group">
                    <label for="paga_con">¿Con cuánto paga el cliente?</label>
                    <input type="text" class="form-control" id="campo-paga-con">
                  </div>
                </div>
                <%@formas_pago.each do |forma|%>
                  <%nombre_forma = forma.nombre.to_s%>
                  <%nombre_forma.sub!(' ', '-')%>
                  <%unless nombre_forma.eql?("efectivo")%>
                    <div id='<%= "div-pago-" << nombre_forma %>' class="tab-pane">
                      <%forma.campo_forma_pagos.each do |campo|%>
                        <%nombre_campo = campo.nombrecampo.to_s%>
                        <%nCampo = nombre_campo.sub(' ', '-')%>
                        <div class="form-group">
                          <label for="<%= "campo-" << nCampo << "-" << nombre_forma %>"><%= campo.nombrecampo.capitalize << ":"%></label>
                          <% if nCampo.include?"plazo" %>
                              <%= select_tag "campo-plazo-credito", "<option>3</option><option>6</option><option>9</option><option>12</option><option>15</option><option>18</option><option>24</option>".html_safe %> Meses
                          <%else%>
                            <input type="text" class="form-control" id="<%= "campo-" << nCampo %>">
                          <%end%>
                        </div>
                      <%end%>
                    </div>
                  <%end%>
                <%end%>
                
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="modal-footer" id="modal-footer-pago">
                <button id="cobrarVenta" style="width: 100%;" type="button" class="btn btn-success btn-lg" data-dismiss="modal">Cobrar</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal" id="modalClientes">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Selecciona un cliente</h4>
          </div>
          <div class="modal-body" id="modal-body-clientes">
            <div class="form-group">
              <table class='table table-striped responsive-utilities jambo_table responsive no-wrap' id="lista_clientes">
                <thead>
                  <tr class='headings'>
                    <th class='column-title'>Nombre Cliente </th>
                    <th class='column-title'>Teléfono </th>
                    <th class='column-title'>Email </th>
                    <th class='column-title'>Elegir </th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-clientes">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


    <input type="hidden" id="nombre_negocio" value="<%= current_user.negocio.nombre.capitalize%>">
    <input type="hidden" id="nombre_sucursal" value="<%=current_user.sucursal.nombre.capitalize%>">
    <input type="hidden" id="direccion_sucursal" value="<%=current_user.sucursal.direccion%>">
    <input type="hidden" id="fecha" value="<%= Time.now %>">

    <div id="print-div" >
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <h4 id="nombre_negocio_ticket"></h4>
            <h5 id="nombre_sucursal_ticket"></h5>
          </div>
        </div>
        <div class="row">
          <div id="direccion_sucursal_ticket" class="class-md-12">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="fecha_ticket">

          </div>
        </div>
        <div class="row">
          <div id="productos_ticket" class="col-md-12">
            
          </div>
          <table id="tabla_productos_ticket">
            
            <tbody>

                        
            </tbody>
          </table>
        </div>
       
        <div class="row">
          <div class="col-md-12">
            <p id="importe_total_ticket"></p>
          </div>
        </div>

         <div class="row">
          <div class="col-md-12">
            <p id="forma_pago">
              
            </p>
          </div>
        </div>

      </div>
    </div>


    <%= form_tag '/punto_venta/realizarVenta', {:method => 'post', :id=>'ventaForm', :enctype=>'application/json'} do %>
      <%= hidden_field_tag(:dataVenta) %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "autocomplete.jquery" %>
<%= javascript_include_tag "jQuery.print/jQuery.print" %>
<%= javascript_include_tag "punto-venta" %>
<%= stylesheet_link_tag "autocomplete" %>
<%= stylesheet_link_tag "punto_venta" %>
