<% unless categoria_gasto.nombreCategoria.eql?("Compras") || categoria_gasto.nombreCategoria.eql?("Devoluciones") || categoria_gasto.nombreCategoria.eql?("Generales") || categoria_gasto.nombreCategoria.eql?("Pagos pendientes")%>
	<tr id="categoria_gasto_<%= categoria_gasto.id%>" class="rowsearch">
	   <td style="text-align: center;"><%= categoria_gasto.nombreCategoria %></td>
	   <td style="text-align: center;"><%= categoria_gasto.descripcionCategoria %></td>
	   <td style="text-align: center;"><%= link_to 'Editar', edit_categoria_gasto_path(categoria_gasto), html_options = {class: "btn btn-info btn-xs", remote: true} %><i class="fa fa-pencil"></i></td>
	   <td><%= link_to 'Borrar', categoria_gasto, remote: true, method: :delete, data: { confirm: "¿Borrar categoria: #{categoria_gasto.nombreCategoria}?"}, class: "btn btn-danger btn-xs" %><i class="fa fa-trash-o"></td>
	</tr>
<% end %>
	