
<%= form_for(@categoria_gasto) remote: true, :html=> {:class=>'form-horizontal form-label-left', :role=>"form"} do |f| %>

  <div class="item form-group<%= @categoria_gasto.errors[:nombreCategoria].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :nombreCategoria, "Nombre de la categoría: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :nombreCategoria, {class: "form-control col-md-7 col-xs-12 text_field first_input", :placeholder=>"Introduzca el nombre de la categoría..."} do%>
      <%end%>
      <%if @categoria_gasto.errors[:nombreCategoria].any? %>
        <p class="bg-danger"><%= @categoria_gasto.errors[:nombreCategoria].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @categoria_gasto.errors[:descripcionCategoria].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :descripcionCategoria, "Descripción de la categoría: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :descripcionCategoria, {class: "form-control col-md-7 col-xs-12 text_field", :placeholder=>"Descripción de la categoría de gasto."} do%>
      <%end%>
      <%if @categoria_gasto.errors[:descripcionCategoria].any? %>
        <p class="bg-danger"><%= @categoria_gasto.errors[:descripcionCategoria].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  
  <div class="item form-group<%= @categoria_gasto.errors[:idCategoriaPadre].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :idCategoriaPadre, "Categoría padre: ", {class: "control-label col-md-3 col-sm-3 col-xs-12"} %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select(:idCategoriaPadre, @categorias_gasto, :id, :nombreCategoria), {class: "form-control col-md-7 col-xs-12 text_field"%>
      <%if @categoria_gasto.errors[:idCategoriaPadre].any? %>
        <p class="bg-danger"><%= @categoria_gasto.errors[:idCategoriaPadre].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
    <%= f.submit @categoria_gasto.new_record? ? "Crear categoria" : "Actualizar Categoria", :class => "btn btn-success"%>
  </div>

<% end %>


