<%= form_for(@categoria_gasto) remote: true, :html=> {:class=>'form-horizontal form-label-left', :role=>"form"} do |f| %>


  <% if @categoria_gasto.errors.any? %>
    <div id="error_explanation" class="bg-danger text-danger">
      <h2><%= pluralize(@categoria_gasto.errors.count, "error") %> prohibited this categoria_gasto from being saved:</h2>

      <ul>
      <% @categoria_gasto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="field form-group has-feedback">
        <%= f.label :nombreCategoria, "Nombre de categoría:" %><br>
        <%= f.text_field :nombreCategoria, :html=>{class: "form-control has-feedback-left", required: true}%>
        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
      </div>
      <div class="field form-group has-feedback">
        <%= f.label :descripcionCategoria, "Descripción:" %><br>
        <%= f.text_field :descripcionCategoria, class: "form-control has-feedback-left"%>
      </div>
      <div class="field form-group has-feedback">
        <%= f.label :idCategoriaPadre, "Elegir categoría padre:"%><br>
        <%= f.collection_select(:idCategoriaPadre, current_user.negocio.gasto, :id, :nombreCategoria)%>

      </div>
      <div class="ln_solid"></div>
      <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <%= f.submit @categoria_gasto.new_record? ? "Crear categoria" : "Actualizar Categoria", :class => "btn btn-success"%>
      </div>
    </div>
    
  </div>
  
<% end %>

