<p id="notice"><%= notice %></p>

<h1>Listing Categoria Gastos</h1>

<table>
  <thead>
    <tr>
      <th>Nombrecategoria</th>
      <th>Descripcioncategoria</th>
      <th>Idcategoriapadre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_gastos.each do |categoria_gasto| %>
      <tr>
        <td><%= categoria_gasto.nombreCategoria %></td>
        <td><%= categoria_gasto.descripcionCategoria %></td>
        <td><%= categoria_gasto.idCategoriaPadre %></td>
        <td><%= link_to 'Show', categoria_gasto %></td>
        <td><%= link_to 'Edit', edit_categoria_gasto_path(categoria_gasto) %></td>
        <td><%= link_to 'Destroy', categoria_gasto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria gasto', new_categoria_gasto_path %>
