<p id="notice"><%= notice %></p>

<p>
  <strong>Nombrecategoria:</strong>
  <%= @categoria_gasto.nombreCategoria %>
</p>

<p>
  <strong>Descripcioncategoria:</strong>
  <%= @categoria_gasto.descripcionCategoria %>
</p>

<p>
  <strong>Idcategoriapadre:</strong>
  <%= @categoria_gasto.idCategoriaPadre %>
</p>

<%= link_to 'Edit', edit_categoria_gasto_path(@categoria_gasto) %> |
<%= link_to 'Back', categoria_gastos_path %>
