<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "SIA - Sistema Integral de Administración" %> </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href = "https://fonts.googleapis.com/css?family= Alice | Josefin + Sans | Open + Sans | Quattrocento | Roboto | Ultra " rel = "stylesheet">
</head>

<body class="nav-md">
<div class="container body">
<div class="main_container">
  <% flash.each do |key, value| %>
    <script>
      $(document).ready(function(){
        new PNotify({
          title: 'Mensaje de la aplicación',
          text: '<%= value %>!',
          type: 'success'
        });
      });
    </script>

  <% end %>

  <%= render "partials/sidenav" %>
  <%= render "partials/topnav" %>

  <%= yield %>

 <footer>
  <div class="pull-right">
    Sistema Integral de Administración: <a href="http://www.kodikas.com.mx">Kodikas</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>
  <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
</body>
</html>
