<div class="right_col" role="main">
  <% flash.each do |key, value| %>
    <script>
      $(document).ready(function(){
        new PNotify({
          title: 'Mensaje de la aplicación',
          text: '<%= value %>!',
          type: 'success'
        });
      });
    </script>
  <%end%>

  <div class="page-title">
    <div class="title_left">
      <h1>Productos</h1>
    </div>
  </div>
  <div class="clearfix"></div> 
  <div class="col-md-12 col-sm-12 col-xs-12 ">
  <div class="row">
      <div class="col-ms-12">
        <div class="div-left-buttons">

          <%= link_to url = {controller:"cat_articulos", action:"new"}, html_options =  {remote: true, class: "btn btn-warning btn-lg btn-add btn-circle-lg", title: "crear categoría"} do %>  
            <span class="fa fa-tag" style=""></span>
          <% end %>

          <%= link_to url = {controller:"marca_productos", action:"new"}, html_options =  {remote: true, class: "btn btn-warning btn-lg btn-add btn-circle-lg", title: "crear marca"} do %>  
            <span class="fa fa-apple" style=""></span>
          <% end %>

          <%= link_to url = {controller: "presentacion_productos", action: "new"}, html_options = {remote: true, class: "btn btn-warning btn-lg btn-add btn-circle-lg", id: "presentacion-btn", title: "crear presentación"} do %>  
            <span class="fa fa-cube" style=""></span>
          <%end%>

        </div>

        <div class="div-add-button">
          <% if can? :create, Articulo %>
            <%= link_to new_articulo_path, {remote: true, class: "btn btn-info btn-lg btn-add", id: "anadir-articulo-btn"} do %>  
              <span class="fa fa-plus-square" style=""></span>
              Añadir Artículo
            <%end%>
          <% end %>
          

        </div>
      </div>
    </div>

    <!-- Este div tiene botones de consulta rápida -->
    <div class="row">
          
      <% if can? :read, Venta %> 
        <%= link_to articulos_path, html_options = {class: "btn btn-success", method: :get} do %>
          <i class="fa fa-tags"> Mostrar todos los productos </i>
        <% end %>
      <% end %>

      <%= link_to url = {controller:"articulos", action:"baja_existencia"}, html_options = {class: "btn btn-warning", method: :post} do %>
        <i class="fa fa-tags"> Productos baja existencia </i>
      <% end %>
          

      <!-- Si el usuario tiene privilegios de administrador, Tendrá disponible este botón para que en lugar de ver las ventas
          de todas las sucursales, vea únicamente las ventas de su propia sucursal -->
      <% if can? :create, Negocio %> 
        <%= link_to url = {controller:"articulos", action:"solo_sucursal"}, html_options =  {class: "btn btn-primary", title: "Sólo productos de mi sucursal", method: :post} do %>  
          <span class="fa fa-tags" style=""> Sólo ventas de mi sucursal</span>
        <% end %>
      <% end %>
    
    </div>

    <!-- Div con una leyenda que indica la cantidad de productos encontrados en base a los criterios
    de búsqueda -->
    <div class="row">
      <div class="col-md-12" style="color: gray;">
          Se <% if @articulos.size == 1 %>encontró<% else %>encontraron<% end %> <span style="color:#5B7ECC; font-size: 20px;"><%= @articulos.size %></span>  <% if @articulos.size == 1 %>producto<% else %>productos <% end %> <% if @solo_sucursal %>en la sucursal <% if can? :create, Negocio %> <strong><%= current_user.sucursal.nombre %></strong>  <% end %><% end %>.
      </div>
    </div>

    <div class="row">
      
      <!-- Esta sección despliega los criterios de búsqueda -->
      <% if @consulta %>
        

          <div class="col-md-12" style="color: gray;">
            
            <% if @avanzada %>
              
              <div class="col-md-12">
                Criterios de búsqueda de filtro avanzado:
              </div>
              <div class="col-md-12">
                <% if @categoria %>
                  Categoria producto: <span style="color:#5B7ECC; font-size: 16px;"> <%= @categoria.nombreCatArticulo %></span>
                <% else %>
                  Categoria producto: <span style="color:#5B7ECC; font-size: 16px;"> Todas </span>
                <% end %>            
              </div>
              <div class="col-md-12">
                <% if @producto %>
                  Marca: <span style="color:#5B7ECC; font-size: 16px;"> <%= @marca.nombre %></span>
                <% else %>
                  Marca: <span style="color:#5B7ECC; font-size: 16px;"> Todas </span>
                <% end %>
                
              </div>

              <div class="col-md-12">
                <% if can? :create, Negocio %>
                  <% if @sucursal %>
                    Sucursal: <span style="color:#5B7ECC; font-size: 16px;"> <%= @sucursal.nombre %></span>
                  <% else %>
                    Sucursal: <span style="color:#5B7ECC; font-size: 16px;"> Todas </span>
                  <% end %>
                <% end %>
              </div>
              
            <% end %>

          </div>
          
        </div>
      <% end %>
    </div>

    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <button id="filtros_avanzados" class="btn btn-primary" style="margin-bottom: 30px; display: inline-block;" onclick="desplegarFiltros()"> 
        Filtros Avanzados <i class="fa fa-sort-down"></i>
      </button>

      <!-- Los filtros avanzados permiten al usuario "filtrar ventas" dependiendo de uno o más criterios, pudiendo estos ser combinables entre sí. -->
      <div id="opciones_filtros_avanzados" class="opciones_filtros row">
        <%= form_tag({ controller: "articulos", action: "consulta_avanzada" }, {:class=> "form-horizontal", :method => :post}) do %>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div style="text-align: left; color: black;">
                Elija un conjunto de criterios para hacer un filtro más detallado.
              </div>
            </div>
          </div>

          <div class="item form-group">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div style="text-align: right;">
                Categoria:
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div style="text-align: right;">
                <%= collection_select(nil, :cat_elegida, @categories, :id, :nombreCatArticulo, {:prompt => 'Elija una categoria'}, { class: "form-control col-md-7 col-xs-12" })%>
              </div>
            </div>
          </div>

          <div class="item form-group">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div style="text-align: right;">
                Marca de producto:
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="text-center">
                <%= collection_select(nil, :marca_elegida, @marcas, :id, :nombre, {:prompt => 'Elija una marca específica'}, { class: "form-control col-md-7 col-xs-12" })%>
              </div>
            </div>
          </div>
          
          <% if can? :create, Negocio %>
            
            <div class="item form-group">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div style="text-align: right;">
                  Sucursal:
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="text-center">
                  <%= collection_select(nil, :suc_elegida, @sucursales, :id, :nombre, {:prompt => 'Seleccione sucursal'}, { class: "form-control col-md-7 col-xs-12" })%>
                </div>
              </div>
            </div>

          <% end %>

          <div class="item form-group">
            <div class="col-md-3 col-sm-6 col-xs-12">
              
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="text-left">
                <%= submit_tag 'Consulta avanzada', {:class=>"btn btn-info"} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div>
        <a href="#" id="test" onClick="javascript:fnExcelReport();">download</a>
        <table class="table table-striped responsive-utilities jambo_table data-table" id="tabla_productos">
          <thead>
            <tr>
              <th class="column-title" style="text-align: center;" >Clave</th>
              <th class="column-title" style="text-align: center;">Nombre</th>
              <th class="column-title" style="text-align: center;">Stock</th>
              <th class="column-title" style="text-align: center;">Existencia</th>
              <th class="column-title" style="text-align: center;">Categoria</th>
              <th class="column-title" style="text-align: center;">Sucursal</th>
              <th class="column-title" style="text-align: center;"></th>
              <th class="column-title" style="text-align: center;"></th>
              
            </tr>
          </thead>

          <tbody id="tb_articulos">
             <%= render @articulos%>
          </tbody>
        </table>
        <%= render 'modalArticulos'%>
        <%= render 'modalCategorias'%>
        <%= render 'modalPresentacionProductos'%>
        <%= render 'modalMarcaProductos'%>
        <%= render 'modalProveedores'%>
      </div>
    </div>
    <div class="table-buttons"></div>

    
  </div>
  <script>

    $(document).ready(function(){

      $("#filtros_avanzados").click(function(e){
        if( $("#opciones_filtros_avanzados").is(":visible") ){
           $(this).html('Filtros Avanzados <i class="fa fa-sort-down"></i>');
        }
        else{
          $(this).html('Filtros Avanzados <i class="fa fa-sort-up"></i>');
        }
        
        $("#opciones_filtros_avanzados").slideToggle("fast");

      });
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        },
        scrollY: "480px",
        scrollCollapse: true,
        //dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });

    });

    function fnExcelReport() {
        
      var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
      tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';

      tab_text = tab_text + '<x:Name>Productos</x:Name>';

      tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
      tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';

      tab_text = tab_text + "<table border='1px'>";
      tab_text = tab_text + $('#tabla_productos').html();
      tab_text = tab_text + '</table></body></html>';

      var data_type = 'data:application/vnd.ms-excel';
        
      var ua = window.navigator.userAgent;
      var msie = ua.indexOf("MSIE ");
        
      if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
          if (window.navigator.msSaveBlob) {
              var blob = new Blob([tab_text], {
                  type: "application/csv;charset=utf-8;"
              });
             navigator.msSaveBlob(blob, 'Test file.xls');
          }
      } else {
          $('#test').attr('href', data_type + ', ' + encodeURIComponent(tab_text));
          $('#test').attr('download', 'Test file.xls');
      }

    }

    /*$(document).on('DOMNodeInserted', 'tr.rowsearch', function (event) {
      if ( document.readyState != 'complete') return;
      window.location.reload(true);
    });*/

    
  </script>
  <%= javascript_include_tag "articulos" %>
</div>
