<tr id="articulo_<%= articulo.id%>">
  <td><%= articulo.clave %></td>
  <td><%if articulo.nombre %>
        <%= articulo.nombre %>
      <% end %>
      <% if articulo.marca_producto  %>
        <%= " marca: "<<articulo.marca_producto.nombre %>
      <% end %>
      <% if articulo.presentacion_producto %>
        <%= " presentación: "<<articulo.presentacion_producto.nombre  %>
      <% end %>
  </td>
  <td class="center-td"><%= articulo.stock %></td>
  <td class="center-td">
    <% if articulo.existencia < articulo.stock %>
    <div style="background: #ff9999; color: red;">
    <%= articulo.existencia %>
    </div>
    <% else %>
    <%= articulo.existencia %>
    <% end %>
  </td>
  <td class="center-td"><%= articulo.cat_articulo ? articulo.cat_articulo.nombreCatArticulo : "No tiene categoria asignada"%></td>


  <td>
    <% if can? :update, articulo %>
      <%= link_to 'Editar', edit_articulo_path(articulo), html_options = {class: "btn btn-info btn-xs", remote: true} %><i class="fa fa-pencil"></i>
    <% end %>
  </td>


  <td>
    <% if can? :destroy, articulo %>
      <%= link_to 'Borrar', articulo, remote: true, method: :delete, data: { confirm: "¿Borrar Producto: #{articulo.nombre}?"}, class: "btn btn-danger btn-xs" %><i class="fa fa-trash-o">
    <% end %>
  </td>
</tr>

