<tr id="articulo_<%= articulo.id%>" class="rowsearch">
  <td class="center-td" width="10%"><%= articulo.clave %></td>
  <td align="justify" width="20%"><%if articulo.nombre %>
        <%= articulo.nombre %>
      <% end %>
      <% if articulo.marca_producto  %>
        <%= " marca: "<<articulo.marca_producto.nombre %>
      <% end %>
      <% if articulo.presentacion_producto %>
        <%= " presentación: "<<articulo.presentacion_producto.nombre  %>
      <% end %>
  </td>
  <td class="center-td" width="10%"><%= articulo.stock %></td>
  <td class="center-td" width="10%">
    <% if articulo.existencia < articulo.stock %>
    <div style="background: #ff9999; color: red;">
    <%= articulo.existencia %>
    </div>
    <% else %>
    <%= articulo.existencia %>
    <% end %>
  </td>
  <td class="center-td" width="15%"><%= articulo.cat_articulo ? articulo.cat_articulo.nombreCatArticulo : "No tiene categoria asignada"%></td>
  <td class="center-td" width="15%"><%= articulo.sucursal.nombre %></td>

  <td class="center-td" width="10%">
    <% if can? :update, articulo %>
      <%= link_to edit_articulo_path(articulo), html_options =  {remote: true, class: "btn btn-primary btn-lg", title: "Editar Artículo"} do %>  
        <span class="fa fa-pencil"></span>
      <% end %>
    <% end %>
  </td>

  <td class="center-td" width="10%">
    <% if can? :create, Merma %>
      <%= link_to url = {controller:"mermas", action:"new", id:articulo.id}, html_options =  {remote: true, class: "btn btn-warning btn-lg", title: "Registrar Merma"} do %>  
        <span class="fa fa-bug"></span>
      <% end %>
    <% end %>
  </td>


  <!--
  <td class="center-td" width="10%">
     if can? :destroy, articulo 
      < link_to 'Borrar', articulo, remote: true, method: :delete, data: { confirm: "¿Borrar Producto: #{articulo.nombre}?"}, class: "btn btn-danger btn-xs" <i class="fa fa-trash-o"></i>
     end 
  </td>-->
</tr>

