<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Categorias de artículos</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="x_panel" style="height: 600px;">
      <p id="notice"><%= notice %></p>

      <h1>Productos</h1>

      <table class="table table-striped responsive-utilities jambo_table">
        <thead>
          <tr>
            <th class="column-title">Clave</th>
            <th class="column-title">Nombre</th>
            <th class="column-title">Descripcion</th>
            <th class="column-title">Stock</th>
            <th class="column-title">Existencia</th>
            <th class="column-title">Categoria</th>
            <th colspan="3" class="column-title"></th>
          </tr>
        </thead>

        <tbody>
          <% @articulos.each do |articulo| %>
            <tr>
              <td><%= articulo.clave %></td>
              <td><%= articulo.nombre %></td>
              <td><%= articulo.descripcion %></td>
              <td><%= articulo.stock %></td>
              <td><%= articulo.existencia %></td>
              <td><%= articulo.cat_articulo_id %></td>
              <td><%= link_to 'Show', articulo %></td>
              <td><%= link_to 'Edit', edit_articulo_path(articulo) %></td>
              <td><%= link_to 'Destroy', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Articulo', new_articulo_path %>
    </div>
  </div>
</div>
