<div class="right_col" role="main">
  <% flash.each do |key, value| %>
    <script>
      $(document).ready(function(){
        new PNotify({
          title: 'Mensaje de la aplicación',
          text: '<%= value %>!',
          type: 'success'
        });
      });
    </script>
  <%end%>

  <div class="page-title">
    <div class="title_left">
      <h1>Productos</h1>
    </div>
  </div>
  <div class="clearfix"></div> 
  <div class="col-md-12 col-sm-12 col-xs-12 ">
  <div class="row">
      <div class="col-ms-12">
        <div class="div-left-buttons">

          <%= link_to url = {controller:"cat_articulos", action:"new"}, html_options =  {remote: true, class: "btn btn-warning btn-lg btn-add btn-circle-lg", title: "crear categoría"} do %>  
            <span class="fa fa-tag" style=""></span>
          <% end %>

          <%= link_to url = {controller:"marca_productos", action:"new"}, html_options =  {remote: true, class: "btn btn-warning btn-lg btn-add btn-circle-lg", title: "crear marca"} do %>  
            <span class="fa fa-apple" style=""></span>
          <% end %>

          <%= link_to url = {controller: "presentacion_productos", action: "new"}, html_options = {remote: true, class: "btn btn-warning btn-lg btn-add btn-circle-lg", id: "presentacion-btn", title: "crear presentación"} do %>  
            <span class="fa fa-cube" style=""></span>
          <%end%>

        </div>

        <div class="div-add-button">

          <%= link_to new_articulo_path, {remote: true, class: "btn btn-info btn-lg btn-add", id: "anadir-articulo-btn"} do %>  
            <span class="glyphicon glyphicon-plus-sign circleglyphicon" style=""></span>
            Añadir Artículo
          <%end%>

        </div>
      </div>
    </div>

    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>

        <table class="table table-striped responsive-utilities jambo_table data-table" id="tabla_productos">
          <thead>
            <tr>
              <th class="column-title">Clave</th>
              <th class="column-title">Nombre</th>
              <th class="column-title">Stock</th>
              <th class="column-title">Existencia</th>
              <th class="column-title">Categoria</th>
              <th class="column-title"></th>
              <th class="column-title"></th>
              
            </tr>
          </thead>

          <tbody id="tb_articulos">
             <%= render @articulos%>
          </tbody>
        </table>
        <%= render 'modalArticulos'%>
        <%= render 'modalCategorias'%>
        <%= render 'modalPresentacionProductos'%>
        <%= render 'modalMarcaProductos'%>
        <%= render 'modalProveedores'%>
      </div>
    </div>
    <div class="table-buttons"></div>

    
  </div>
  <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        },
        scrollY: "480px",
        scrollCollapse: true,
        //dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    });

    //table.buttons().container().appendTo( $('.table-buttons', table.table().container() ) );
    
  </script>
</div>
