<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3>Crear Categoria</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="x_panel" style="height: 600px;">    
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Clave:</strong>
        <%= @articulo.clave %>
      </p>

      <p>
        <strong>Nombre:</strong>
        <%= @articulo.nombre %>
      </p>

      <p>
        <strong>Descripcion:</strong>
        <%= @articulo.descripcion %>
      </p>

      <p>
        <strong>Stock:</strong>
        <%= @articulo.stock %>
      </p>

      <p>
        <strong>Cat articulo:</strong>
        <%= @articulo.cat_articulo_id %>
      </p>

      <p>
        <strong>Cat articulo:</strong>
        <%= @articulo.existencia %>
      </p>

      <%= link_to 'Edit', edit_articulo_path(@articulo) %> |
      <%= link_to 'Back', articulos_path %>
    </div>
  </div>
</div>
